
<md-card class="card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Controles hoy</md-card-title>
    <md-card-subtitle>Eventos que se tienen que realizar hoy</md-card-subtitle>
  </md-card-header>
  <!-- <img md-card-image src="" alt="Photo of a Shiba Inu"> -->
  <md-card-content>
    <!-- <div *ngFor="let alerta of alertas">
      {{alerta.nombre}} {{alerta.fecha}}
      </div> -->
      <mat-expansion-panel>
        <mat-expansion-panel-header> 
              <mat-panel-title>
                {{'Controles'|translate}}
              </mat-panel-title> 
               <mat-panel-description>
               {{controles.length}} {{'Controles'|translate}} {{'para realizar'|translate}}
              </mat-panel-description>
            </mat-expansion-panel-header> 
            

   <md-list *ngFor="let control of controles">
    <md-list-item>
        <span class="elem" [ngClass]="{'onDate':!control.isbeforedate,'beforeOnDate':control.isbeforedate}">             
      {{control.nombre}}
        </span>
    </md-list-item>
   </md-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header> 
                <mat-panel-title>
                  {{'Checklists'|translate}}
                </mat-panel-title> 
                 <mat-panel-description>
                 {{checklists.length}} {{'Checklists'|translate}} {{'para realizar'|translate}}
                </mat-panel-description>
              </mat-expansion-panel-header> 
              
 <md-list *ngFor="let check of checklists">
    <md-list-item>
        <span class="elem" [ngClass]="{'onDate':!check.isbeforedate,'beforeOnDate':check.isbeforedate}"> 
          {{check.nombre}}
        </span>
      
      <!-- {{check.nombrechecklist}} -->
  </md-list-item>
 </md-list> 


</mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header> 
                  <mat-panel-title>
                    {{'Limpiezas'|translate}}
                  </mat-panel-title> 
                   <mat-panel-description>
                   {{limpiezas.length}} {{'Limpiezas'|translate}} {{'para realizar'|translate}}
                  </mat-panel-description>
                </mat-expansion-panel-header> 

 <md-list *ngFor="let limpieza of limpiezas"  dense>
    <md-list-item>
        <span class="elem" [ngClass]="{'onDate':!limpieza.isbeforedate,'beforeOnDate':limpieza.isbeforedate}">               
            {{limpieza.nombre}}
        </span>
  </md-list-item>
 </md-list>   


</mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header> 
                  <mat-panel-title>
                    {{'Mantenimientos'|translate}}
                  </mat-panel-title> 
                   <mat-panel-description>
                   {{mantenimientos.length}} {{'Mantenimientos'|translate}} {{'para realizar'|translate}}
                  </mat-panel-description>
                </mat-expansion-panel-header>

 <md-list *ngFor="let mantenimiento of mantenimientos">
    <md-list-item>
        <span class="elem" [ngClass]="{'onDate':!mantenimiento.isbeforedate,'beforeOnDate':mantenimiento.isbeforedate}">               
      {{mantenimiento.nombre}}
        </span>
  </md-list-item>
 </md-list>  
</mat-expansion-panel>


  </md-card-content>
  <!-- <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions> -->
</md-card>