
<mat-card class="card" [ngStyle]="{'height':altura}">
  <mat-card-header >
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{'Dashboard.controlesHoyT' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'Dashboard.controlesHoyST' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <!-- <div *ngFor="let alerta of alertas">
      {{alerta.nombre}} {{alerta.fecha}}
      </div> -->
      <mat-expansion-panel (closed)="closePanel(0)" (opened)="openPanel(0)">
        <mat-expansion-panel-header> 
              <mat-panel-title>
                {{'Controles'|translate}}
              </mat-panel-title> 
               <mat-panel-description>
               {{controles.length}} {{'Controles'|translate}} {{'para realizar'|translate}}
              </mat-panel-description>
            </mat-expansion-panel-header> 
            

   <mat-list *ngFor="let control of controles">
    <mat-list-item>
        <span class="elem" [ngClass]="{'onDate':!control.isbeforedate,'beforeOnDate':control.isbeforedate}">             
      {{control.nombre}}
        </span>
    </mat-list-item>
   </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel  (closed)="closePanel(1)" (opened)="openPanel(1)">
          <mat-expansion-panel-header> 
                <mat-panel-title>
                  {{'Checklists'|translate}}
                </mat-panel-title> 
                 <mat-panel-description>
                 {{checklists.length}} {{'Checklists'|translate}} {{'para realizar'|translate}}
                </mat-panel-description>
              </mat-expansion-panel-header> 
              
 <mat-list *ngFor="let check of checklists">
    <mat-list-item>
        <span class="elem" [ngClass]="{'onDate':!check.isbeforedate,'beforeOnDate':check.isbeforedate}"> 
          {{check.nombre}}
        </span>
      
      <!-- {{check.nombrechecklist}} -->
  </mat-list-item>
 </mat-list> 


</mat-expansion-panel>
        <mat-expansion-panel  (closed)="closePanel(2)" (opened)="openPanel(2)">
            <mat-expansion-panel-header> 
                  <mat-panel-title>
                    {{'Limpiezas'|translate}}
                  </mat-panel-title> 
                   <mat-panel-description>
                   {{limpiezas.length}} {{'Limpiezas'|translate}} {{'para realizar'|translate}}
                  </mat-panel-description>
                </mat-expansion-panel-header> 

 <mat-list *ngFor="let limpieza of limpiezas"  dense>
    <mat-list-item>
        <span class="elem" [ngClass]="{'onDate':!limpieza.isbeforedate,'beforeOnDate':limpieza.isbeforedate}">               
            {{limpieza.nombre}}
        </span>
  </mat-list-item>
 </mat-list>   


</mat-expansion-panel>

        <mat-expansion-panel  (closed)="closePanel(3)" (opened)="openPanel(3)">
            <mat-expansion-panel-header> 
                  <mat-panel-title>
                    {{'Mantenimientos'|translate}}
                  </mat-panel-title> 
                   <mat-panel-description>
                   {{mantenimientos.length}} {{'Mantenimientos'|translate}} {{'para realizar'|translate}}
                  </mat-panel-description>
                </mat-expansion-panel-header>

 <mat-list *ngFor="let mantenimiento of mantenimientos">
    <mat-list-item>
        <span class="elem" [ngClass]="{'onDate':!mantenimiento.isbeforedate,'beforeOnDate':mantenimiento.isbeforedate}">               
      {{mantenimiento.nombre}}
        </span>
  </mat-list-item>
 </mat-list>  
</mat-expansion-panel>


  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>