
<mat-card class="Dashcard">
  <mat-card-header >
    <mat-card-title  class="dashTitle"> {{'Dashboard.controlesHoyST' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>

      <!-- <mat-expansion-panel (closed)="closePanel(0)" (opened)="openPanel(0)">
        <mat-expansion-panel-header> 
              <mat-panel-title>
                {{'Controles'|translate}}
              </mat-panel-title> 
               <mat-panel-description>
               {{controles.length}} {{'Controles'|translate}} {{'para realizar'|translate}}
              </mat-panel-description>
            </mat-expansion-panel-header> 
            

   <mat-list *ngFor="let control of controles">
    <mat-list-item>
        <span class="elem" [ngClass]="{'onDate':!control.isbeforedate,'beforeOnDate':control.isbeforedate}">             
      {{control.nombre}}
        </span>
    </mat-list-item>
   </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel  (closed)="closePanel(1)" (opened)="openPanel(1)">
          <mat-expansion-panel-header> 
                <mat-panel-title>
                  {{'Checklists'|translate}}
                </mat-panel-title> 
                 <mat-panel-description>
                 {{checklists.length}} {{'Checklists'|translate}} {{'para realizar'|translate}}
                </mat-panel-description>
              </mat-expansion-panel-header> 
              
 <mat-list *ngFor="let check of checklists">
    <mat-list-item>
        <span class="elem" [ngClass]="{'onDate':!check.isbeforedate,'beforeOnDate':check.isbeforedate}"> 
          {{check.nombre}}
        </span>
        </mat-list-item>
 </mat-list> 

</mat-expansion-panel>
        <mat-expansion-panel  (closed)="closePanel(2)" (opened)="openPanel(2)">
            <mat-expansion-panel-header> 
                  <mat-panel-title>
                    {{'Limpiezas'|translate}}
                  </mat-panel-title> 
                   <mat-panel-description>
                   {{limpiezas.length}} {{'Limpiezas'|translate}} {{'para realizar'|translate}}
                  </mat-panel-description>
                </mat-expansion-panel-header> 

 <mat-list *ngFor="let limpieza of limpiezas"  dense>
    <mat-list-item>
        <span class="elem" [ngClass]="{'onDate':!limpieza.isbeforedate,'beforeOnDate':limpieza.isbeforedate}">               
            {{limpieza.nombre}}
        </span>
  </mat-list-item>
 </mat-list>   


</mat-expansion-panel>

        <mat-expansion-panel  (closed)="closePanel(3)" (opened)="openPanel(3)">
            <mat-expansion-panel-header> 
                  <mat-panel-title>
                    {{'Mantenimientos'|translate}}
                  </mat-panel-title> 
                   <mat-panel-description>
                   {{mantenimientos.length}} {{'Mantenimientos'|translate}} {{'para realizar'|translate}}
                  </mat-panel-description>
                </mat-expansion-panel-header>

 <mat-list *ngFor="let mantenimiento of mantenimientos">
    <mat-list-item>
        <span class="elem" [ngClass]="{'onDate':!mantenimiento.isbeforedate,'beforeOnDate':mantenimiento.isbeforedate}">               
      {{mantenimiento.nombre}}
        </span>
  </mat-list-item>
 </mat-list>  
</mat-expansion-panel> -->

<mat-list>
            <mat-list-item > {{'Controles'|translate}} {{'Dashboard.pendientes'|translate}} 
                <div class="balloon" (click)="open(controles)"> {{controles.length}}</div>
            </mat-list-item>
    <!-- <mat-divider></mat-divider> -->
    <mat-list-item> {{'Checklists'|translate}} {{'Dashboard.pendientes'|translate}}
        <div class="balloon" (click)="open(checklists)">{{checklists.length}}</div>
    </mat-list-item>
    <!-- <mat-divider></mat-divider> -->
    <mat-list-item  (click)="open(limpiezas)">{{'Limpiezas'|translate}} {{'Dashboard.pendientes'|translate}}
        <div class="balloon" (click)="open(limpiezas)">{{limpiezas.length}}</div>
    </mat-list-item>
    <!-- <mat-divider></mat-divider> -->
    <mat-list-item  (click)="open(mantenimientos)">{{'Mantenimientos'|translate}} {{'Dashboard.pendientes'|translate}}
        <div class="balloon" (click)="open(mantenimientos)">{{mantenimientos.length}}</div>
    </mat-list-item>
    <!-- <mat-divider></mat-divider> -->
  </mat-list>

  </mat-card-content>

</mat-card>

<div class="modalPanel" *ngIf="items.length">
  <div class="modalWindowDashboard">
      <div  class="tooltip botonCerrar" matTooltip="{{'cerrar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">
          <button  top-left color="accent" mat-mini-fab (click)="close()"><mat-icon>skip_previous</mat-icon></button>
          </div>
      <div  class="tooltip botonCerrarmodalWindow" matTooltip="{{'cerrar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">        
          <button color="accent" mat-mini-fab (click)="close()"><mat-icon>cancel</mat-icon></button>
          </div>

          <mat-list *ngFor="let item of items">
              <mat-list-item>
                  <span class="elem" [ngClass]="{'onDate':!item.isbeforedate,'beforeOnDate':item.isbeforedate}">               
                {{item.nombre}}
                  </span>
            </mat-list-item>
           </mat-list>  

  </div>
</div>