<mat-toolbar color="accent">Importar checklists 
&nbsp;
  <button mat-raised-button color="primary" (click)="creaLimpiezas()">Convertir</button>&nbsp;
  <button mat-raised-button color="primary" (click)="finMigraLimpiezas('cancelado')">Cancelas</button> &nbsp;
  <button mat-raised-button color="primary" (click)="finMigraLimpiezas('cerrar')">Cerrar</button>
</mat-toolbar>



<div class="zona" *ngFor="let item of zonas; let i = index">
  <div class="yellow full-width">
    <mat-checkbox   [disabled]="checklists[i].migrado == 1"  [indeterminate]="checklists[i].migrado == 1" class="example-margin" (click)="cambiaEstadoZona(i)" [(ngModel)]="migrarList[i]['migrar']">
      <span *ngIf="migrarList[i]['migrado']">ok- </span>
      {{item.nombre}}
      </mat-checkbox>

  </div>
<span *ngIf="limpiezas[i]">
  <div class="elemento" *ngFor="let limpieza of limpiezas[i]['Alimpiezas']; let x = index">
    <span class="migra-cell"><mat-checkbox [disabled]="limpiezas[i]['AcontrolChecklist'][x].migrado == 1" [indeterminate]="limpiezas[i]['AcontrolChecklist'][x].migrado == 1" (click)="verLimpieza(limpieza)" [(ngModel)]="limpiezas[i]['migracion'][x]['migrar']" class="example-margin">
      <span *ngIf="limpiezas[i]['migracion'][x]['migrado']">ok- </span>
      <div class="migra-element-titulo">{{limpieza.nombre}}</div>
      </mat-checkbox></span>
        <span class="migra-cell">
      <p-calendar placeholder="fecha" [(ngModel)]="limpieza.fecha" [locale]="es" dateFormat="dd/mm/yy"  name="fecha"></p-calendar>
    </span>
        <span class="migra-cell">
      <periodicidad (periodo)="setPeriodicidad($event, limpieza.id, i, x)" [miperiodo]="limpieza.periodicidad" [fechaPrevista]="limpieza.fecha" name="periodicidad"></periodicidad>
    </span>
    <span class="small migra-cell">
        <select class="white-select small" required [(ngModel)]="limpieza.tipo" name="tipo">
        <option value="interno">{{'interno' | translate}}</option>
        <option value="externo">{{'externo' | translate}}</option>
      </select>
    </span>
     <span class="migra-cell">
    <select-productos name="productos" [elementoLimpieza]="0" (selectedProductsChange)="setProducts($event,i,x)"></select-productos>
 </span>

    <span class="migra-cell">
      <input [placeholder]="'responsable' | translate" type="text" [(ngModel)]="limpieza.responsable" name="responsable">
    </span>
  </div>
</span>
</div>

<mat-toolbar color="accent">Importar checklists 
&nbsp;
  <button mat-raised-button color="primary" (click)="creaLimpiezas()">Convertir</button>&nbsp;
  <button mat-raised-button color="primary" (click)="finMigraLimpiezas('cancelado')">Cancelas</button> &nbsp;
  <button mat-raised-button color="primary" (click)="finMigraLimpiezas('cerrar')">Cerrar</button>
</mat-toolbar>

