.medium{
  max-width: 100px;
  min-width: 100px;
}

.contenido{
     min-height: 850px; 
}

.tabs{
  min-height: 430px;
    display: flex;
}
md-grid-tile-header{
    height: 25px !important;
    color: #000;
    z-index:2;
}
md-grid-tile{
    z-index:1;
}

.fichaCliente{
    margin-left: 50px;
    width: 700px;
}
.but{
    float: left;
    margin-top: 30px;

}

.traza{
    /*display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index:999;
    width: 100%;
    min-width: 800px;
    background-color: #fff;
    width: 100vw;
    */
    position: fixed;
    top: 0;
    left: 0;
    /* width:1800px; */
    width:100%;
    /* height: 100vh; */
    background: #fff;
    z-index: 10;
    overflow-y: scroll;

}
.close-button{
    display:block;
    float: left;
    position: absolute;
    top:65px;
    left:0px;
}