  <mat-card>
    <mat-card-title>
      <mat-toolbar color="accent" class="toolbar-principal">{{'menu.clientes' | translate}}
        <listado-clientes (itemSeleccionado)="seleccionCliente($event)"></listado-clientes>
      </mat-toolbar>
    </mat-card-title>
 <mat-card-subtitle>
   <div class="w80">
   
   </div>
   <div class="w20">
     <!--<button mat-raised-button (click)="familias = !familias">{{'proveedores.familias' | translate}}</button>-->
   </div>

 </mat-card-subtitle>

 <div class="contenido">
   <!--<calendarios-limpieza *ngIf="calendario" [maquinas]="maquinas" (newLimpiezaRealizada)="nuevaLimpiezaRealizada($event)"></calendarios-limpieza>-->
   <!--<familias-producto *ngIf="familias"></familias-producto>-->
 <mat-toolbar color="accent" *ngIf="cliente && cliente.id >0"><h2 class="center" >{{cliente.nombre}}</h2></mat-toolbar>
<mat-tab-group *ngIf="cliente && cliente.id > 0" [dynamicHeight]="false">
  <mat-tab label="{{'clientes.ficha' | translate}}"><span class="space"></span><ficha-cliente class="tabs"  [cliente]="cliente" *ngIf="cliente"></ficha-cliente></mat-tab>  
<mat-tab label="{{'clientes.entregaproductos' | translate}}"><span class="space"></span><entrega-productos class="tabs" [cliente]="cliente" *ngIf="cliente"></entrega-productos></mat-tab>  
</mat-tab-group>
 </div>
  </mat-card>