<div class="table">
<form (ngSubmit)="updateItem(myItem.value)" #myItem="ngForm">
    <mat-grid-list cols="3" rowHeight="65px">
        <mat-grid-tile [colspan]="3">
            <mat-grid-tile-header>{{"clientes.nombre" | translate}}
            </mat-grid-tile-header>
            <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" md-input class="campo" [placeholder]="'proveedores.Nombre' | translate" type="text"
                required [(ngModel)]="cliente.nombre" name="nombre">
        </mat-grid-tile>



        <mat-grid-tile>
            <mat-grid-tile-header>{{"clientes.contacto" | translate}}
            </mat-grid-tile-header>
            <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" md-input class="campo" [placeholder]="'proveedores.contacto' | translate" type="text"
                [(ngModel)]="cliente.contacto" name="contacto">
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-grid-tile-header>{{"clientes.telf" | translate}}
            </mat-grid-tile-header>
            <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" md-input class="campo" [placeholder]="'proveedores.telf' | translate" type="text"
                [(ngModel)]="cliente.telf" name="telf">
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-grid-tile-header>{{"clientes.email" | translate}}
            </mat-grid-tile-header>
            <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" md-input class="campo" [placeholder]="'proveedores.email' | translate" type="text"
                [(ngModel)]="cliente.email" name="email">
        </mat-grid-tile>

    </mat-grid-list>


    <div  class="botones">
    <span class="but">
        <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-raised-button color="accent" [disabled]="!myItem.form.valid" type="submit">
          <!--<span class="material-icons">save</span>-->{{'maquinas.guardar' | translate}}
    </button>
    </span>
    </div>
</form>
</div>