<!--<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<div class="cabeceraItems">
  <form>
    <select #choicer (change)="seleccionarItem($event.target.value)">
      <option *ngFor="let item of items; let i = index" [value]="i">
        {{item.nombre}}
      </option>
    </select>
  </form>
      <button mat-mini-fab color="primary" (click)="addItem()" type="button">
          <span class="material-icons">add</span>
        </button>
        <button mat-mini-fab color="primary" (click)="modificarItem()" type="button" [disabled]="!(itemActivo > 0)">
          <span class="material-icons">edit</span>
        </button>
        <button mat-mini-fab color="warn" (click)="eliminarItem()" type="button" [disabled]="!(itemActivo > 0)">
          <span class="material-icons">delete_forever</span>
        </button>
</div>
<div class="modal" *ngIf="modificaItem || nuevoItem">
  <div class="modal-window modificar">
  
          <h2 class="center"  *ngIf="modificaItem">{{ 'clientes.modificar' | translate }}</h2>
          <h2 class="center"  *ngIf="nuevoItem">{{ 'clientes.crear' | translate }}</h2>
          <input [placeholder]="'Nombre' | translate" type="text" required [(ngModel)]="nuevoNombre">
          <hr>
          <button mat-mini-fab color="accent" [disabled]="!nuevoNombre" (click)="modificar()" *ngIf="modificaItem">
          <span class="material-icons">check</span>
        </button>
          <button mat-mini-fab color="accent" [disabled]="!nuevoNombre" (click)="crearItem(nuevoItem)" *ngIf="nuevoItem">
          <span class="material-icons">add</span>
        </button>
          <button mat-mini-fab color="accent" (click)="modificarItem()">
          <span class="material-icons">close</span>
        </button>
  </div>
</div>-->

<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<div class="cabeceraItems">
  <form>
    <mat-select class="cabeceraSelect" placeholder="selecciona"  #choicer  (selectionChange)="seleccionarItem($event)">
      <mat-option *ngFor="let item of items; let i = index" [value]="i">
        {{item.nombre}}
      </mat-option>
    </mat-select>
  </form>
        <button *ngIf="(empresasService.administrador || empresasService.userTipo == 'Gerente')" mat-mini-fab color="primary" (click)="addItem()" type="button">
          <span class="material-icons">add</span>
        </button>
        <button *ngIf="(empresasService.administrador || empresasService.userTipo == 'Gerente')" mat-mini-fab color="primary" (click)="modificarItem()" type="button" [disabled]="!(itemActivo > 0)">
          <span class="material-icons">edit</span>
        </button>
        <button *ngIf="(empresasService.administrador || empresasService.userTipo == 'Gerente')" mat-mini-fab color="warn" (click)="eliminarItem()" type="button" [disabled]="!(itemActivo > 0)">
          <span class="material-icons">delete_forever</span>
        </button>
</div>

<!--**************** POP UP OPCIONES -->
<div class="modal" *ngIf="modificaItem || nuevoItem">
  <div class="modal-window modificar">
  
          <h2 class="center"  *ngIf="modificaZona">{{ 'modificar' | translate }}</h2>
          <h2 class="center"  *ngIf="novaLimpieza">{{ 'limpieza.nueva'  | translate }}</h2>
          <input [placeholder]="'Nombre' | translate" type="text" required [(ngModel)]="nuevoNombre">
          <hr>
          <button mat-mini-fab color="accent" [disabled]="!nuevoNombre" (click)="modificar()" *ngIf="modificaItem">
          <span class="material-icons">check</span>
        </button>
          <button mat-mini-fab color="accent" [disabled]="!nuevoNombre" (click)="crearItem(nuevoItem)" *ngIf="nuevoItem">
          <span class="material-icons">add</span>
        </button>
          <button mat-mini-fab color="accent" (click)="modificarItem()">
          <span class="material-icons">close</span>
        </button>
  </div>
</div>