  
  <mat-card>
    <mat-card-title>
        <div #toPDFTitle>
      <mat-toolbar color="accent">{{'trazabilidad.Trazabilidad' | translate}} {{'trazabilidad.lote' | translate}} {{orden.numlote}}
      </mat-toolbar>
        </div>
    </mat-card-title>
 <mat-card-subtitle>
 <div class="botones">
        <button  mat-mini-fab color="accent" (click)="askOrientacion()" type="button">
          <span class="material-icons">picture_as_pdf</span>
    </button>
            <!--<button  mat-mini-fab color="accent" (click)="doInforme()" type="button">
          <span class="material-icons">picture_as_pdf</span>
    </button>-->
 </div>
 </mat-card-subtitle>

<div #toPDF class="arbol" [ngStyle]="{'width': widthArbol, 'overflow-y':'scroll'}">
    <mat-card>
                <mat-card-title>
            {{'trazabilidad.Arbol' | translate}}
    <!--Selected Node: {{selectedFile3 ? selectedFile3.label : 'none'}}-->
        </mat-card-title>
<p-tree [value]="tree" layout="horizontal" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
        
<!--<p-tree [value]="tree" styleClass="miarbol" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>-->
    </mat-card>
</div>
<div #toPDF2 class="info" *ngIf="selectedNode || informe">
    <mat-card *ngFor="let card of msgs; let i = index">
        <mat-card-title>
    <button  mat-mini-fab color="accent" (click)="closeFicha(i)" type="button">
          <span class="material-icons">remove_circle_outline</span>
    </button>
           {{ card.label }}
           
    <!--Selected Node: {{selectedFile3 ? selectedFile3.label : 'none'}}-->
        </mat-card-title>
        
        <!--{{'num traspaso' }} : {{card.data.level}}<br>-->
        <span *ngIf="card.data.proveedor">{{'trazabilidad.proveedor'| translate}} : {{card.data.proveedor}}<br></span>
        <span *ngIf="card.data.cliente && card.data.cliente>0">{{'produccion.cliente'| translate}} : {{card.cliente}}<br></span>
        <!--<span *ngIf="card.data.numlote_proveedor">{{'Lote de Proveedor' | translate}} : {{card.data.numlote_proveedor}}<br></span>-->
        <!--<span *ngIf="card.data.proveedor">{{'proveedor' | translate}} : {{card.proveedor}}<br></span>-->
        <span *ngIf="card.data.almacen && card.data.almacen > 0">{{'trazabilidad.tanque' | translate}} : {{card.almacen}}<br></span>
        <span *ngIf="card.data.cantidad && card.data.cantidad > 0">{{'produccion.cantidad' | translate}} : {{card.cantidad}}<br></span>
        <span *ngIf="card.data.fecha_inicio_orden">{{'trazabilidad.fecha orden' | translate}} : {{card.data.fecha_inicio_orden | date:"dd-MM-yyyy"}}<br></span>
        <span *ngIf="card.data.fecha_caducidad && card.data.fecha_caducidad!='Invalid Date' && card.nivel == '2' ">{{'produccion.fecha_caducidad' | translate}} : {{card.data.fecha_caducidad  | date:"dd-MM-yyyy"}}<br></span>
        {{'trazabilidad.origen' | translate}}: {{card.procedencia}}<br>
         <span *ngIf="card.data.cantidad_remanente_origen && card.data.fecha_inicio_orden > '2017-08-20'">{{'trazabilidad.remanente_origen' | translate}}: {{card.cantidad_remanente_origen}}<br></span>
        <!--{{message}}-->
        </mat-card>
        <!--<mat-card >
            {{informe}}
        </mat-card>-->
</div>


<div *ngIf="orientacion" class="orientacionWindow">
    <span style="position:relative;top:60px">
    <mat-radio-group [(ngModel)]="orientado">
        <mat-radio-button value="portrait">Vertical</mat-radio-button>
        <mat-radio-button value="landscape">Horizontal</mat-radio-button>
      </mat-radio-group>
      <BR>
      <button style="position:relative;top:40px" mat-raised-button color="accent" (click)="downloadPdf()">Ok</button>
      </span>
</div>