.arbol{
    width: 40%;
    float: left;
    background-color: #fff;
    position: relative;
    margin-left: 25px;
}

.info{
    width: 40%;
    float: left;
    background-color: #fff;
    position: relative;
    margin-left: 25px;
}