.card{
    display: block;
    float: left;
    width: 500px;
    height: 280px;
    padding: 55px 30px 20px 30px;
    margin: 1px 10px 30px 10px;
}
.cardAdmin{
    display: block;
    float: left;
    width: 320px;
    height: 280px;
    padding: 55px 30px 20px 30px;
    margin: 1px 10px 30px 10px;
}
.example-header-image {
    background-image: url('../../../assets/images/logo.jpg');
    background-size: cover;
  }
.companyDash{
    width: 100%;
    display: inline-block;
    min-width: 1100px !important;
    background-color: rgba(238, 234, 245, 0.9) !important;
    border: #6739b6 solid 1px;
    /* padding-top: 25px; */
    border-radius: 5px;
}
.adminDash{
    width: 100%;
    min-width: 1170px !important;
    display: inline-block;
    background-color: #fff9c4;
    /* border: 1px solid orange; */
    border: 1px solid #fed22f;
    border-radius: 5px;
}