.ficha{
    position: absolute;
    margin-top:  5%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 15px;
    width: 80%;
    min-height: 80%;
    background-color: #fff
}
.fieldSet{
    margin-top: 15px;
}

.contenido{
    margin-left:50px;
    min-height: 500px;
    overflow: auto;
}

.opcionBoton{
    margin-left:6px;
    margin-top:25px;
  }



