<div class="modal" *ngIf="planRealizado">
  <div class="ficha">
    <!-- <button color="accent" md-raised-button (click)="planRealizado=NULL">{{'planificaciones.cerrar' | translate}}</button> -->
    <app-plan-realizado class="tabs" [planRealizado]="planRealizado" (opnenedmodal)="planRealizado=$event"></app-plan-realizado>
  </div>
</div>
<md-card>
    <md-card-title>
      <md-toolbar color="accent">{{'planificaciones.planificaciones' | translate}}

      </md-toolbar>
    </md-card-title>
 <md-card-subtitle>

  <!-- <div class="calendarios">
  <button color="accent" md-raised-button (click)="calendarios()">{{'planificaciones.calendarios' | translate}}</button>
  <button color="accent" md-raised-button (click)="familias()">{{'planificaciones.familias' | translate}}</button>
  <button color="accent" md-raised-button (click)="permisos()">{{'planificaciones.permisos' | translate}}</button>
   </div> -->
  <div class="botonera">
    
     <div  class="tooltip" mdTooltip="{{'planificaciones.calendario' | translate}}" [mdTooltipPosition]="'after'">
      <button class="opcionBoton" [ngClass]="{'selected': subMenu == 'calendario'}" color="accent" md-mini-fab (click)="cambioMenu('calendario')"><md-icon>date_range</md-icon></button> 
      </div>

   <!-- <div class="tooltip" mdTooltip="{{'planificaciones.familias' | translate}}" [mdTooltipPosition]="'after'">
  <button class="opcionBoton" [ngClass]="{'selected': subMenu == 'calendario'}" color="accent" md-mini-fab (click)="cambioMenu('familia')"><md-icon>group</md-icon></button>
</div> -->

   <div class="tooltip" mdTooltip="{{'planificaciones.permisos' | translate}}" [mdTooltipPosition]="'after'">
  <button class="opcionBoton" [ngClass]="{'selected': subMenu == 'permiso'}" color="accent" md-mini-fab (click)="cambioMenu('permiso')"><md-icon>vpn_key</md-icon></button>
  </div>

   <div class="tooltip" mdTooltip="{{'planificaciones.alertas' | translate}}" [mdTooltipPosition]="'after'">
  <button class="opcionBoton" [ngClass]="{'selected': subMenu == 'alerta'}" color="accent" md-mini-fab (click)="cambioMenu('alerta')"><md-icon>notifications_active</md-icon></button>
  </div>
   </div>
 </md-card-subtitle>

 <div class="contenido">
   <md-sidenav-container class="example-container">
  <md-sidenav  #sidenavCalendar (close)="closeSideNav()" class="example-sidenav" [mode]="'over'">
       <div class="tooltip botonCerrar" mdTooltip="{{'cerrar' | translate}}" [mdTooltipPosition]="'before'">
  <button  color="accent" md-mini-fab (click)="cerrarSideNav()"><md-icon>close</md-icon></button>
  </div>
   <calendarios-planificaciones *ngIf="calendario"  (nuevoPlanRealizado)="nuevoPlanRealizado($event)"></calendarios-planificaciones>
<!-- 
   <app-familias-planificaciones *ngIf="familia"  (onFamilias)="actulizaFamilias($event)"></app-familias-planificaciones>
    -->
   <app-permisos *ngIf="permiso" [tipoControl]="'planes'" [items]="planes"  (onPermisos)="actulizaPermisos($event)"></app-permisos>
   
   <app-alertas *ngIf="alerta"   (onAlertas)="actulizaAlertas($event)"></app-alertas>
   
  </md-sidenav> 
        <!--<listado-planificaciones (planSeleccionada)="seleccionPlan($event)" (listaPlanes)="loadPlanes($event)"></listado-planificaciones>-->
   <div class="example-sidenav-content">
<md-tab-group [dynamicHeight]="false">

  <md-tab label="{{'planificaciones.planificaciones' | translate}}"><span class="space"></span><app-planes id="testid" class="tabs" (listaPlanes)="loadPlanes($event)"></app-planes></md-tab>
  <!-- <md-tab label="{{'planificaciones.planificaciones_realizadas' | translate}}"><span class="space"></span><app-planes-realizados class="tabs" [nuevo]="nuevoPlanRealizado" [plan]="'normal'" (planRealizado)="seleccionPlanRealizado($event)"></app-planes-realizados></md-tab>   -->
  <md-tab label="{{'planificaciones.planificaciones_realizadas' | translate}}"><span class="space"></span><app-planes-realizados class="tabs" [nuevo]="newPlanRealizado"  (planRealizado)="seleccionPlanRealizado($event)"></app-planes-realizados></md-tab>

</md-tab-group>
   </div><!--   Fin example-sidenav-content  -->
 </md-sidenav-container>
 </div>
  </md-card>