.ficha{
    position: absolute;
    margin-top:  5%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 15px;
    width: 80%;
    min-height: 80%;
    background-color: #fff
}
.fieldSet{
    margin-top: 15px;
}

.contenido{
    margin-left:50px;
    min-height: 1500px;
    /* overflow: auto; */
}
.tabs{
    min-height: 1100px;
    /* height: 300vh; */
      display: flex;
      min-width: 1100px;
      float: left;
      overflow-x: hidden;
      overflow-y: hidden;
  }
  
.opcionBoton{
    margin-left:6px;
    margin-top:25px;
    display: block;
  }



