
  <modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
  <div class="modal" *ngIf="procesando">
      <mat-spinner></mat-spinner>
  </div>
  <div class="modal" *ngIf="modal2">
          <div class="foto-window" (click)="cerrarFoto()">
              <span class="close material-icons" (click)="cerrarFoto()">close</span>
              <div class="foto">
                <img src="{{fotoSrc}}">
              </div>
          </div>
        </div>

  
  <p-table #dt [columns]="cols" [value]="incidencias" 
  (onEdit)="onEdit($event)"  (onRowExpand)="rowExpanded($event)" (onRowCollapse)="rowCollapsed($event)" 
  [csvSeparator]="';'" [exportFilename]="'Incidencias'"
      dataKey="id" (onRowExpand)="expandedRow($event)"  [(selection)]="selectedItem" 
      (onSort)="onRowSelect($event,dt)" sortField="fecha" [sortOrder]="-1" 
      [paginator]="true" [rows]="25" [first]="tablaPosition" [pageLinks]="5" [rowsPerPageOptions]="[5,10,25,50,100]">
      <ng-template pTemplate="caption">
            <div style="text-align:left;margin-left:10px">
              <!-- <button *ngIf="!newRow" type="button" pButton icon="fa fa-plus" (click)="openNewRow()" label="{{'add' | translate}}"></button>
              <button *ngIf="newRow" type="button" pButton icon="fa fa-minus" (click)="openNewRow()" label="{{'cerrar' | translate}}"></button> -->
              <button type="button" pButton icon="fa fa-save" iconPos="left" label="{{'guardarTodo' | translate}}" (click)="saveAll()" style="margin-left:10px"></button>
              <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="{{'Download' | translate}}" (click)="exportarTable()" style="margin-left:10px;float:right"></button>
        
            </div>
          </ng-template>
      <!-- <ng-template pTemplate="header" let-columns>

          <tr class="header-row">
              <th style="width: 2.25em"></th>
              <th style="width:200px" class="header-cell">{{"incidencia.incidencia" | translate}}</th>
              <th style="width:120px" class="medium header-cell">{{"incidencia.estado" | translate}}</th>            
              <th style="width:100px" class="medium header-cell">{{"incidencia.origen" | translate}}</th>
              <th style="width:90px" class="medium header-cell">{{"incidencia.responsable" | translate}}</th>              
              <th style="width:120px" class="header-cell" [pSortableColumn]="fecha">{{"incidencia.fecha" | translate}}
                    <p-sortIcon [field]="fecha"></p-sortIcon>
              </th>
              <th style="width:90px" class="medium header-cell">{{"incidencia.r_cierre" | translate}}</th>
              <th style="width:120px" class="header-cell">{{"incidencia.fecha_cierre" | translate}}</th>              

              <th style="width:140px; min-width: 140px" class="medium header-cell">{{"acciones" | translate}}</th>
          </tr>
      </ng-template> -->
  <!-- ********* INICIO CABECERA-->
  <ng-template pTemplate="header" let-columns>
        <span style="display:table-row">
          <th style="width: 3em"></th>
           <!--************ ORDEN ***************************-->
           <!-- <th style="width:50px">
                    <mat-icon>import_export</mat-icon>
          </th> -->
         <!--************ FIN ORDEN ***************************-->
          <th  *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width+'px'">
            {{col.header | translate}}
            <p-sortIcon *ngIf="col.orden" [field]="col.field"></p-sortIcon>
          </th>
          <th [style.width]="'140px'">
            {{'acciones' | translate}}
          </th>
        </span>
      </ng-template>
      <!-- ********* FIN CABECERA   ***-->
      <!-- <ng-template pTemplate="body" let-item let-i="rowIndex" let-columns="columns" let-expanded="expanded">
          <tr [pSelectableRow]="item"  [ngClass]="{'rowImpar':i%2==0,'rowPar':i%2!=0, 'expandSelected':expanded}">
              <td>
                  <span [pRowToggler]="item">
                      <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
                  </span>
              </td>
              <td pEditableColumn>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input type="text" [(ngModel)]="item.incidencia" (keypress)="itemEdited(item.id)">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{item.incidencia}}
                      </ng-template>
                  </p-cellEditor>
              </td>

              <td pEditableColumn>
                <mat-form-field style="width:100px;">
                        <mat-select style="width:100px;" [ngStyle]="{'border-style':'solid','border-color':getColor(item.estado)}" [(ngModel)]="item.estado" (selectionChange)="changeItem($event,item.id,'estado')">
                          <mat-option  *ngFor="let estado of estados" value="{{estado.valor}}">
                            {{ estado.nombre }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
              </td>
          <td pEditableColumn>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input type="text" [(ngModel)]="item.origen">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{'incidencia.'+item.origen | translate}}
                      </ng-template>
                  </p-cellEditor>
              </td>



              <td pEditableColumn>
                <mat-form-field style="width:90px;">
                    <mat-select style="width:87px;" [(ngModel)]="item.responsable"  (selectionChange)="changeItem($event,item.id,'responsable')">
                      <mat-option  *ngFor="let usuario of usuarios" value="{{usuario.id}}">
                        {{ usuario.usuario }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
      </td>
              <td pEditableColumn [style]="{'width':'110px','text-align': 'center'}">
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <p-calendar #cal appendTo="body" [inputStyle]="{'width':'140px'}" class="medium" [(ngModel)]="item.fecha" [locale]="es" dateFormat="dd/mm/yy"
                              hourFormat="24" [showTime]="true" (onSelect)="itemDateEdited(item.id,item.fecha,$event)" name="fecha">
                              <p-footer>
                                  <button pButton type="button" (click)="okDate(cal)" icon="fa-check" style="margin-left:45%"></button>
                              </p-footer>
                              <ng-template pTemplate="date" let-date>
                                  <span [ngStyle]="{backgroundColor: (date.day == selectedDay) ? '#7cc67c' : 'inherit'}" style="border-radius:50%">{{date.day}}</span>
                              </ng-template>
                          </p-calendar>
                      </ng-template>
                      <ng-template pTemplate="output">
                          <span *ngIf="modo!='export'">{{item.fecha | date:"dd-MM-yyyy hh:mm"}}</span>
                      </ng-template>
                  </p-cellEditor>
              </td>

            <td pEditableColumn>
                    <mat-form-field style="width:90px;">
                            <mat-select style="width:87px;" [(ngModel)]="item.responsable_cierre"  (selectionChange)="changeItem($event,item.id,'responsable_cierre')">
                              <mat-option  *ngFor="let usuario of usuarios" value="{{usuario.id}}">
                                {{ usuario.usuario }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
            </td>
            <td pEditableColumn [style]="{'width':'110px','text-align': 'center'}">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-calendar #cal appendTo="body" [inputStyle]="{'width':'140px'}" class="medium" [(ngModel)]="item.fecha_cierre" [locale]="es" dateFormat="dd/mm/yy"
                            hourFormat="24" [showTime]="true" (onSelect)="itemDateEdited(item.id,item.fecha,$event)" name="fecha_cierre">
                            <p-footer>
                                <button pButton type="button" (click)="okDate(cal)" icon="fa-check" style="margin-left:45%"></button>
                            </p-footer>
                            <ng-template pTemplate="date" let-date>
                                <span [ngStyle]="{backgroundColor: (date.day == selectedDay) ? '#7cc67c' : 'inherit'}" style="border-radius:50%">{{date.day}}</span>
                            </ng-template>
                        </p-calendar>
                    </ng-template>
                    <ng-template pTemplate="output" *ngIf="modo!='export'">
                        <span *ngIf="modo!='export'">{{item.fecha_cierre | date:"dd-MM-yyyy hh:mm"}}</span>
                    </ng-template>
                </p-cellEditor>
            </td> -->



            <div class="tableContent">
                    <ng-template pTemplate="body" let-item let-columns="columns" let-i="rowIndex" let-expanded="expanded">
                      <!--let-expanded="expanded" -->
                      <tr [pSelectableRow]="item" [ngClass]="{'rowImpar':i%2==0,'rowPar':i%2!=0, 'expandSelected':expanded}">
                        <td><span *ngIf="expanded!=null">
                            <a disabled href="#" [pRowToggler]="item">
                              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                            </a></span>
                        </td>
                        <!--************ ORDEN ***************************-->
                        <!-- <td>    
                        <div class="orden" >
                            <p-spinner size="5" [(ngModel)]="item.orden" [min]="1" [max]="items.length"  (onChange)="editOrden()"></p-spinner> 
                        </div>  
                      </td>    -->
                    <!--************ FIN ORDEN ***************************-->
                        <td *ngFor="let col of columns" [ngClass]="{'rowRegistro':true}" [pEditableColumn]="item" [pEditableColumnField]="col">
                            <span *ngIf="col.type == 'dropdown'">
                                <p-dropdown  [options]="getOptions([col.field])" [(ngModel)]="item[col.field]" appendTo="body" [style]="{'width':'110px'}"
                                  (onChange)="itemEdited(item.id)"></p-dropdown>
                              </span>
                              <span *ngIf="col.type == 'periodicidad'">
                                <span class="tooltip" matTooltip="{{'maquinas.periodicidad' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                                [matTooltipPosition]="'right'">
                                <button [disabled]="!item['fecha']" color="accent" type="button" [ngClass]="{'alert': alert }" mat-mini-fab (click)="openPeriodicidad(item)">
                                  <span class="material-icons">event</span>
                                </button>
                              </span>
                            </span>
                              <!--*****  subir/ver FOTO  *********-->
                              <span *ngIf="col.type == 'foto'">
                                  <span class="tooltip middle" matTooltip="{{'verFoto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                                    [matTooltipPosition]="'left'">
                                    <button class="camera" *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'"
                                      [disabled]="!item.doc" mat-mini-fab color="color" (click)="photoURL(i,'doc')" type="button">
                                      <span class="material-icons">photo_camera</span>
                                    </button>
                                  </span>
                                  <span class="tooltip middle" matTooltip="{{'subirFoto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                                    [matTooltipPosition]="'left'">
                                    <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" class="inputlabelRound"
                                      attr.for="{{'doc'+i}}"></label>
                                    <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" id="{{'doc'+i}}"
                                      class="inputfile" type="file" (change)="uploadImg($event, item.id,i,'doc')" accept=".gif,.jpg,.jpeg,.png,.pdf,.doc,.docx,.xls,.xlsx" />
                                  </span>
                                </span>
                                <!--****** FIN ********************-->
                          <p-cellEditor>
                            <!-- ********* VER DATA   ***-->
                            <ng-template pTemplate="output">
                              <span *ngIf="col.type =='std'">
                                {{item[col.field]}}
                              </span>
                                <span *ngIf="col.type == 'fecha'">
                                    {{item[col.field] | date:"dd-MM-yyyy"}}
                              </span>
                            </ng-template>
                            <!-- ********* EDIT DATA   ***-->
                            <ng-template pTemplate="input">
                              <span *ngIf="col.type == 'std'">
                                <input pInputText type="text" [(ngModel)]="item[col.field]" [style.width]="(col.width -7)+'px'">
                              </span>
                              <span *ngIf="col.type == 'fecha'">
                                <p-calendar [defaultDate]="" appendTo="body" [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item[col.field]"
                                  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha)" name="fecha"></p-calendar>
                              </span>
                              <!--****** FIN ********************-->
                            </ng-template>
                          </p-cellEditor>
                        </td>
                  
                        <!--*****  ACCIONES  *********-->
              <td>
                  <span class="cell tooltip" matTooltip="{{'eliminar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">
                      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" (click)="checkBorrar(item.id)"
                          type="button">
                          <span class="material-icons">close</span>
                      </button>
                  </span>
                  <span #saveTT="matTooltip" class="cell tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                      [matTooltipPosition]="'right'">
                      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" [disabled]="!guardar[item.id]"
                          (click)="saveItem(item,i)" type="button">
                          <span class="material-icons">check</span>
                      </button>
                  </span>
                  <span #saveTT="matTooltip" class="cell tooltip" matTooltip="{{'incidencia.Goto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                      [matTooltipPosition]="'right'" (click)="test(item)">
                      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" [disabled]="item.idOrigen==0"
                          type="button" (click)="gotoOrigen(item)">
                          <span class="material-icons">golf_course</span>
                      </button>
                  </span>
              </td>

          </tr>
      </ng-template>
            </div>
      <ng-template pTemplate="rowexpansion" let-item let-columns="columns">
            <tr [ngClass]="{'expandSelected':expanded}">
                    <td [attr.colspan]="columns.length + 2">
          <!-- <div style="width:750px"> -->
     <span class="plan_descripcion">
          <!-- <p-panel [style]="{'width':'400px','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'incidencia.descripcion' | translate}}"> -->
                <div [style]="{'width':'100%','height':'225px','margin':'0 1%', 'float':'left'}">
                        <h4>{{'incidencia.descripcion' | translate}}</h4>
          <textarea [rows]="8" [cols]="44" pInputTextarea  placeholder="{{'introducirtexto' | translate}}" [(ngModel)]="item.descripcion" name="descripcion" (keyup)="itemEdited(item.id)"></textarea>
                </div>
          <!-- </p-panel> -->
      </span>

     <span class="plan_descripcion">
        <!-- <p-panel [style]="{'width':'400px','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'incidencia.solucion' | translate}}"> -->
                <div [style]="{'width':'100%','height':'225px','margin':'0 1%', 'float':'left'}" >
                        <h4>{{'incidencia.solucion' | translate}}</h4>
        <textarea [rows]="8" [cols]="44" pInputTextarea  placeholder="{{'introducirtexto' | translate}}" [(ngModel)]="item.solucion" name="solucion" (keyup)="itemEdited(item.id)"></textarea>
                </div>
        <!-- </p-panel> -->
    </span>

     <!-- <p-panel [style]="{'width':'120px','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'foto' | translate}}"> -->
            <div style="width:11%;height:250px;margin:0 1%;float:left" >
                    <h4>{{'foto' | translate}}</h4>
          <img  [src]="fotoSrc" height="80px" (error)="fotoSrc='assets/images/noimage.png'" (click)="ventanaFoto(item,'incidencias')" /> 
       
         <hr>
         <span class="cell tooltip" matTooltip="{{'subirFoto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">        
         <span  class="but but2">
                      <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="inputlabelRound" attr.for="{{'foto'+i}}"></label>                
                      <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" id="{{'foto'+i}}" class="inputfile" type="file" (change)="uploadImg($event, item.id,i,'foto')" accept=".gif,.jpg,.jpeg,.png"/>
          </span>
         </span>
            </div>
           <!-- </p-panel> -->
        </td>
    </tr>
          <!-- </div> -->
                     
          
      </ng-template>
  </p-table>