
  <modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
  <div class="modal" *ngIf="procesando">
      <mat-spinner></mat-spinner>
  </div>
  <div class="modal" *ngIf="modal2">
          <div class="foto-window" (click)="cerrarFoto()">
              <span class="close material-icons" (click)="cerrarFoto()">close</span>
              <div class="foto">
                <img src="{{fotoSrc}}">
              </div>
          </div>
        </div>

  
  <p-table #dt [columns]="cols" [value]="incidencias" 
  (onEdit)="onEdit($event)"  (onRowExpand)="rowExpanded($event)" (onRowCollapse)="rowCollapsed($event)" 
  [csvSeparator]="';'" [exportFilename]="'Incidencias'"
      dataKey="id" (onRowExpand)="expandedRow($event)"  [(selection)]="selectedItem" 
      (onSort)="onRowSelect($event,dt)" sortField="fecha" [sortOrder]="-1" 
      [paginator]="true" [rows]="25" [first]="tablaPosition" [pageLinks]="5" [rowsPerPageOptions]="[5,10,25,50,100]">
      <ng-template pTemplate="caption">
            <div style="text-align:left;margin-left:10px">
              <button *ngIf="!newRow" type="button" pButton icon="fa fa-plus" (click)="openNewRow()" label="{{'add' | translate}}"></button>
              <button *ngIf="newRow" type="button" pButton icon="fa fa-minus" (click)="openNewRow()" label="{{'cerrar' | translate}}"></button>
              <button type="button" pButton icon="fa fa-save" iconPos="left" label="{{'guardarTodo' | translate}}" (click)="saveAll()" style="margin-left:10px"></button>
              <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="{{'Download' | translate}}" (click)="exportarTable()" style="margin-left:10px;float:right"></button>
        
            </div>
          </ng-template>

  <!-- ********* INICIO CABECERA-->
  <ng-template pTemplate="header" let-columns>
        <span style="display:table-row">
          <th style="width: 3em"></th>
           <!--************ ORDEN ***************************-->
           <!-- <th style="width:50px">
                    <mat-icon>import_export</mat-icon>
          </th> -->
         <!--************ FIN ORDEN ***************************-->
          <th  *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width+'px'">
            {{col.header | translate}}
            <p-sortIcon *ngIf="col.orden" [field]="col.field"></p-sortIcon>
          </th>
          <th [style.width]="'140px'">
            {{'acciones' | translate}}
          </th>
        </span>





        <!-- ********* NUEVOREGISTRO   ***-->
        <span [ngClass]="{'NuevoRegistro':true,'NewRow':true,'NewRowOpen':newRow,'NewRowClose':!newRow}" style="display:table-row">
                <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'"
                  class="formNewRegister" #creaForm="ngForm" (ngSubmit)="newItem()">
                  <td style="width: 3em"></td>
                  <!-- <td  style="width:50px"></td> -->
                  <td [ngClass]="{'rowRegistro':true}" [style.width]="'130px'">
                    <span>
                      <input pInputText type="text" [required]="true" [(ngModel)]="newIncidencia['incidencia']" style="margin-left:4px"
                        [style.width]="'120px'" [name]="'incidencia'">
                    </span>
                    </td>
                    <td>
                            <span>
                                  <input pInputText type="text" [placeholder]="'incidencia.solucion' | translate" [required]="false" [(ngModel)]="newIncidencia['solucion']" style="margin-left:4px"
                                    [style.width]="'190px'" [name]="'solucion'">
                                </span>                 
                              </td>
                              <td></td>
                              <td></td>
                              <td></td>
                              
                    <td>
                      <span>
                        <p-dropdown [placeholder]="'responsable_cierre' | translate" [options]="getOptions(['responsable_cierre'])" [(ngModel)]="newIncidencia['responsable_cierre']" appendTo="body" [style]="{'width':'110px'}"
                           [name]="'responsable_cierre'"></p-dropdown>
                      </span>
                </td>
                <td></td>
                  <!-- ********* ACCIONES   ***-->
                  <td>
                      <!-- ********* FOTO   ***-->
                    <span style="">
                        <span class="tooltip" matTooltip="{{'subirFoto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'above'">      
                                        <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="inputlabelRoundNewIncidencia" attr.for="{{'foto'}}"><span style="margin-top: -20px;margin-left: -20px;display: table-caption;">{{newIncidencia.foto}}</span></label>                
                                        <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" id="{{'foto'}}" class="inputfile" [ngClass]="" type="file" (change)="setImg($event)" accept=".gif,.jpg,.jpeg,.png"/>
                    </span>
                </span>
                    <!-- ********* FIN FOTO   ***-->
                    <span style="display: block;
                    margin-left: 55px;
                    margin-top: -45px;">
                    <span class="tooltip" matTooltip="{{'add' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                      [matTooltipPosition]="'above'">
                      <button mat-mini-fab color="accent" [disabled]="!creaForm.form.valid" type="submit">
                        <span class="material-icons">add</span>
                      </button>
                    </span>
                    <span class="tooltip" matTooltip="{{'cancela' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                      [matTooltipPosition]="'above'">
                      <button type="button" mat-mini-fab color="primary" (click)="openNewRow()" >
                        <span class="material-icons">close</span>
                      </button>
                    </span>
                    </span>
                  </td>
                </form>
              </span>
          
              <!-- ********* FIN NUEVOREGISTRO   ***-->


      </ng-template>
      <!-- ********* FIN CABECERA   ***-->



            <div class="tableContent">
                    <ng-template pTemplate="body" let-item let-columns="columns" let-i="rowIndex" let-expanded="expanded">
                      <!--let-expanded="expanded" -->
                      <tr [pSelectableRow]="item" [ngClass]="{'rowImpar':i%2==0,'rowPar':i%2!=0, 'expandSelected':expanded}">
                        <td><span *ngIf="expanded!=null">
                            <a disabled href="#" [pRowToggler]="item">
                              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                            </a></span>
                        </td>
                        <!--************ ORDEN ***************************-->
                        <!-- <td>    
                        <div class="orden" >
                            <p-spinner size="5" [(ngModel)]="item.orden" [min]="1" [max]="items.length"  (onChange)="editOrden()"></p-spinner> 
                        </div>  
                      </td>    -->
                    <!--************ FIN ORDEN ***************************-->
                        <td *ngFor="let col of columns" [ngClass]="{'rowRegistro':true}" [pEditableColumn]="item" [pEditableColumnField]="col">
                                <span *ngIf="col.type =='trad'">
                                        {{item[col.field] | translate}}
                                      </span>
                            <span *ngIf="col.type == 'dropdown'">
                                <p-dropdown [disabled]="col.disabled" [options]="getOptions([col.field])" [(ngModel)]="item[col.field]" appendTo="body" [style]="{'width':'110px'}"
                                  (onChange)="itemEdited(item.id)" styleClass="open">
                                  <ng-template let-item pTemplate="selectedItem" *ngIf="col.field == 'estado'">
                              <div [ngClass]="{'boliche':true,'sinDefinir':item.value==-1,'noAplica':item.value==0,'abierta':item.value==1,'cerrada':item.value==2}"></div>                          
                                      <span style="vertical-align:middle; margin-left: .5em; font-size: small">{{item.label}}</span>
                                  </ng-template>                               
                                </p-dropdown>
                              </span>
                              <span *ngIf="col.type == 'periodicidad'">
                                <span class="tooltip" matTooltip="{{'maquinas.periodicidad' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                                [matTooltipPosition]="'right'">
                                <button [disabled]="!item['fecha']" color="accent" type="button" [ngClass]="{'alert': alert }" mat-mini-fab (click)="openPeriodicidad(item)">
                                  <span class="material-icons">event</span>
                                </button>
                              </span>
                            </span>
                              <!--*****  subir/ver FOTO  *********-->
                              <span *ngIf="col.type == 'foto'">
                                  <span class="tooltip middle" matTooltip="{{'verFoto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                                    [matTooltipPosition]="'left'">
                                    <button class="camera" *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'"
                                      [disabled]="!item.doc" mat-mini-fab color="color" (click)="photoURL(i,'doc')" type="button">
                                      <span class="material-icons">photo_camera</span>
                                    </button>
                                  </span>
                                  <span class="tooltip middle" matTooltip="{{'subirFoto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                                    [matTooltipPosition]="'left'">
                                    <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" class="inputlabelRound"
                                      attr.for="{{'doc'+i}}"></label>
                                    <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" id="{{'doc'+i}}"
                                      class="inputfile" type="file" (change)="uploadImg($event, item.id,i,'doc')" accept=".gif,.jpg,.jpeg,.png,.pdf" />
                                  </span>
                                </span>
                                <!--****** FIN ********************-->
                          <p-cellEditor>
                            <!-- ********* VER DATA   ***-->
                            <ng-template pTemplate="output">
                              <span *ngIf="col.type =='std'">
                                {{item[col.field]}}
                              </span>
                                <span *ngIf="col.type == 'fecha'">
                                    {{item[col.field] | date:"dd-MM-yyyy"}}
                              </span>
                            </ng-template>
                            <!-- ********* EDIT DATA   ***-->
                            <ng-template pTemplate="input">
                              <span *ngIf="col.type == 'std'">
                                <input pInputText type="text" [(ngModel)]="item[col.field]" [style.width]="(col.width -7)+'px'">
                              </span>
                              <span *ngIf="col.type == 'fecha'">
                                <p-calendar [defaultDate]="" appendTo="body" [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item[col.field]"
                                  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha)" name="fecha"></p-calendar>
                              </span>
                              <!--****** FIN ********************-->
                            </ng-template>
                          </p-cellEditor>
                        </td>
                  
                        <!--*****  ACCIONES  *********-->
              <td>
                  <span class="cell tooltip" matTooltip="{{'eliminar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">
                      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" (click)="checkBorrar(item.id)"
                          type="button">
                          <span class="material-icons">close</span>
                      </button>
                  </span>
                  <span #saveTT="matTooltip" class="cell tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                      [matTooltipPosition]="'right'">
                      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" [disabled]="!guardar[item.id]"
                          (click)="saveItem(item,i)" type="button">
                          <span class="material-icons">check</span>
                      </button>
                  </span>
                  <span #saveTT="matTooltip" class="cell tooltip" matTooltip="{{'incidencia.Goto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                      [matTooltipPosition]="'right'" (click)="test(item)">
                      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" [disabled]="item.idOrigen==0"
                          type="button" (click)="gotoOrigen(item)">
                          <span class="material-icons">golf_course</span>
                      </button>
                  </span>
              </td>

          </tr>
      </ng-template>
            </div>
      <ng-template pTemplate="rowexpansion" let-item let-columns="columns">
            <tr [ngClass]="{'expandSelected':expanded}">
                    <td [attr.colspan]="columns.length + 2">
          <!-- <div style="width:750px"> -->
     <span class="plan_descripcion">
          <!-- <p-panel [style]="{'width':'400px','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'incidencia.descripcion' | translate}}"> -->
                <div [style]="{'width':'100%','height':'225px','margin':'0 1%', 'float':'left'}">
                        <h4>{{'incidencia.descripcion' | translate}}</h4>
          <textarea [rows]="6" [cols]="33" pInputTextarea  placeholder="{{'introducirtexto' | translate}}" [(ngModel)]="item.descripcion" name="descripcion" (keyup)="itemEdited(item.id)"></textarea>
                </div>
          <!-- </p-panel> -->
      </span>

     <span class="plan_descripcion">
        <!-- <p-panel [style]="{'width':'400px','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'incidencia.solucion' | translate}}"> -->
                <div [style]="{'width':'100%','height':'225px','margin':'0 1%', 'float':'left'}" >
                        <h4>{{'incidencia.solucion' | translate}}</h4>
        <textarea [rows]="6" [cols]="33" pInputTextarea  placeholder="{{'introducirtexto' | translate}}" [(ngModel)]="item.solucion" name="solucion" (keyup)="itemEdited(item.id)"></textarea>
                </div>
        <!-- </p-panel> -->
    </span>

     <!-- <p-panel [style]="{'width':'120px','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'foto' | translate}}"> -->
            <div style="width:11%;height:250px;margin:0 1%;float:left" >
                    <h4>{{'foto' | translate}}</h4>
          <img  [src]="fotoSrc" height="80px" (error)="fotoSrc='assets/images/noimage.png'" (click)="ventanaFoto(item,'incidencias')" /> 
       
         <hr>
         <span class="cell tooltip" matTooltip="{{'subirFoto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">        
         <span  class="but but2">
                      <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="inputlabelRound" attr.for="{{'foto'+i}}"></label>                
                      <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" id="{{'foto'+i}}" class="inputfile" type="file" (change)="uploadImg($event, item.id,i,'foto')" accept=".gif,.jpg,.jpeg,.png"/>
          </span>
         </span>
            </div>
           <!-- </p-panel> -->
        </td>
    </tr>
          <!-- </div> -->
                     
          
      </ng-template>
  </p-table>


  <div class="modal" *ngIf="exportando">
      <app-download-informe [informeData]="informeData" (informeRecibido)="informeRecibido($event)"></app-download-informe>
  </div>