<mat-card class="card">
  <mat-card-header>
    <div></div>
    <mat-card-title>Controles realizados</mat-card-title>
    
  </mat-card-header>
  <!-- <img mat-card-image src="" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <!-- <mat-list>
      <mat-list-item>
        {{controles}} {{'Controles'|translate}} {{'para realizar'|translate}}
      </mat-list-item>
      <mat-list-item>
        {{checklists}} {{'Checklists'|translate}} {{'para realizar'|translate}}
      </mat-list-item>
      <mat-list-item>
        {{limpiezas}} {{'Limpiezas'|translate}} {{'para realizar'|translate}}
      </mat-list-item>
      <mat-list-item>
        {{mantenimientos}} {{'Mantenimientos'|translate}} {{'para realizar'|translate}}
      </mat-list-item>
    </mat-list> -->
    <mat-spinner *ngIf="calculando"></mat-spinner>  
    <p-chart type="line" [data]="data"  *ngIf="!calculando"></p-chart>

  </mat-card-content>
  <mat-card-actions>
      <button md-button (click)="loadResultados(7)">7 días</button>
      <button md-button (click)="loadResultados(14)">14 días</button>
    </mat-card-actions>
</mat-card>