.alertas-container {
  width: 75px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.alertas-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.alertas-sidenav {
  padding: 20px;
}