.panel{
  position: fixed;
  margin: 0;
  float:right;
  width: 75px;
  height: 100%;
  background-color: #999999;
  z-index: 10;
right: 0px;
top: 62px;
}

.opcion{
    margin:15px 17px;
}

.selected{
    background-color: #a77af7;
}