<div class="modal" *ngIf="procesando">
<mat-spinner></mat-spinner>
</div>

<h2 class="popupTitle">{{'avisos' | translate}}

        <mat-slide-toggle
          class="toggleAlertas"
          [color]="'primary'"
          [checked]="hayalerta"
          (change)="switchAlerta($event)">
        <span *ngIf="hayalerta">{{'hayalertas' | translate}}</span>
        <span *ngIf="!hayalerta">{{'nohayalertas' | translate}}</span>
      </mat-slide-toggle>

    </h2>

<!-- <p-dataTable [value]="tabla">
    <p-column *ngFor="let col of cols;let i = index" [field]="col.field" [header]="col.header | translate" [frozen]="col.field == 'user'">
      <ng-template let-col let-user="rowData" let-ri="rowIndex" pTemplate="body">
            <span *ngIf="col.field == 'user'">{{user[col.field]}}</span>
            <mat-slide-toggle class="option" (change)="setPermiso(user['iduser'],$event.checked,col['field'])" *ngIf="col.field != 'user'"
          [checked]="user[col.field]" [disabled]="!usuarios[ri].email">
          <span *ngIf="usuarios[ri].email"> {{usuarios[ri].email}}</span>
            <span *ngIf="!usuarios[ri].email">{{'alertas.nohaymail' | translate}}</span>
      </mat-slide-toggle>
        </ng-template> 
    </p-column>
</p-dataTable> -->




<p-table #dt [value]="tabla"  [style]="{'width':'920px'}"  [loading]="procesando">

<ng-template pTemplate="header">
    <span style="display:table-row">
        <!-- <span > -->
        <th style="width:50px" *ngFor="let col of cols;let i = index">{{col.header | translate}}</th>
      <!-- </span> -->
    </span>
</ng-template>
<ng-template pTemplate="body" let-user let-ri="rowIndex">
    <tr [ngClass]="{'rowImpar':i%2==0,'rowPar':i%2!=0}">
        <!-- <span *ngFor="let col of cols;let i = index"> -->
            <td style="width:50px"  *ngFor="let col of cols;let i = index">
                <span *ngIf="col.field == 'user'">{{user[col.field]}}</span>
                <mat-slide-toggle class="option" (change)="setPermiso(user['iduser'],$event.checked,col['field'])" *ngIf="col.field != 'user'"
              [checked]="user[col.field]" [disabled]="!usuarios[ri].email">
              <span *ngIf="usuarios[ri].email"> {{usuarios[ri].email}}</span>
                <span *ngIf="!usuarios[ri].email">{{'alertas.nohaymail' | translate}}</span>
          </mat-slide-toggle>
            </td>
        <!-- </span> -->
    </tr>
</ng-template>
</p-table>







<div *ngIf="alertas[0]">
        {{'alertas.nota' | translate}}<BR>
{{'alertas.enviar' | translate}}
      <mat-form-field class="example-margin">
        <input matInput type="number" maxlength="5" style="width:40px" size="5" max="100"  [(ngModel)]="alertas[0].tiempo_alerta">
      </mat-form-field>

{{'alertas.diasantes' | translate}}

  <span class="tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'right'">
  <button  color="accent" mat-mini-fab (click)="setPermiso(0,true,'Planificaciones')"><mat-icon>check</mat-icon></button>
  </span>
</div>