<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<div class="modal" *ngIf="modal2">
  <div class="foto-window">
      <span class="close material-icons" (click)="cerrarFoto()">close</span>
      <div class="foto">
        <img src="{{fotoSrc}}">
      </div>
  </div>
</div>
<div class="modal" *ngIf="filter">
    <filter-dates (onDates)="setDates($event)"></filter-dates>
    </div>
<div class="filter">
  {{'filter-dates.Mostrando del' | translate}}: 
  <!-- {{filtro_inicio}}  -->
  <p-calendar [defaultDate]=""  appendTo="body" [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="fechas_inicio['fecha_inicio']"
  [locale]="es" dateFormat="dd/mm/yy" name="fecha_inicio"></p-calendar>
  {{'filter-dates.al' | translate}} 
  <!-- {{filtro_fin}} -->
  <p-calendar [defaultDate]=""  appendTo="body" [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="fechas_inicio['fecha_fin']"
  [locale]="es" dateFormat="dd/mm/yy" name="fecha_inicio"></p-calendar>
  <span class="">
      <button mat-mini-fab color="primary" (click)="setDates()" type="button">
<span class="material-icons">check</span>
</button>
</span>
      <!-- <span class="">
                  <button mat-mini-fab color="primary" (click)="filter=!filter" type="button">
        <span class="material-icons">filter_list</span>
      </button>
      </span>
    <span class="">
            <button mat-mini-fab color="primary" (click)="excel()" type="button">
        <span class="material-icons">cloud_download</span>
      </button>
      </span>-->
</div> 

<!-- 

<div class="table">
  <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" class="row" #newItemForm="ngForm" (ngSubmit)="newItem()">
    <input type="hidden" [(ngModel)]="nuevoItem.id" name="id">
    <span class="cell">
    <select class="smallselect" [(ngModel)]="nuevoItem.idproducto" (ngModelChange)="nuevoItem.idproducto = $event" name="idproducto" required>
      <option [disabled]="true" [value]="null">{{'proveedores.producto' | translate}}</option>
      <option *ngFor="let prod of productos; let i = index" [value]="prod.id">
        {{prod.nombre}}
      </option>
    </select>
    </span>    
    <span class="cell medium">
      <input class="medium" type="text" [placeholder]="'proveedores.numlotep' | translate" required [(ngModel)]="nuevoItem.numlote_proveedor" name="numlote_proveedor">
    </span>
    <span class="cell">
      <p-calendar placeholder="fecha" [(ngModel)]="nuevoItem.fecha_entrada" [locale]="es" dateFormat="dd/mm/yy"  name="fecha_entrada"></p-calendar>
    </span>
    <span class="cell">
      <p-calendar placeholder="fecha" [(ngModel)]="nuevoItem.fecha_caducidad" [locale]="es" dateFormat="dd/mm/yy"  name="fecha_caducidad"></p-calendar>
    </span>
    <span class="cell medium">
      <input class="medium" type="text" [placeholder]="'proveedores.cantidad' | translate" required [(ngModel)]="nuevoItem.cantidad_inicial" name="cantidad_inicial">
    </span>
         <span class="cell">
       <select class="smallselect" [(ngModel)]="nuevoItem.tipo_medida" name="tipo_medida">
      <option *ngFor="let medida of medidas; let i = index" [value]="medida">
        {{medida}}
      </option>
    </select>
 </span>
    <span class="cell medium">  
      <input class="medium" type="text" [placeholder]="'proveedores.remanente' | translate" required [(ngModel)]="nuevoItem.cantidad_inicial" name="cantidad_remanente"> 
      </span>
      <span class="header-cell">
      </span>
    <span class="cell">
      <button mat-mini-fab color="accent" [disabled]="!newItemForm.form.valid" type="submit">
        <span class="material-icons">add</span>
      </button>
    </span>
  </form>

  <div class="header-row">
    <span class="header-cell">{{"proveedores.producto" | translate}}</span>
    <span class="header-cell medium">{{"proveedores.numlotep" | translate}}</span>
    <span class="header-cell">{{"proveedores.fecha_entrada" | translate}}</span>
    <span class="header-cell">{{"proveedores.fecha_caducidad" | translate}}</span>
    <span class="header-cell medium">{{"proveedores.cantidad" | translate}}</span>
    <span class="header-cell">{{"proveedores.tipo medida" | translate}}</span>
    <span class="header-cell medium">{{"proveedores.remanente" | translate}}</span>
    <span class="header-cell"> </span>
    <span class="header-cell"></span>
  </div>
  <div class="divrow"  *ngFor="let item of items; let i = index">
  <form class=" row"  #editItemForm="ngForm" (ngSubmit)="saveItem(editItemForm.value,i)">
    <input type="hidden" [(ngModel)]="item.id" name="id">
    <span class="cell">
    <select class="smallselect" [(ngModel)]="item.idproducto" name="idproducto" (change)="itemEdited(item.id)">
      <option *ngFor="let prod of productos; let i = index" [value]="prod.id">
        {{prod.nombre}}
      </option>
    </select>
    </span>
    <span class="cell medium">
      <input class="medium" [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" type="text" [(ngModel)]="item.numlote_proveedor" name="numlote_proveedor" (keyup)="itemEdited(item.id)">
    </span>
    <span class="cell">
      <p-calendar [(ngModel)]="item.fecha_entrada"  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha_entrada)" name="fecha_entrada"></p-calendar>    
    </span>
    <span class="cell">
      <p-calendar [(ngModel)]="item.fecha_caducidad"  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha_caducidad)" name="fecha_caducidad"></p-calendar>    
    </span>
    <span class="cell medium">
      <input class="medium" [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" type="text" [(ngModel)]="item.cantidad_inicial" name="cantidad_inicial" (keyup)="itemEdited(item.id)">
    </span>

     <span class="cell">
       <select class="smallselect" [(ngModel)]="item.tipo_medida" name="tipo_medida" (change)="itemEdited(item.id)">
      <option *ngFor="let medida of medidas; let i = index" [value]="medida">
        {{medida}}
      </option>
    </select>
 </span>
     <span class="cell medium">
   <input class="medium" [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" type="text" [(ngModel)]="item.cantidad_remanente" name="cantidad_remanente" (keyup)="itemEdited(item.id)">
 </span>

    <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" (click)="checkBorrar(item.id)" type="submit">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" [disabled]="!guardar[item.id]" type="submit">
        <span class="material-icons">check</span>
      </button>                
    </span>
   
  </form>
 </div>
</div>
 -->
<!-- ********* INICIO TABLA REGISTROS-->

<p-table #DT [columns]="cols" [value]="items" dataKey="id" 
rowExpandMode="single"
(onEditInit)="onEdit($event)" 
(onRowExpand)="getResultadosChecklist($event)" (onRowCollapse)="endResultadosChecklist($event)"
  [responsive]="true" sortField="orden" [sortOrder]="1"  [rows]="25"
  [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]"
  [style]="{'width':'100%','padding':'0px 25px 0px 25px','text-align':'left'}">
  <ng-template pTemplate="caption">
    <div style="text-align:left;margin-left:10px">
      <button *ngIf="!newRow" type="button" pButton icon="fa fa-plus" (click)="openNewRow()" label="{{'add' | translate}}"></button>
      <button *ngIf="newRow" type="button" pButton icon="fa fa-minus" (click)="openNewRow()" label="{{'cerrar' | translate}}"></button>
      <button type="button" pButton icon="fa fa-save" iconPos="left" label="{{'guardarTodo' | translate}}" (click)="saveAll()" style="margin-left:10px"></button>
      <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="{{'Download' | translate}}" (click)="exportarTable()" style="margin-left:10px;float:right"></button>

    </div>
  </ng-template>
  <!-- ********* INICIO CABECERA-->
  <ng-template pTemplate="header" let-columns>
    <span style="display:table-row">
      <th style="width: 3em"></th>
       <!--************ ORDEN ***************************-->
       <!-- <th style="width:50px">
                <mat-icon>import_export</mat-icon>
      </th> -->
     <!--************ FIN ORDEN ***************************-->
      <th  *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width+'px'">
        {{col.header | translate}}
        <p-sortIcon *ngIf="col.orden" [field]="col.field"></p-sortIcon>
      </th>
      <th [style.width]="'125px'">
        {{'acciones' | translate}}
      </th>
    </span>





        <!-- ********* NUEVOREGISTRO   ***-->
        <span [ngClass]="{'NuevoRegistro':true,'NewRow':true,'NewRowOpen':newRow,'NewRowClose':!newRow}" style="display:table-row">
            <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'"
              class="formNewRegister" #creaForm="ngForm" (ngSubmit)="newItem()">
              <td style="width: 3em"></td>
              <!-- <td  style="width:50px"></td> -->
              <td *ngFor="let col of columns" [ngClass]="{'rowRegistro':true}" [style.width]="col.width+'px'">
                <span *ngIf="col.type == 'std'">
                  <input pInputText [disabled]="col.disabled" type="text" [required]="col.required" [(ngModel)]="nuevoItem[col.field]" style="margin-left:4px"
                    [style.width]="(col.width -7)+'px'" [name]="col.field" (change)="cambioInput()">
                </span>
                <span *ngIf="col.type == 'fecha'">
                    <span class="tooltip" matTooltip="{{'formatoFecha' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                    [matTooltipPosition]="'left'">
                  <p-calendar [defaultDate]="" [required]="col.required" appendTo="body" [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="nuevoItem[col.field]"
                    [locale]="es" dateFormat="dd/mm/yy" [name]="col.field"></p-calendar>
                    </span>
                </span>
                  <span *ngIf="col.type == 'dropdown'">
                    <p-dropdown [placeholder]="col.header | translate" [options]="getOptions([col.field])" [(ngModel)]="nuevoItem[col.field]" appendTo="body" [style]="{'width':'110px'}"
                       [name]="col.field"></p-dropdown>
                  </span>
                  <span *ngIf="col.field == 'idproducto'">
                      <p-dropdown  [placeholder]="col.header | translate" [options]="getOptions([col.field])" [(ngModel)]="nuevoItem[col.field]"  appendTo="body" [style]="{'width':'110px'}"
                       [name]="col.field"></p-dropdown>
                    </span>
              </td>
      
              <!-- ********* ACCIONES   ***-->
              <td>
                <span class="tooltip" matTooltip="{{'add' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                  [matTooltipPosition]="'above'">
                  <button mat-mini-fab color="accent" [disabled]="!creaForm.form.valid" type="submit">
                    <span class="material-icons">add</span>
                  </button>
                </span>
                <span class="tooltip" matTooltip="{{'cancela' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                  [matTooltipPosition]="'above'">
                  <button type="button" mat-mini-fab color="primary" (click)="openNewRow()" >
                    <span class="material-icons">close</span>
                  </button>
                </span>
              </td>
            </form>
          </span>
      
          <!-- ********* FIN NUEVOREGISTRO   ***-->
  </ng-template>
  <!-- ********* FIN CABECERA   ***-->


  <div class="tableContent">
  <ng-template pTemplate="body" let-item let-columns="columns" let-i="rowIndex" let-expanded="expanded">
    <!--let-expanded="expanded" -->
    <tr [pSelectableRow]="item" [ngClass]="{'rowImpar':i%2==0,'rowPar':i%2!=0, 'expandSelected':expanded, 'selectedProd':item.idproducto==productoBuscado}">
      <td><span *ngIf="expanded!=null && hayTrigger">
          <a disabled href="#" [pRowToggler]="item">
            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
          </a></span>

          <div  *ngIf="hayTrigger" [ngClass]="{'boliche':true,'isOnlyLocal':item.idResultadoChecklistLocal,'isNotOk':!item.idResultadoChecklist && !item.idResultadoChecklistLocal}">
            <span *ngIf="item.idResultadoChecklist">
            <span  class="material-icons green" *ngIf="getRR(item,'green')=='true'">check</span>
            <span  class="material-icons red" *ngIf="getRR(item,'red')=='false'">close</span>
          </span>
        </div> 

      </td>
      <!--************ ORDEN ***************************-->
      <!-- <td>    
      <div class="orden" >
          <p-spinner size="5" [(ngModel)]="item.orden" [min]="1" [max]="items.length"  (onChange)="editOrden()"></p-spinner> 
      </div>  
    </td>    -->
  <!--************ FIN ORDEN ***************************-->
      <td *ngFor="let col of columns" [ngClass]="{'rowRegistro':true}" [pEditableColumn]="item" [pEditableColumnField]="col">
          <span *ngIf="col.type == 'dropdown'">
              <p-dropdown [placeholder]="col.header | translate" [options]="getOptions([col.field])" [(ngModel)]="item[col.field]" appendTo="body" [style]="{'width':'110px'}"
                (onChange)="itemEdited(item.id)"></p-dropdown>
            </span>
            <span *ngIf="col.field == 'idproducto'">
                <p-dropdown [placeholder]="col.header | translate" [options]="getOptions([col.field])" [(ngModel)]="item[col.field]"  appendTo="body" [style]="{'width':'110px'}"
                  (onChange)="itemEdited(item.id)" [name]="col.field"></p-dropdown>
              </span>
        <p-cellEditor>
          <!-- ********* VER DATA   ***-->
          <ng-template pTemplate="output">
            <span *ngIf="col.type =='std'" [ngClass]="{'prodCaducado':item['cantidad_remanente'] <= 0 && col.field=='cantidad_remanente' }">
              {{item[col.field]}}
            </span>
              <span *ngIf="col.type == 'fecha'" [ngClass]="{'prodCaducado':item[col.field] < hoy && col.field=='fecha_caducidad' && item['cantidad_remanente'] >0 }">
                  <span class="tooltip" matTooltip="{{'formatoFecha' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">
                {{item[col.field] | date:"dd-MM-yyyy"}}
                  </span>
            </span>
          </ng-template>
          <!-- ********* EDIT DATA   ***-->
          <ng-template pTemplate="input">
            <span *ngIf="col.type == 'std'">
              <input pInputText type="text" [(ngModel)]="item[col.field]" [style.width]="(col.width -7)+'px'">
            </span>
            <span *ngIf="col.type == 'fecha'">
                <span class="tooltip" matTooltip="{{'formatoFecha' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                [matTooltipPosition]="'left'">
              <p-calendar #ff [touchUI]="false" [defaultDate]="" appendTo="body" [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item[col.field]"
                [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha)" name="fecha">
              </p-calendar>
                </span>
            </span>
            <!--****** FIN ********************-->
          </ng-template>
        </p-cellEditor>
      </td>

      <!--*****  ACCIONES  *********-->
      <td>
        <span class="tooltip" matTooltip="{{'eliminar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
          [matTooltipPosition]="'left'">
          <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary"
            (click)="checkBorrar(item.id)" type="button">
            <span class="material-icons">close</span>
          </button>
        </span>
        <span class="tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
          [matTooltipPosition]="'right'">
          <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary"
            [disabled]="!guardar[item.id]" (click)="saveItem(item,i)" type="button">
            <span class="material-icons">check</span>
          </button>
        </span>
        <span class="tooltip" matTooltip="{{'trazabilidad.trazaAdelante' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
          [matTooltipPosition]="'right'">
          <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary"
             (click)="trazabilidadAdelante(item,i)" type="button">
            <span class="material-icons">rotate_right</span>
          </button>
        </span>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary" let-item>
  </ng-template>
</div>
  <!-- ********* EXPANSION-->
  <ng-template pTemplate="rowexpansion" let-item let-columns="columns" let-rowIndex="rowIndex">
    <tr [ngClass]="{'expandSelected':expanded}">
      <td [attr.colspan]="columns.length + 2">
        <mat-card *ngIf="item.idResultadoChecklist">
      <mat-list class="listCheckItems">
        <mat-list-item *ngFor="let control of checklistcontroles; let i = index">
          <!-- <span matTooltip="crea una incidencia!">
            <app-boton-incidencia   [origen]="incidencia[i]" [tipoOrigen]="'Checklist'" (nuevaIncidenciaCreada)="nuevaIncidencia($event,i)"></app-boton-incidencia>
          </span> -->
            <mat-icon *ngIf="control.foto!='false'" name="camera-alt" item-left (click)="setFotoControl(control.foto)">camera_alt</mat-icon>
            <mat-icon *ngIf="control.descripcion"  name="clipboard" item-left (click)="control.descripcion=''">assignment</mat-icon>
            <label class="label-item" (click)="setOpciones(control.nombrecontrol)">{{control.nombrecontrol.replace(checkDobleSl,"/")}}</label>
            <!-- <div class="listitem">  -->
            <!-- <div class="div-image">
            <my-images class="my-images-list" [index]="i" [currentControl]="control" (image)="takeFoto($event,control)"  ></my-images>
            </div> -->
            <!-- <mat-form-field>   -->
                <!-- <mat-form-field class="descripcion">
              <input matInput  style="margin-left:10px" name="descripcion{{i}}" [(ngModel)]="control.descripcion" placeholder="{{'descripcion' | translate}}" />
            </mat-form-field> -->
            <!-- </mat-form-field> -->
           <mat-select class="selectCheck" placeholder=""  name="checked{{i}}"  [(ngModel)]="control.checked" (openedChange)="setOpciones(control.nombrecontrol)" (selectionChange)="changeSelected($event,item,control)">
              <span *ngIf="control.nombrecontrol.indexOf('//')<0">
                <mat-option   [value]="opcion.value" *ngFor="let opcion of opciones">{{opcion.label | translate}}</mat-option>
              </span>
              <span *ngIf="control.nombrecontrol.indexOf('//')>0">
                <mat-option [value]="control.checked" >{{control.checked}}</mat-option>
                <mat-option [value]="opt" *ngFor="let opt of CustomOpciones">{{opt | translate}}</mat-option>
              </span>

              <!-- <mat-option  value="todosOk">{{"todosOk" | translate}}</mat-option>
              <mat-option  value="true">{{"correcto" | translate}}</mat-option>
              <mat-option  value="false">{{"incorrecto" | translate}}</mat-option>
              <mat-option  value="na">{{"no aplica" | translate}}</mat-option>
              <mat-option  value="valor">{{"Valor" | translate}}</mat-option> -->
            </mat-select>

            <mat-form-field *ngIf="control.checked !== 'true' && control.checked !== 'false'  && control.checked !== 'na'">   
            <!-- <mat-form-field *ngIf="control.checked == 'valor'">    -->
              <input matInput required class="valor"  name="valor{{i}}"  color="accent" [(ngModel)]="control.valor" (change)="changeValor(control)">
            </mat-form-field>
            <!-- </div> -->
            </mat-list-item>
            </mat-list>
            <!-- <hr>    -->
            <!-- <my-images [index]="i" [currentControl]="control" (image)="takeFoto($event)"  style="width:30%; display:flex; float:left;margin-right: 15px"></my-images>  -->
            <button *ngIf="item.idResultadoChecklist" mat-raised-button  color="accent" [disabled]="desactivado"  (click)="guardarCL(DT,item)" style="width: 25%;">{{"guardar" | translate}}</button>
            <button  *ngIf="!item.idResultadoChecklist" mat-raised-button  color="accent" [disabled]="desactivado"  (click)="nuevoCL(item)" style="width: 25%;">{{"nuevo" | translate}}</button>

            <button *ngIf="!incidencias" mat-raised-button  color="warn" (click)="incidenciaChecklist(item,'botonI')" style="width: 30%;">{{"incidencia.incidencia" | translate}}</button>
            <span  *ngIf="incidencias  && incidencias[0]" style="margin-left:30px">
            <button mat-mini-fab  *ngIf="incidencias[0]" (click)="gotoIncidencia(incidencias[0])" [ngClass]="{'nc0':incidencias[0].estado==0,'nc1':incidencias[0].estado==1,'nc2':incidencias[0].estado==2,'nc-1':incidencias[0].estado==-1}">
                <span class="material-icons">golf_course</span>
            </button>
            {{incidencias[0].incidencia}}</span>

            <!-- <mat-select style="width:30%" class="selectCheck"  (selectionChange)="changeIncidencia($event)" *ngIf="incidencias">
                <mat-option  value="{{incidencia.id}}" *ngFor="let incidencia of incidencias">{{incidencia.incidencia}} - {{incidencia.estado}} </mat-option>
              </mat-select> -->
            <app-boton-incidencia [sOrigen]="sOrigen" (nuevaIncidenciaCreada)="incidenciaCreada($event)"></app-boton-incidencia>

            <!-- <FOTO>    -->
              <div class="marcoFotoChecklist" (click)="foto1=1">
                <img class="fotoChecklist" [src]="fotoCheck" (error)="fotoCheck='./assets/images/noimage.png'" />
              </div>
              <div class="marcoFotoChecklistControl"  (click)="foto2=1">
                  <img class="fotoChecklist" [src]="fotoCheckControl" (error)="fotoCheckControl='./assets/images/noimage.png'" />
                </div>
            <!-- <FOTO>    -->
            </mat-card>
            <!-- <mat-card *ngIf="item.idResultadoChecklistLocal && !item.idResultadoChecklist"> -->
            <mat-card *ngIf="!item.idResultadoChecklist">

            <button mat-stroked-button  color="primary" (click)="nuevoCL(item)">{{"proveedores.crearNuevoChecklist" | translate}}</button>
            {{"proveedores.ChecklistsParaEmparejar" | translate}} 
                <mat-list>
                    <mat-list-item *ngFor="let ResChecklist of resultadosChecklists; let i = index" style="width:600px">
                    {{'proveedores.realizadoPor' | translate}} {{getUser(ResChecklist.usuario)}} 
                    {{ResChecklist.fecha | date:"dd-MM-yyyy hh:mm"}} 
            <button mat-button class="botonEmpareja"  color="primary" (click)="emparejaLote(item.id,ResChecklist.idr)">{{"proveedores.seleccionarChecklistMP" | translate}}</button>
                      </mat-list-item>
                </mat-list>
              </mat-card>

      </td>
    </tr>
  </ng-template> 
</p-table>

<!-- ********* FIN TABLA REGISTROS-->

<div class="modal" *ngIf="exportando">
    <app-download-informe [informeData]="informeData" (informeRecibido)="informeRecibido($event)"></app-download-informe>
</div>
<app-ver-docs *ngIf="foto" [doc]="foto" (onBotonCerrar)="foto=null"></app-ver-docs>
<app-ver-docs *ngIf="foto1" [doc]="fotoCheck" (onBotonCerrar)="foto1=null"></app-ver-docs>
<app-ver-docs *ngIf="foto2" [doc]="fotoCheckControl" (onBotonCerrar)="foto2=null"></app-ver-docs>



<div class="traza" [style.top]="alturaTraza" [style.height]="heightTraza" *ngIf="trazabilidad" (window:scroll)="doSomethingOnWindowScroll($event)">
  <app-trazabilidad-ad [materiaPrima]="nodoOrdenProd" [modo]="modo" *ngIf="trazabilidad"  (onHeightChanged)="changeTrazaHeight($event)"></app-trazabilidad-ad>
      <div class="close-button">
          <button  mat-mini-fab color="accent" (click)="trazabilidad = !trazabilidad" type="button">
            <span class="material-icons">close</span>
      </button>
      </div>
  </div>


