<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<div class="modal" *ngIf="modal2">
  <div class="foto-window">
      <span class="close material-icons" (click)="cerrarFoto()">close</span>
      <div class="foto">
        <img src="{{fotoSrc}}">
      </div>
  </div>
</div>
<h2 class="center">{{"proveedores.familias" | translate}}</h2>
<div class="table">
  <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="row" #newItemForm="ngForm" (ngSubmit)="newItem()">
    <input type="hidden" [(ngModel)]="nuevoItem.id" name="id">
    <span class="cell">
      <input type="text" [placeholder]="'proveedores.nombre' | translate" required [(ngModel)]="nuevoItem.nombre" name="nombre">
    </span>

    <select  *ngIf="permisosService.traspasos" class="smallselect" [(ngModel)]="nuevoItem.nivel_destino" name="nivel_destino" required>
      <option [disabled]="true" [value]="null">selecciona</option>
      <option  [value]="0">R0</option>
       <option  [value]="1">R1-R4</option>
        <option [value]="3">P1-P4</option>
    </select>

    <span class="cell"></span>
    <span class="cell">
      <button md-mini-fab color="accent" [disabled]="!newItemForm.form.valid" type="submit">
        <span class="material-icons">add</span>
      </button>
    </span>
  </form>

  <div class="header-row">
    <span class="header-cell">{{"proveedores.familia" | translate}}</span>
    <span  *ngIf="permisosService.traspasos" class="header-cell">{{"destino" | translate}}</span>
    <span class="header-cell"></span>
    <span class="header-cell"></span>
  </div>

  <form class=" row" #editItemForm="ngForm" (ngSubmit)="saveItem(editItemForm.value)" *ngFor="let item of items; let i = index">
    <input type="hidden" [(ngModel)]="item.id" name="id">
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" type="text" [(ngModel)]="item.nombre" name="nombre" (keyup)="itemEdited(item.id)">
    </span>

    <select  *ngIf="permisosService.traspasos" class="smallselect" [(ngModel)]="item.nivel_destino" name="nivel_destino" (change)="itemEdited(item.id)">
      <option [disabled]="true" [value]="null">selecciona</option>
      <option  [value]="0">R0</option>
       <option  [value]="1">R1-R4</option>
        <option [value]="3">P1-P4</option>
    </select>



    <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" md-mini-fab color="primary" (click)="checkBorrar(item.id)" type="submit">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" md-mini-fab color="primary" [disabled]="!guardar[item.id]" type="submit">
        <span class="material-icons">check</span>
      </button>                
    </span>
  </form>

</div>
