<!--[locale]="es" -->

<mat-card>
  <h2 class="popupTitle">{{'incidencia.calendario' | translate}}</h2><div class="space"></div>
  <!-- <p-schedule [height]="470"  [contentHeight]="400"  [aspectRatio]="3" [events]="events" [header]="headerCalendar" [locale]="locale" [eventLimit]="4" [editable]="false"
   dateFormat="dd-mm-yy"  (onEventClick)="handleEventClick($event)" #calendar></p-schedule> -->
   <p-schedule [height]="410"  [contentHeight]="410"  [events]="events" [header]="headerCalendar" 
   [eventLimit]="2" [editable]="false" [options]="opcionesFullCalendar"
   dateFormat="dd-mm-yy"  (onEventClick)="handleEventClick($event)" #calendar
   [eventRender]="eventRender"></p-schedule>
  <!--(onDayClick)="handleDayClick($event)"-->
  <mat-card>
      <div class="leyenda">
          {{'leyenda' | translate}}
      </div>
      <div class="leyenda">
          <mat-chip-list>
                <figure style="display: block;background: #673ab7;border-radius: 50%;height: 25px;width: 25px; margin: 0;" ></figure>
                <mat-chip class="chip" color="#33cc33" selected="true">{{'incidencia.estado-1' | translate}}</mat-chip>
              <figure style="display: block;background: #cccccc;border-radius: 50%;height: 25px;width: 25px; margin: 0;" ></figure>
              <mat-chip class="chip" color="#33cc33" selected="true">{{'incidencia.estado0' | translate}}</mat-chip>
              <figure style="display: block;background: #E65A58;border-radius: 50%;height: 25px;width: 25px; margin: 0;" ></figure>
              <mat-chip class="chip" color="#33cc33" selected="true">{{'incidencia.estado1' | translate}}</mat-chip>
              <figure style="display: block;background: #33cc33;border-radius: 50%;height: 25px;width: 25px; margin: 0;" ></figure>
              <mat-chip class="chip" color="#33cc33" selected="true">{{'incidencia.estado2' | translate}}</mat-chip>
          </mat-chip-list>
      </div>
  </mat-card>
  </mat-card>
  <!--
      [contentStyle]="{'overflow':'visible','height':'430px'}"
  [height]="500"
      -->

   <p-dialog appendTo="body" header="Detalles" [height]="400" [width]="600" [(visible)]="dialogVisible" [responsive]="true" [contentStyle]="{'overflow':'visible'}" showEffect="fade" [modal]="true">
      <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="incidencia">
          <div class="ui-grid-row">
              <div class="ui-grid-col-4"><label for="vin">{{'incidencia.incidencia' | translate}}</label></div>
              <div class="ui-grid-col-8"><input pInputText size="40" id="title" [(ngModel)]="incidencia.incidencia" /></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'incidencia.responsable' | translate}}</label></div>
            <div class="ui-grid-col-8">
                <!-- <input id="responsable" [(ngModel)]="incidencia.responsable" /> -->
                <p-dropdown [style]="{'width':'170px'}" [options]="responsables" [(ngModel)]="incidencia.responsable" placeholder="{{'incidencia.responsable' | translate}}"></p-dropdown>
          </div>
        </div>
          <div class="ui-grid-row">
              <div class="ui-grid-col-4"><label for="start">{{'incidencia.fecha' | translate}}</label></div>
              <div class="ui-grid-col-8"><p-calendar [style]="{'width':'170px'}" appendTo="body" [disabled] id="start"  
                [(ngModel)]="incidencia.fecha" dateFormat="dd/mm/yy" hourFormat="24" [showTime]="true"></p-calendar></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'incidencia.r_cierre' | translate}}</label></div>
            <div class="ui-grid-col-8">
          <p-dropdown [style]="{'width':'170px'}" [options]="responsables" [(ngModel)]="incidencia.responsable_cierre" placeholder="{{'incidencia.r_cierre' | translate}}"></p-dropdown>
            </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="start">{{'incidencia.fecha_cierre' | translate}}</label></div>
                <div class="ui-grid-col-8"><p-calendar [style]="{'width':'170px'}" appendTo="body" [disabled] id="start"  
                    [(ngModel)]="incidencia.fecha_cierre" dateFormat="dd/mm/yy" hourFormat="24" [showTime]="true"></p-calendar></div>
            </div>
          <div class="ui-grid-row">
              <div class="ui-grid-col-4"><label for="start">{{'incidencia.estado' | translate}}</label></div>
              <div class="ui-grid-col-8">
                  <p-dropdown [style]="{'width':'170px'}" [options]="estados" [(ngModel)]="incidencia.estado" placeholder="{{'incidencia.estado' | translate}}"></p-dropdown>            
                </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'incidencia.origen' | translate}}</label></div>
            <div class="ui-grid-col-8"><input  pInputText size="40" id="origen" [(ngModel)]="incidencia.origen" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'incidencia.descripcion' | translate}}</label></div>
            <div class="ui-grid-col-8"><input  pInputText size="40" id="descrip" [(ngModel)]="incidencia.descripcion" /></div>
        </div>
          <div class="ui-grid-row">
              <div class="ui-grid-col-4"><label for="vin">{{'incidencia.solucion' | translate}}</label></div>
              <div class="ui-grid-col-8"><input  pInputText size="40" id="solucion" [(ngModel)]="incidencia.solucion" /></div>
          </div>

  
      </div>
      <p-footer>
          <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
              <button type="button" pButton icon="fa-close" (click)="cancelEvent()" label="Cancelar"></button>
              <button type="button" pButton icon="fa-check" (click)="saveEvent(calendar)" label="Guardar"></button>
              <!-- <button *ngIf="estado=='realizado' && limpiezarealizada.idsupervisor == empresasService.userId" type="button" pButton icon="fa-check" (click)="supervisarEvent()" label="Supervisar"></button> -->
              
          </div>
      </p-footer>
  </p-dialog>
