.sinDefinir{
    color:  #673ab7;
}
.noAplica{
    color:  #cccccc;
}
.abierto{
    color: 2 red;
}
.cerrado{
    color:  #33cc33;
}
.elem{
    cursor: pointer;
    margin-bottom: 5px;
}

.sombraListado{
box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 
            0 2px 2px 0 rgba(0,0,0,.14), 
            0 1px 5px 0 rgba(0,0,0,.12);
}
.card{
    display: block;
    float: left;
    width: 400px;
    height: 280px;
    padding: 55px 30px 20px 30px;
    margin: 1px 10px 30px 10px;
    min-height: 280px !important;
    max-height: 280px !important;
    overflow-y: auto;
}