<mat-card class="card">
  <mat-card-header>
    <div></div>
    <mat-card-title>Incidencias</mat-card-title>
    
  </mat-card-header>
  <!-- <img mat-card-image src="" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let incidencia of incidencias">
        
          <span (click)="gotoOrigen(incidencia)" class="elem" [ngClass]="{'sinDefinir':!incidencia.estado==-1,'noAplica':!incidencia.estado==0,'abierto':!incidencia.estado==1,'cerrado':!incidencia.estado==2}"> 
        {{incidencia.incidencia}} {{incidencia.origen}}
          </span>

      </mat-list-item>
    </mat-list>
    <mat-spinner *ngIf="calculando"></mat-spinner>  
    <!-- <p-chart type="line" [data]="data"  *ngIf="!calculando"></p-chart> -->

  </mat-card-content>
  <mat-card-actions>
      <button mat-button (click)="loadResultados(1)">1 día</button>
      <button mat-button (click)="loadResultados(7)">7 días</button>
      <button mat-button (click)="loadResultados(14)">30 días</button>
    </mat-card-actions>
</mat-card>