<mat-card class="card" [ngStyle]="{'height':altura}">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{'Dashboard.incidenciasT' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'Dashboard.incidenciasST' | translate}}</mat-card-subtitle>
    
  </mat-card-header>
  <!-- <img mat-card-image src="" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <mat-list class="sombraListado">
      <mat-list-item *ngFor="let incidencia of incidencias" (click)="gotoOrigen(incidencia)" class="elem"  [ngClass]="{'sinDefinir':incidencia.estado==-1,'noAplica':incidencia.estado==0,'abierto':incidencia.estado==1,'cerrado':incidencia.estado==2}">
        
          <span > 
            {{incidencia.incidencia}} 
        <!-- {{incidencia.origen}} -->
          </span>

      </mat-list-item>
     
    </mat-list>
    <mat-spinner *ngIf="calculando"></mat-spinner>  
    <!-- <p-chart type="line" [data]="data"  *ngIf="!calculando"></p-chart> -->

  </mat-card-content>
  
  <mat-card-actions     style="position: absolute !important;bottom: 25px;">
      <button [ngClass]="{'selected2':dias==1}" mat-button (click)="loadResultados(1)">1 {{'dia' | translate}}</button>
      <button [ngClass]="{'selected2':dias==7}" mat-button (click)="loadResultados(7)">7 {{'dias' | translate}}</button>
      <button [ngClass]="{'selected2':dias==14}" mat-button (click)="loadResultados(14)">30 {{'dias' | translate}}</button>
    </mat-card-actions>
</mat-card>