<div class="modal" *ngIf="receta">
    <div class="pdfWindow">
        <div  class="tooltip botonCerrarDocWindow" matTooltip="{{'cerrar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">        
            <button color="accent" mat-mini-fab (click)="cerrar()"><mat-icon>cancel</mat-icon></button>
            </div>
      <div class="tooltip botonCerrar" matTooltip="{{'cerrar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
        [matTooltipPosition]="'before'">
        <button top-left color="accent" mat-mini-fab (click)="cerrar()">
          <mat-icon>skip_previous</mat-icon>
        </button>
      </div>

      <mat-tab-group>
        <mat-tab label="{{'recetas.Ingredientes' | translate}}">

            <mat-progress-spinner *ngIf="estado < 100"  style="position: fixed; margin-top: 100px; margin-left:45%; z-index: 99999;" mode="indeterminate"></mat-progress-spinner>

          <mat-toolbar style="padding-top: 30px;width: 780px;font-size: medium;">
            {{receta.nombre}} ({{orden.numlote}})
            <mat-form-field class="toolbarF">
              <input matInput placeholder="{{'recetas.IntroducirCantidad' | translate}}" [(ngModel)]="cantidadProduccion">
            </mat-form-field>
            <div class="tooltip" matTooltip="{{'recetas.calcular' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">
            <button  class="toolbarF" color="accent" [disabled]="!ready" mat-raised-button (click)="process()">
              {{'recetas.calcular' | translate}}
            </button>
          </div>
          </mat-toolbar>
      <div class="marcoIngredientes round">
         <p-accordion>
            <p-accordionTab header="{{ingrediente.ingrediente}} "   *ngFor="let ingrediente of ingredientes; let x = index">
                necesitas: {{ingrediente.cantidad}} - {{ingrediente.tipo_medida}} 
                    <mat-list>
                        <mat-list-item  *ngFor="let lote of lotesIng[x]; let y = index" > 
                    <!-- **** Coge una parte del lote ****-->
                          <span class="loteSelected" *ngIf="loteSelected[x][y].cantidad>0 && loteSelected[x][y].cantidad < lote.cantidad_remanente">
                            {{getProv(lote.idproveedor)}}:({{loteSelected[x][y].nombreMP}} - {{lote.numlote_proveedor}}) caduca:{{lote.fecha_caducidad | date:'dd-MM-yyyy'}} {{'recetas.coge' | translate}} {{loteSelected[x][y].cantidad}} {{lote.tipo_medida | translate}} 
                            <span *ngIf="lote.tipo_medida=='unidades' || lote.tipo_medida=='unitats'">{{'recetas.de2' | translate}}</span> 
                            <span *ngIf="lote.tipo_medida!='unidades' && lote.tipo_medida!='unitats'">{{'recetas.de1' | translate}}</span> 
                            {{lote.cantidad_remanente}} {{lote.tipo_medida | translate}} {{'recetas.restantes' | translate}} 
                          </span>
                    <!-- **** Coge TODO el lote ****-->
                          <span class="loteSelected" *ngIf="loteSelected[x][y].cantidad>0 && loteSelected[x][y].cantidad >= lote.cantidad_remanente">
                            {{getProv(lote.idproveedor)}}:({{loteSelected[x][y].nombreMP}} - {{lote.numlote_proveedor}}) caduca:{{lote.fecha_caducidad | date:'dd-MM-yyyy'}} {{'recetas.cogeTodo' | translate}} {{loteSelected[x][y].cantidad}} {{lote.tipo_medida | translate}} 
                            <span *ngIf="lote.tipo_medida=='unidades' || lote.tipo_medida=='unitats'">{{'recetas.de2' | translate}}</span> 
                            <span *ngIf="lote.tipo_medida!='unidades' && lote.tipo_medida!='unitats'">{{'recetas.de1' | translate}}</span> 
                            {{lote.cantidad_remanente}} {{lote.tipo_medida | translate}} {{'recetas.restantes' | translate}}
                        </span>
                    <!-- **** No COJAS NADA del lote ****-->
                          <span class="loteNotSelected" *ngIf="loteSelected[x][y].cantidad==0">
                            {{getProv(lote.idproveedor)}}:({{loteSelected[x][y].nombreMP}} - {{lote.numlote_proveedor}}) caduca:{{lote.fecha_caducidad | date:'dd-MM-yyyy'}} {{'recetas.noCojas' | translate}} 
                            <span *ngIf="lote.tipo_medida=='unidades' || lote.tipo_medida=='unitats'">{{'recetas.de2' | translate}}</span> 
                            <span *ngIf="lote.tipo_medida!='unidades' && lote.tipo_medida!='unitats'">{{'recetas.de1' | translate}}</span> 
                            {{lote.cantidad_remanente}} {{lote.tipo_medida | translate}} {{'recetas.restantes' | translate}}
                        </span>
                        </mat-list-item>
                       </mat-list>
            </p-accordionTab>
        </p-accordion>
        <button style="margin-top:30px" color="primary" [disabled]="cocinado || semaforo=='rojo'" mat-raised-button  (click)="proceed()">
            <mat-icon >add_shopping_cart</mat-icon>
            {{'recetas.anadir' | translate}} {{orden.numlote}}
          </button>

          <div class="mensajes" [style.height]="alertas.length*42+'px'" [ngClass]="{'semaforoRojo':semaforo=='rojo','semaforoVerde':semaforo!='rojo'}">
              <mat-list>
                  <mat-list-item  *ngFor="let alerta of alertas; let i = index" > 
                    {{alerta | translate}}
                    <span *ngIf="alerta=='recetas.elaborado'">&nbsp;{{orden.numlote}}</span>
                  </mat-list-item>
                 </mat-list>
</div>
<button style="margin-top:3px; display:block" color="accent" *ngIf="cocinado || semaforo=='rojo'" mat-raised-button  (click)="cerrar()">
    <mat-icon >cancel</mat-icon>
    {{'cerrar' | translate}}
  </button>
      </div>



    </mat-tab>
    <mat-tab label="Pdf">


      <div *ngIf="pdfSrc || true">
          <div class="pdfToolbar">
            <div class="toolBar">
            <button color="accent" mat-icon-button>
              <mat-icon (click)="PageAnterior()">keyboard_arrow_left</mat-icon>
            </button>
            </div>
            <div class="toolBar">
            <button color="accent" mat-icon-button>
              <mat-icon (click)="PageSiguiente()">keyboard_arrow_right</mat-icon>
            </button>
          </div>
          <div class="toolBar">
            <button color="accent" mat-icon-button>
              <mat-icon (click)="zoomIn()">add</mat-icon>
            </button>
          </div>
          <div class="toolBar">
            <button color="accent" mat-icon-button>
              <mat-icon (click)="zoomOut()">remove</mat-icon>
            </button>
          </div>
          </div>
          <div style="display: block;margin: auto;width:798px;height:94vh;border:black solid 1px;background-color: antiquewhite">
            <pdf-viewer [src]="pdfSrc" [fit-to-page]="false" [show-all]="false" [page]="paginaPdf" [autoresize]="false"
              [render-text]="true" [zoom]="zoomPdf" style="display: block" (error)="onPDFError($event)" (on-progress)="onProgress($event)"
              (after-load-complete)="pdfLoaded($event)">
            </pdf-viewer>
          </div>
          </div>
          
        </mat-tab>
      </mat-tab-group>
    
    



    </div>
  </div>