<md-card class="card">
    <md-card-header>
      <div></div>
      <md-card-title>Controles realizados</md-card-title>
      
    </md-card-header>
    <!-- <img md-card-image src="" alt="Photo of a Shiba Inu"> -->
    <md-card-content>
      <!-- <md-list>
        <md-list-item>
          {{controles}} {{'Controles'|translate}} {{'para realizar'|translate}}
        </md-list-item>
        <md-list-item>
          {{checklists}} {{'Checklists'|translate}} {{'para realizar'|translate}}
        </md-list-item>
        <md-list-item>
          {{limpiezas}} {{'Limpiezas'|translate}} {{'para realizar'|translate}}
        </md-list-item>
        <md-list-item>
          {{mantenimientos}} {{'Mantenimientos'|translate}} {{'para realizar'|translate}}
        </md-list-item>
      </md-list> -->
      <md-spinner *ngIf="calculando"></md-spinner>  
      <p-chart type="line" [data]="data"  *ngIf="!calculando"></p-chart>
  
    </md-card-content>
    <md-card-actions>
        <button md-button (click)="loadResultados(7)">7 días</button>
        <button md-button (click)="loadResultados(14)">14 días</button>
      </md-card-actions>
  </md-card>