.col1{
  background-color: #fff9c4;
  border: 1px solid #fbc02d;
  margin-top: 28px;
}
.row0{
    border: #fff9c4;
  background-color: 1px solid #fbc02d;
}

.leyenda{
  float:left;
  margin-left: 10px;
  margin-top: -25px;
}
.chip{
height: 12px;
  margin-right: 10px;
  margin-left: 3px;
}