<md-card>
<h2 class="center">{{'maquinas.CalendarioGeneralMantenimiento' | translate}}</h2>
<p-schedule [height]="410"  [contentHeight]="410"  [aspectRatio]="3" [events]="events" [header]="headerCalendar"  [locale]="locale" 
 [eventLimit]="2" [editable]="false" dateFormat="dd-mm-yy" (onEventClick)="handleEventClick($event)" #calendar
 [style]="{'width':'900px'}">
</p-schedule>
<!--(onDayClick)="handleDayClick($event)"-->
<md-card style="height:66px">
    <span class="titleLeyenda">{{'leyenda' | translate}}</span>
    <div class="leyenda">
       {{'maquinas.mantenimientos' | translate}}
        <md-chip-list>
            <figure style="display: block;background: #33cc33;border-radius: 50%;height: 25px;width: 25px; margin: 0;" ></figure>
            <md-chip  color="#33cc33" selected="true">{{'maquinas.realizados' | translate}}</md-chip>
            <figure style="display: block;background: #F67E1F;border-radius: 50%;height: 25px;width: 25px; margin: 0;" ></figure>
            <md-chip color="#F67E1F" selected="true">{{'maquinas.proximos' | translate}}</md-chip>
            <figure style="display: block;background: #E65A58;border-radius: 50%;height: 25px;width: 25px; margin: 0;" ></figure>
            <md-chip color="#33cc33" selected="true">{{'maquinas.vencidos' | translate}}</md-chip>
        </md-chip-list>
    </div>
    <div class="leyenda2">
        {{'maquinas.calibraciones' | translate}}
        <md-chip-list>
            <figure style="display: block;background: #88ee88;border-radius: 50%;height: 25px;width: 25px; margin: 0;" ></figure>
            <md-chip  color="#33cc33" selected="true">{{'maquinas.realizados' | translate}}</md-chip>
            <figure style="display: block;background: #673AB7;border-radius: 50%;height: 25px;width: 25px; margin: 0;" ></figure>
            <md-chip color="#33cc33" selected="true">{{'maquinas.proximos' | translate}}</md-chip>
            <figure style="display: block;background: red;border-radius: 50%;height: 25px;width: 25px; margin: 0;" ></figure>
            <md-chip color="#33cc33" selected="true">{{'maquinas.vencidos' | translate}}</md-chip>
        </md-chip-list>
    </div>
</md-card>
</md-card>

 <p-dialog  *ngIf="mantenimientorealizado" width="455" appendTo="body" header="{{mantenimientorealizado.maquina}}" [(visible)]="dialogVisible" [responsive]="false" [contentStyle]="{'overflow':'visible'}" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'maquinas.titulo' | translate}}</label></div>
            <div class="ui-grid-col-8"><input pInputText size="35" id="title" [(ngModel)]="mantenimientorealizado.maquina" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="start">{{'maquinas.fecha_prevista' | translate}}</label></div>
            <div class="ui-grid-col-8"><p-calendar [disabled] id="start"  [(ngModel)]="mantenimientorealizado.fecha_prevista"  dateFormat="dd/mm/yy"></p-calendar></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="start">{{'maquinas.fecha_real' | translate}}</label></div>
            <div class="ui-grid-col-8"><p-calendar  id="fechareal"  [(ngModel)]="mantenimientorealizado.fecha"  dateFormat="dd/mm/yy"></p-calendar></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'maquinas.elemento' | translate}}</label></div>
            <div class="ui-grid-col-8"><input  pInputText size="35" id="elem" [(ngModel)]="mantenimientorealizado.elemento" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'maquinas.descripcion' | translate}}</label></div>
            <div class="ui-grid-col-8"><input  pInputText size="35" id="descrip" [(ngModel)]="mantenimientorealizado.descripcion" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'maquinas.causa' | translate}}</label></div>
            <div class="ui-grid-col-8"><input  pInputText size="35" id="casusa" [(ngModel)]="mantenimientorealizado.causas" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'maquinas.tipo' | translate}}</label></div>
            <div class="ui-grid-col-8"><input  pInputText size="35" id="tipo" [(ngModel)]="mantenimientorealizado.tipo" /></div>
        </div>
        <!--<div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'maquinas.preventivo/correctivo' | translate}}</label></div>
            <div class="ui-grid-col-8"><input  id="title" [(ngModel)]="mantenimientorealizado.tipo2" /></div>
        </div>-->
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'maquinas.responsable' | translate}}</label></div>
            <div class="ui-grid-col-8"><input id="responsable" size="35" [(ngModel)]="mantenimientorealizado.responsable" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="cancelEvent()" label="Cancelar"></button>
            <button *ngIf="estado=='pendiente'" type="button" pButton icon="fa-check" (click)="saveEvent()" label="Guardar"></button>
        </div>
    </p-footer>
</p-dialog>