
<p-schedule [events]="events" [header]="headerCalendar"  [locale]="es" [contentHeight]="600" [eventLimit]="4" [editable]="false"
 dateFormat="dd-mm-yy"
  (onEventClick)="handleEventClick($event)" #calendar></p-schedule>
<!--(onDayClick)="handleDayClick($event)"-->
<md-card>leyenda
    <div class="leyenda">
        Mantenimientos
        <md-chip-list>
            <figure style="display: block;background: #33cc33;border-radius: 50%;height: 30px;width: 30px; margin: 0;" ></figure>
            <md-chip  color="#33cc33" selected="true">realizados</md-chip>
            <figure style="display: block;background: #F67E1F;border-radius: 50%;height: 30px;width: 30px; margin: 0;" ></figure>
            <md-chip color="#F67E1F" selected="true">próximos</md-chip>
            <figure style="display: block;background: #E65A58;border-radius: 50%;height: 30px;width: 30px; margin: 0;" ></figure>
            <md-chip color="accent" selected="true">vencidos</md-chip>
        </md-chip-list>
        <br>
        Calibraciones
        <md-chip-list>
            <figure style="display: block;background: #88ee88;border-radius: 50%;height: 30px;width: 30px; margin: 0;" ></figure>
            <md-chip  color="red" selected="true">realizadas</md-chip>
            <figure style="display: block;background: #673AB7;border-radius: 50%;height: 30px;width: 30px; margin: 0;" ></figure>
            <md-chip color="#673AB7" selected="true">próximas</md-chip>
            <figure style="display: block;background: red;border-radius: 50%;height: 30px;width: 30px; margin: 0;" ></figure>
            <md-chip color="#88ee88" selected="true">vencidas</md-chip>
        </md-chip-list>
    </div>
</md-card>


 <p-dialog header="Detalles" [(visible)]="dialogVisible" [responsive]="false" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="mantenimientorealizado">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'maquinas.titulo' | translate}}</label></div>
            <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="mantenimientorealizado.maquina" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="start">{{'maquinas.fecha_prevista' | translate}}</label></div>
            <div class="ui-grid-col-8"><p-calendar [disabled] id="start"  [(ngModel)]="mantenimientorealizado.fecha_prevista" format="dd-mm-yy"></p-calendar></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="start">{{'maquinas.fecha_real' | translate}}</label></div>
            <div class="ui-grid-col-8"><p-calendar  id="fechareal"  [(ngModel)]="mantenimientorealizado.fecha" format="dd-mm-yy"></p-calendar></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'maquinas.elemento' | translate}}</label></div>
            <div class="ui-grid-col-8"><input  pInputText id="elem" [(ngModel)]="mantenimientorealizado.elemento" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'maquinas.descripcion' | translate}}</label></div>
            <div class="ui-grid-col-8"><input  pInputText id="descrip" [(ngModel)]="mantenimientorealizado.descripcion" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'maquinas.causa' | translate}}</label></div>
            <div class="ui-grid-col-8"><input  pInputText id="casusa" [(ngModel)]="mantenimientorealizado.causas" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'maquinas.tipo' | translate}}</label></div>
            <div class="ui-grid-col-8"><input  pInputText id="tipo" [(ngModel)]="mantenimientorealizado.tipo" /></div>
        </div>
        <!--<div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'maquinas.preventivo/correctivo' | translate}}</label></div>
            <div class="ui-grid-col-8"><input  id="title" [(ngModel)]="mantenimientorealizado.tipo2" /></div>
        </div>-->
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">{{'maquinas.responsable' | translate}}</label></div>
            <div class="ui-grid-col-8"><input id="responsable" [(ngModel)]="mantenimientorealizado.responsable" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="cancelEvent()" label="Cancelar"></button>
            <button *ngIf="estado=='pendiente'" type="button" pButton icon="fa-check" (click)="saveEvent()" label="Guardar"></button>
        </div>
    </p-footer>
</p-dialog>