.fichaMaquina{
width:900px;
height:700px;
padding: 0px 25px;
}
.campo{
  /* background-color: #fff9c4; */
  border: 1px solid #fbc02d;
  margin-top: 18px;
}
.inputCampo{
    position: absolute;
    left: 10px;
}
.fullsize{
    width: calc(100% - 0px);
    height: calc(100% - 50px);
    margin-top: 25px;
}
md-grid-tile-header{
    height: 25px !important;
    color: #000;
}

#doc{
    width: 0px;
    opacity: 0;
}
.inputfile{
    width: 0px;
    opacity: 0;
    display:none;
}
.inputlabel {
    margin-top: 0px;
    display: block;
    width: 140px;
    height: 35px;
    cursor: pointer;
    background-color: #ffd740;
    color: black;
    text-align: center;
    line-height: 35px;
    border-bottom: darkgray;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.inputlabelRound {
    /* margin-top: 20px; */
    margin-top: 6px;
    margin-left: 5px;
    display: block;
    width: 40px;
    height:40px;
    cursor: pointer;
    background-image: url('/assets/images/upload.png');
}
.mini-fab{
    max-width:40px;
}
.iframeDiv{
    position: absolute !important;
    top: 50px;
    left: calc(50% - 200px);
    width: 400px;
    height: 300px;
    z-index: 999 !important;
    background-color: #d2d2d2;
    display: block;
    /* padding-left: 25%; */
    /* padding-right: 25%; */
    opacity: 0.98; 
}
.iframe{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #fff;
    display: block;
    opacity: 1; 
    max-height: 220px;
    max-width: 280px;
}

.botones{
    width:900px;
    background-color: #fff;
    height: 55px;
    float:left;
}
.but{
    float: left;
}

.but2{
    width:170px;
}

.textareacontainer{
    height:170px;
}

.disabled{
    opacity: 0.2;
}

.expander{
    width: 35px;
    min-height: 45px;
    position:absolute;
    left: 25px;
    margin-top: -15px;
    background-color: rgba(255, 255, 255, 0.1);
}

.plan_descripcion{
    width:37%;
    float:left;
    height: 80px;
}