
.campo{
  background-color: #fff9c4;
  border: 1px solid #fbc02d;
  margin-top: 28px;
}
.fullsize{
    width: calc(100% - 20px);
    height: calc(100% - 50px);
    margin-top: 25px;
}
md-grid-tile-header{
    height: 25px;
    color: #000;
}

#doc{
    width: 0px;
    opacity: 0;
}

.inputlabel {
    margin-top: 10px;
    margin-left: 5px;
    display: block;
    width: 40px;
    height:40px;
    cursor: pointer;
    background-image: url('./assets/images/upload.png');
}