{{maquina.nombre}}

<md-grid-list cols="3">
  <md-grid-tile>
      <md-grid-tile-header>{{maquina.id}}
      </md-grid-tile-header>
      {{maquina.nombre}}<br>
      {{maquina.nombre}}
      </md-grid-tile>
  <md-grid-tile>
      <md-grid-tile-header>{{maquina.nombre}}
      </md-grid-tile-header>
      {{maquina.nombre}}<br>
      {{maquina.nombre}}
      </md-grid-tile>
  <md-grid-tile>{{maquina.idempresa}}</md-grid-tile>
<md-grid-tile>{{maquina.id}}</md-grid-tile>
  <md-grid-tile>{{maquina.nombre}}</md-grid-tile>
  <md-grid-tile><md-grid-tile-footer>{{maquina.idempresa}}</md-grid-tile-footer></md-grid-tile>
  
</md-grid-list>