
<div class="table">
  <form *ngIf="empresasService.administrador" class="row" #crearMantenimientoForm="ngForm" (ngSubmit)="crearMantenimiento()">
    <input type="hidden" [(ngModel)]="nuevoMantenimiento.id" name="id">
    <span class="cell">
      <input type="text" [placeholder]="'nombre' | translate" required [(ngModel)]="nuevoMantenimiento.nombre" name="nombre">
    </span>
    <span class="cell">
        <select class="white-select" required [(ngModel)]="nuevoMantenimiento.tipo" name="tipo">
        <option value="interno">{{'interno' | translate}}</option>
        <option value="externo">{{'externo' | translate}}</option>
      </select>
    </span>
    <span class="cell">
      <input class="small" type="text" placeholder="0" required [(ngModel)]="nuevoMantenimiento.periodicidad" name="periodicidad">
    </span>
    <span class="cell">
      <select class="white-select" required [(ngModel)]="nuevoMantenimiento.tipo_periodo" name="tipo_periodo">
        <option value="Día">{{'Día' | translate}}</option>
        <option value="Semana">{{'Semana' | translate}}</option>
        <option>Mes</option>
        <option value="Año">{{'Año' | translate}}</option>
      </select>
    </span>
    <span class="cell"></span>
    <span class="cell">
      <button md-mini-fab color="accent" [disabled]="!crearMantenimientoForm.form.valid" type="submit">
        <span class="material-icons">add</span>
      </button>
    </span>
  </form>

  <div class="header-row">
    <span class="header-cell">Mantenimiento</span>
    <span class="header-cell">tipo</span>
    <span class="header-cell right">periodicidad</span>
    <span class="header-cell">{{'Periodo' | translate}}</span>
    <span class="header-cell"></span>
    <span class="header-cell"></span>
  </div>

  <form class=" row"#actMantenimientoF="ngForm" (ngSubmit)="actualizarMantenimiento(actMantenimientoF.value)" *ngFor="let mantenimiento of mantenimientos">
    <input type="hidden" [(ngModel)]="mantenimiento.id" name="id">
    <span class="cell">
      <input [readonly]="!empresasService.administrador" type="text" [(ngModel)]="mantenimiento.nombre" name="nombre" (keyup)="modificarMantenimiento(mantenimiento.id)">
    </span>
    <span class="cell">
      <select [disabled]="!empresasService.administrador" class="white-select" [(ngModel)]="mantenimiento.tipo" name="tipo" (change)="modificarMantenimiento(mantenimiento.id)">
        <option value="interno">{{'interno' | translate}}</option>
        <option value="externo">{{'externo' | translate}}</option>
      </select>
    </span>
    <span class="cell">
      <input [readonly]="!empresasService.administrador" class="small" type="text" [(ngModel)]="mantenimiento.periodicidad" name="periodicidad" (keyup)="modificarMantenimiento(mantenimiento.id)">
    </span>
    <span class="cell">
      <select [disabled]="!empresasService.administrador" class="white-select" [(ngModel)]="mantenimiento.tipo_periodo" name="tipo_periodo" (change)="modificarMantenimiento(mantenimiento.id)">
        <option value="Dia">{{'Día' | translate}}</option>
        <option value="Semana">{{'Semana' | translate}}</option>
        <option value="Mes">Mes</option>
        <option value="Año">{{'Año' | translate}}</option>
      </select>
    </span>
    <span class="cell">
      <button *ngIf="empresasService.administrador" md-mini-fab color="primary" (click)="checkBorrar(mantenimiento.id)" type="submit">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell">
      <button *ngIf="empresasService.administrador" md-mini-fab color="primary" [disabled]="!guardar[mantenimiento.id]" type="submit">
        <span class="material-icons">check</span>
      </button>                
    </span>
  </form>

</div>