<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>

<span class="cell tooltip" mdTooltip="{{'maquinas.nueva' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'above'">    
<div class="table">
  <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="row" #crearMantenimientoForm="ngForm" (ngSubmit)="crearMantenimiento()">
    <input type="hidden" [(ngModel)]="nuevoMantenimiento.id" name="id">
    <span class="cell">
      <input type="text" [placeholder]="'maquinas.nombre' | translate" required [(ngModel)]="nuevoMantenimiento.nombre" name="nombre">
    </span>
    <span class="cell">
      <p-calendar placeholder="fecha" [(ngModel)]="nuevoMantenimiento.fecha" [locale]="es" dateFormat="dd/mm/yy"  name="fecha"></p-calendar>
    </span>
    <span class="cell">
        <select class="white-select" required [(ngModel)]="nuevoMantenimiento.tipo" name="tipo">
        <option value="interno">{{'maquinas.interno' | translate}}</option>
        <option value="externo">{{'maquinas.externo' | translate}}</option>
      </select>
    </span>

    <span class="cell">
      <periodicidad (periodo)="setPeriodicidad($event)" [miperiodo]="false" [fechaPrevista]="nuevoMantenimiento.fecha"></periodicidad>
    </span>
    <span class="cell">
      <input type="text" [placeholder]="'maquinas.responsable' | translate" [(ngModel)]="nuevoMantenimiento.responsable" name="responsable">
    </span>
    <span class="cell"></span>
    <span class="cell">
        <span class="cell tooltip" mdTooltip="{{'add' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'above'">            
      <button md-mini-fab color="accent" [disabled]="!crearMantenimientoForm.form.valid" type="submit">
        <span class="material-icons">add</span>
      </button>
        </span>
    </span>
  </form>
</div>
</span>

  <!-- <div class="header-row">
    <span class="header-cell">{{"maquinas.mantenimiento" | translate}}</span>
    <span class="header-cell">{{"maquinas.proximafecha" | translate}}</span>
    <span class="header-cell">{{"maquinas.tipo" | translate}}</span>
    <span class="header-cell">{{"maquinas.periodicidad" | translate}}</span>
    <span class="header-cell">{{"maquinas.responsable" | translate}}</span>
    <span class="header-cell"></span>
    <span class="header-cell"></span>
  </div>

  <form class=" row"#actMantenimientoF="ngForm" (ngSubmit)="actualizarMantenimiento(actMantenimientoF.value, i, $event)" *ngFor="let mantenimiento of mantenimientos;let i = index">
    <input type="hidden" [(ngModel)]="mantenimiento.id" name="id">
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" type="text" [(ngModel)]="mantenimiento.nombre" name="nombre" (keyup)="modificarMantenimiento(mantenimiento.id)">
    </span>
    <span class="cell">
      <p-calendar [(ngModel)]="mantenimiento.fecha"  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="modificarMantenimiento(mantenimiento.id,mantenimiento.fecha)" name="fecha"></p-calendar>    
    </span>
    <span class="cell">
      <select [disabled]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" class="white-select" [(ngModel)]="mantenimiento.tipo" name="tipo" (change)="modificarMantenimiento(mantenimiento.id)">
        <option value="interno">{{'interno' | translate}}</option>
        <option value="externo">{{'externo' | translate}}</option>
      </select>
    </span>
    <span class="cell">
      <periodicidad (periodo)="setPeriodicidad($event, mantenimiento.id, i)" [miperiodo]="mantenimiento.periodicidad" [fechaPrevista]="mantenimiento.fecha" name="periodicidad"></periodicidad>
    </span>
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" [placeholder]="'responsable' | translate" type="text" [(ngModel)]="mantenimiento.responsable" name="responsable" (keyup)="modificarMantenimiento(mantenimiento.id)">
    </span>

    <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" md-mini-fab color="primary" (click)="checkBorrar(mantenimiento.id)" type="button">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" md-mini-fab color="primary" [disabled]="!guardar[mantenimiento.id]" type="submit">
        <span class="material-icons">check</span>
      </button>                
    </span>
  </form> -->



<div style="position:absolute; left:0px; top:110px; min-width:1000px">
    <p-dataTable #DT [value]="mantenimientos"  expandableRows="true"  rowExpandMode="single"
    [editable]="true"  [responsive]="true" (onEditInit)="onEdit($event)" sortField="orden" [sortOrder]="1" 
    [csvSeparator]="';'" [exportFilename]="'Mantenimientos_Preventivos'">
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="cell tooltip" mdTooltip="{{'exportar' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'left'">              
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="exportData(DT)" style="float:left"></button>
            </span>
          </div>
    </p-header>

    <!--************ ORDEN ***************************-->
        <p-column field="orden" header="orden" [sortable]="true" [editable]="false">
        <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="header">    
        <md-icon>import_export</md-icon>
        </ng-template>
        <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">    
         <div class="up" (click)="goUp(i,$event,dt)"><md-icon>arrow_drop_up</md-icon></div>
        <div class="down" (click)="goDown(i,$event,dt)"><md-icon>arrow_drop_down</md-icon></div>
        <div class="orden" >{{item.orden}}</div>        
        </ng-template>
      </p-column>   
    <!--************ FIN ORDEN ***************************--> 

      <p-column field="nombre" header="nombre" [editable]="true" ></p-column>
      <p-column field="fecha" header="fecha" >
        <ng-template let-col let-item="rowData" pTemplate="body">      
        <p-calendar [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item.fecha"  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha)" name="fecha"></p-calendar>
        </ng-template>
      </p-column>
      <p-column field="tipo" header="tipo">
          <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
          <p-dropdown [options]="tipos" [(ngModel)]="item.tipo" appendTo="body" [style]="{'width':'110px'}" (onChange)="itemEdited(item.id)"></p-dropdown>
        </ng-template>
      </p-column>
      <p-column field="periodicidad" header="periodicidad" >
        <ng-template let-col let-item="rowData" pTemplate="body">
        <periodicidad (periodo)="setPeriodicidad($event, item.id, i)" [miperiodo]="item.periodicidad" [fechaPrevista]="item.fecha" [origen]="tipo" name="periodicidad"></periodicidad>
        </ng-template>
      </p-column>
      <p-column field="responsable" header="responsable" [editable]="true"></p-column>

  
      <p-column header="'acciones'">
        <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
            <span class="cell tooltip" mdTooltip="{{'eliminar' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'left'">
        <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" md-mini-fab color="primary" (click)="checkBorrar(item.id)" type="button">
          <span class="material-icons">close</span>
        </button>
      </span>
      <span class="cell tooltip" mdTooltip="{{'guardar' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'right'">
        <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" md-mini-fab color="primary" [disabled]="!guardar[item.id]" (click)="saveItem(item,i)" type="button">
          <span class="material-icons">check</span>
        </button>
      </span>
        </ng-template>   
      </p-column>

  </p-dataTable>

</div>