<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<!-- <div class="table">
  <div class="header-row">
    <span class="header-cell">{{"maquinas.mantenimiento" | translate}}</span>
    <span class="header-cell">{{"maquinas.fecha_prevista" | translate}}</span>
    <span class="header-cell">{{"maquinas.fecha_real" | translate}}</span>
    <span class="header-cell">{{"maquinas.tipo" | translate}}</span>
    <span class="header-cell">{{"maquinas.elemento" | translate}}</span>
    <span class="header-cell">{{"maquinas.descripcion" | translate}}</span>
    <span class="header-cell">{{"maquinas.causa" | translate}}</span>
    <span class="header-cell">{{"maquinas.responsable" | translate}}</span>
    <span class="header-cell"></span>
    <span class="header-cell"></span>
  </div>

  <form class="row" #editItemForm="ngForm" (ngSubmit)="saveItem(editItemForm.value)" *ngFor="let mantenimiento of mantenimientos;let i = index">
    <input type="hidden" [(ngModel)]="mantenimiento.id" name="id">
    <span class="cell">
      <input [readonly]="!empresasService.administrador" type="text" [(ngModel)]="mantenimiento.mantenimiento" name="mantenimiento" (keyup)="itemEdited(mantenimiento.id)">
    </span>
    <span class="cell small">
      <p-calendar [disabled]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" class="small" [(ngModel)]="mantenimiento.fecha_prevista" [locale]="es" dateFormat="dd/mm/yy" name="fecha_prevista" (onSelect)="itemEdited(mantenimiento.id)"></p-calendar>    
    </span>
    <span class="cell">
      <p-calendar [disabled]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" [(ngModel)]="mantenimiento.fecha"  [locale]="es" dateFormat="dd/mm/yy" name="fecha" (onSelect)="itemEdited(mantenimiento.id)"></p-calendar>    
    </span>
    <span class="cell small">
     <input class="small" [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" [placeholder]="'tipo' | translate" type="text" [(ngModel)]="mantenimiento.tipo" name="tipo" (keyup)="itemEdited(mantenimiento.id)">
    </span>
    <span class="cell">
      <input [readonly]="!empresasService.administrador  && empresasService.userTipo !== 'Gerente'" [placeholder]="'elemento' | translate" type="text" [(ngModel)]="mantenimiento.elemento" name="elemento" (keyup)="itemEdited(mantenimiento.id)">
    </span>
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" [placeholder]="'descripcion' | translate" type="text" [(ngModel)]="mantenimiento.descripcion" name="descripcion" (keyup)="itemEdited(mantenimiento.id)">
    </span>
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" [placeholder]="'causas' | translate" type="text" [(ngModel)]="mantenimiento.causas" name="causas" (keyup)="itemEdited(mantenimiento.id)">
    </span>

    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" [placeholder]="'responsable' | translate" type="text" [(ngModel)]="mantenimiento.responsable" name="responsable" (keyup)="itemEdited(mantenimiento.id)">
    </span>
    <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" (click)="checkBorrar(mantenimiento.id)" type="button">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" [disabled]="!guardar[mantenimiento.id]" type="submit">
        <span class="material-icons">check</span>
      </button>                
    </span>
  </form>
</div> 
sortField="fecha" [sortOrder]="0" (onSort)="onRowSelect($event,dt)"-->

<p-dataTable #DT [value]="mantenimientos" expandableRows="true" 
[editable]="true"  [responsive]="false" (onEditInit)="onEdit($event)"   
[csvSeparator]="';'" [exportFilename]="'Mantenimientos_Realizados'" [tableStyle]="{'width':'900px'}"
[rows]="25" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]"
[(selection)]="selectedItem"  [(first)]="tablaPosition">
<p-header>
    <div class="ui-helper-clearfix">
        <span class="cell tooltip" matTooltip="{{'exportar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">              
        <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="exportData(DT)" style="float:left"></button>
        </span>
      </div>
</p-header>

<p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}">
    <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body" >
        <div class="tooltip expander" matTooltip="{{'expandir' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'" (click)="expandir(DT,rowIndex,$event)">
       
       </div>
   </ng-template> 
 </p-column>

  <p-column field="mantenimiento" header="{{'Mantenimiento' | translate }}" [editable]="true" [style]="{'width':'200px'}" [sortable]="true"></p-column>
  <p-column field="fecha_prevista" header="{{'maquinas.fecha_prevista' | translate }}" [style]="{'width':'120px'}" [sortable]="true">
      <ng-template let-col let-item="rowData" pTemplate="body">      
      <p-calendar appendTo="body" [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item.fecha_prevista"  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha)" name="fecha_prevista"></p-calendar>
      </ng-template>
    </p-column>
  <p-column field="fecha" header="{{'fecha' | translate }}" [style]="{'width':'120px'}" [sortable]="true">
    <ng-template let-col let-item="rowData" pTemplate="body">      
    <p-calendar appendTo="body" [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item.fecha"  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha)" name="fecha"></p-calendar>
    </ng-template>
  </p-column>

  <p-column field="tipo" header="{{'tipo' | translate }}" [style]="{'width':'110px'}">
      <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body" >
      <p-dropdown [options]="tipos" [(ngModel)]="item.tipo" appendTo="body" [style]="{'width':'90px'}" (onChange)="itemEdited(item.id)"></p-dropdown>
    </ng-template>
  </p-column>
  <p-column field="pieza" header="{{'maquinas.pieza' | translate }}" [style]="{'width':'130px'}">
    <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
    <p-dropdown [options]="piezas" [(ngModel)]="item.pieza" appendTo="body" [style]="{'width':'120px'}" [disabled]="true" (onChange)="itemEdited(item.id)"></p-dropdown>
  </ng-template>
</p-column>
<p-column field="cantidadPiezas" header="{{'maquinas.cantidadPiezas' | translate }}" [editable]="true" [style]="{'width':'110px'}"></p-column>  
  <!-- <p-column field="elemento" header="{{'maquinas.elemento' | translate }}" [editable]="true" [style]="{'width':'100px'}" [sortable]="true"></p-column> -->
  <!-- <p-column field="descripcion" header="{{'maquinas.descripcion' | translate }}" [editable]="true" [style]="{'width':'100px'}"></p-column>
  <p-column field="causas" header="{{'maquinas.causa' | translate }}" [editable]="true" [style]="{'width':'100px'}" [sortable]="true"></p-column> -->
  <p-column field="responsable" header="{{'maquinas.responsable' | translate }}" [editable]="true" [style]="{'width':'100px'}" [sortable]="true"></p-column>
  

  <p-column header="{{'acciones' | translate }}" [style]="{'width':'140px'}">
    <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
        <span class="cell tooltip" matTooltip="{{'eliminar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">
    <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" (click)="checkBorrar(item.id)" type="button">
      <span class="material-icons">close</span>
    </button>
  </span>
  <span class="cell tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'right'">
    <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" [disabled]="!guardar[item.id]" (click)="saveItem(item,i)" type="button">
      <span class="material-icons">check</span>
    </button>
  </span>

  <!-- <app-boton-incidencia class="incidenciaItem" id="botonIncidencia" [origen]="incidencia[item.id]"></app-boton-incidencia> -->


    </ng-template>   
  </p-column>

 <!--//************ EXPANSION     --> 
  <ng-template let-item  pTemplate="rowexpansion" let-rowIndex="rowIndex">
     
            <span class="plan_descripcion">
               <p-panel [style]="{'width':'100%','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'maquinas.descripcion' | translate}}">
      <textarea [rows]="7" [cols]="33" pInputTextarea  placeholder="{{'introducirtexto' | translate}}" [(ngModel)]="item.descripcion" name="descripcion" (keyup)="itemEdited(item.id)"></textarea>
      </p-panel>
       </span>
    
       
            <span class="plan_descripcion">
               <p-panel [style]="{'width':'100%','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'maquinas.causa' | translate}}">
       <textarea [rows]="7" [cols]="33" pInputTextarea  placeholder="{{'introducirtexto' | translate}}" [(ngModel)]="item.causas" name="causas" (keyup)="itemEdited(item.id)"></textarea>
       </p-panel>
       </span>
   <!--//************ FOTO     --> 
         <p-panel [style]="{'width':'11%','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'planificaciones.imagen' | translate}}">
        <img  [src]="images[item.id]" height="80px" (error)="images[item.id]='assets/images/noimage.png'" (click)="verFoto('plan',item.id,rowIndex)" /> 
     
       <hr>
       <span class="cell tooltip" matTooltip="{{'subirFoto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">        
       <span  class="but but2">
           <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" class="inputlabelRound" for="{{'imagen'+item.id}}"></label>
           <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" id="{{'imagen'+item.id}}" class="inputfile" type="file" (change)="uploadFunciones($event,item.id,'imagen')" accept=".gif,.jpg,.jpeg,.png"/>
       </span>
       </span>
         </p-panel>
   
         <!--//************ PDF     --> 
           <p-panel [style]="{'width':'11%','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'planificaciones.doc' | translate}}">

        <img  [ngClass]="{'disabled':!item.doc}" [src]="'./assets/images/viewpdf.jpeg'" height="80px" (error)="image='./assets/images/pixel.png'" (click)="verFoto('doc',item.id)" /> 
            <hr>
       <span  class="but but2 altPanel">
       <span class="cell tooltip" matTooltip="{{'subirArchivo' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">                
           <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' " class="inputlabelRound" for="{{'pdf'+item.id}}"></label>
       </span>
           <br>
           <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' " id="{{'pdf'+item.id}}" class="inputfile" type="file" (change)="uploadFunciones($event,item.id,'doc')" accept=".gif,.jpg,.jpeg,.png,.pdf"/>
         
         </span>
           </p-panel>

     </ng-template>
   <!--//************ EXPANSION     --> 
</p-dataTable>


<div class="iframeDiv" [ngStyle]="{'top': top}" *ngIf="verdoc" (click)="verdoc=!verdoc">
    <div class="tooltip botonCerrar" matTooltip="{{'cerrar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">
<button  color="accent" mat-mini-fab (click)="cerrarFoto()"><mat-icon>close</mat-icon></button>
</div>
<img   class="iframe"  [src]="foto">
</div>



