 <modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>


<!-- ********* INICIO TABLA REGISTROS-->
<p-table #DT [columns]="cols" [value]="mantenimientos" dataKey="id" 
(onEditInit)="onEdit($event)" (onRowExpand)="rowExpanded($event)" (onRowCollapse)="rowCollapsed($event)"
 sortField="orden" [sortOrder]="1"  [rows]="25"
  [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]"
  [style]="{'width':'100%','padding':'0px 25px 0px 25px','text-align':'left'}">


  <ng-template pTemplate="caption">
    <div style="text-align:left;margin-left:10px">
      <button *ngIf="!newRow" type="button" pButton icon="fa fa-plus" (click)="openNewRow()" label="{{'add' | translate}}"></button>
      <button *ngIf="newRow" type="button" pButton icon="fa fa-minus" (click)="openNewRow()" label="{{'cerrar' | translate}}"></button>
      <button type="button" pButton icon="fa fa-save" iconPos="left" label="{{'guardarTodo' | translate}}" (click)="saveAll()" style="margin-left:10px"></button>
      <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="{{'Download' | translate}}" (click)="exportarTable()" style="margin-right:10px;float:right"></button>

    </div>
  </ng-template>
  <!-- ********* INICIO CABECERA-->
  <ng-template pTemplate="header" let-columns>
    <span style="display:table-row">
      <th style="width: 3em"></th>
       <!--************ ORDEN ***************************-->
       <!-- <th style="width:94px">
                <mat-icon>import_export</mat-icon>
      </th> -->
     <!--************ FIN ORDEN ***************************-->
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width+'px'">
        {{col.header | translate}}
        <p-sortIcon *ngIf="col.orden" [field]="col.field"></p-sortIcon>
      </th>
      <th [style.width]="'95px'">
        {{'acciones' | translate}}
      </th>
    </span>
    <!-- ********* NUEVOREGISTRO   ***-->
    <span [ngClass]="{'NuevoRegistro':true,'NewRow':true,'NewRowOpen':newRow,'NewRowClose':!newRow}" style="display:table-row">
        <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'"
          class="formNewRegister" #creaForm="ngForm" (ngSubmit)="newItem()">
          <td style="width: 3em"></td>
          <!-- <td  style="width:50px"></td> -->
          <td *ngFor="let col of columns" [ngClass]="{'rowRegistro':true}" [style.width]="col.width+'px'">
            <span *ngIf="col.type == 'std'">
              <input pInputText type="text" [required]="col.required" [(ngModel)]="nuevoMantenimiento[col.field]" style="margin-left:4px"
                [style.width]="(col.width -7)+'px'" [name]="col.field">
            </span>
            <span *ngIf="col.type == 'fecha'">
              <p-calendar [defaultDate]="" [required]="col.required" appendTo="body" [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="nuevoMantenimiento[col.field]"
                [locale]="es" dateFormat="dd/mm/yy" name="fecha"></p-calendar>
            </span>
              <span *ngIf="col.type == 'dropdown'">
                <p-dropdown [options]="getOptions([col.field])" [(ngModel)]="nuevoMantenimiento[col.field]" appendTo="body" [style]="{'width':'110px'}"
                  name="col.field"></p-dropdown>
              </span>
            <span *ngIf="col.type == 'periodicidad'">          
              <span class="tooltip" matTooltip="{{'maquinas.periodicidad' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                [matTooltipPosition]="'right'">
                <button [disabled]="!nuevoMantenimiento['fecha']" color="accent" type="button" [ngClass]="{'alert': alert }" mat-mini-fab (click)="openPeriodicidad(nuevoMantenimiento)">
                  <span class="material-icons">event</span>
                </button>
              </span>
            </span>
            <!--*****  subir/ver FOTO  *********-->
            <span *ngIf="col.type != 'std' && col.field == 'foto'">
              <span class="tooltip middle" style="margin-left: 45px;" matTooltip="{{'subirFoto' | translate}}"
                [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">
                <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" class="inputlabelRound"
                  attr.for="{{'doc'}}"></label>
                <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" id="{{'doc'}}"
                  class="inputfile" type="file" (change)="uploadImg($event, nuevoPieza.id,0,'doc')" accept=".gif,.jpg,.jpeg,.png,.pdf,.doc,.docx,.xls,.xlsx" />
              </span>
            </span>
            <!--****** FIN ********************-->
          </td>
  
          <!-- ********* ACCIONES   ***-->
          <td>
            <span class="tooltip" matTooltip="{{'add' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
              [matTooltipPosition]="'above'">
              <button mat-mini-fab color="accent" [disabled]="!creaForm.form.valid" type="submit">
                <span class="material-icons">add</span>
              </button>
            </span>
            <span class="tooltip" matTooltip="{{'cancela' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
              [matTooltipPosition]="'above'">
              <button mat-mini-fab color="primary" (click)="openNewRow()" >
                <span class="material-icons">close</span>
              </button>
            </span>
          </td>
        </form>
      </span>
  
      <!-- ********* FIN NUEVOREGISTRO   ***-->
  </ng-template>
  <!-- ********* FIN CABECERA   ***-->

  <ng-template pTemplate="body" let-item let-columns="columns" let-i="rowIndex" let-expanded="expanded">
    <!--let-expanded="expanded" -->
    <tr [pSelectableRow]="item" [ngClass]="{'rowImpar':i%2==0,'rowPar':i%2!=0, 'expandSelected':expanded}">
      <td><span *ngIf="expanded!=null">
          <a disabled href="#" [pRowToggler]="item">
            <i [ngClass]="expanded ? 'pi pi-chevron-circle-down' : 'pi pi-chevron-circle-right'"></i>
          </a></span>
      </td>
      <!--************ ORDEN ***************************-->
      <!-- <td>    
       <div class="up" (click)="goUp(i,$event,dt)"><mat-icon>arrow_drop_up</mat-icon></div>
      <div class="down" (click)="goDown(i,$event,dt)"><mat-icon>arrow_drop_down</mat-icon></div> 
      <div class="orden" >
          <p-spinner size="5" [(ngModel)]="item.orden" [min]="1" [max]="mantenimientos.length"  (onChange)="editOrden()"></p-spinner> 
      </div>  
    </td>    -->
  <!--************ FIN ORDEN ***************************-->
      <td *ngFor="let col of columns" [ngClass]="{'rowRegistro':true}" [pEditableColumn]="item" [pEditableColumnField]="col">
          <span *ngIf="col.type == 'dropdown'">
              <p-dropdown  [options]="getOptions([col.field])" [(ngModel)]="item[col.field]" appendTo="body" [style]="{'width':'110px'}"
                (onChange)="itemEdited(item.id)"></p-dropdown>
            </span>
            <span *ngIf="col.type == 'periodicidad'">
              <span class="tooltip" matTooltip="{{'maquinas.periodicidad' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
              [matTooltipPosition]="'right'">
              <button [disabled]="!item['fecha']" color="accent" type="button" [ngClass]="{'alert': alert }" mat-mini-fab (click)="openPeriodicidad(item)">
                <span class="material-icons">event</span>
              </button>
            </span>
          </span>
            <!--*****  subir/ver FOTO  *********-->
            <span *ngIf="col.type == 'foto'">
                <span class="tooltip middle" matTooltip="{{'verFoto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                  [matTooltipPosition]="'left'">
                  <button class="camera" *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'"
                    [disabled]="!item.doc" mat-mini-fab color="color" (click)="photoURL(i,'doc')" type="button">
                    <span class="material-icons">photo_camera</span>
                  </button>
                </span>
                <span class="tooltip middle" matTooltip="{{'subirFoto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                  [matTooltipPosition]="'left'">
                  <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" class="inputlabelRound"
                    attr.for="{{'doc'+i}}"></label>
                  <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" id="{{'doc'+i}}"
                    class="inputfile" type="file" (change)="uploadImg($event, item.id,i,'doc')" accept=".gif,.jpg,.jpeg,.png,.pdf,.doc,.docx,.xls,.xlsx" />
                </span>
              </span>
              <!--****** FIN ********************-->
        <p-cellEditor>
          <!-- ********* VER DATA   ***-->
          <ng-template pTemplate="output">
            <span *ngIf="col.type =='std'">
              {{item[col.field]}}
            </span>
              <span *ngIf="col.type == 'fecha'">
                  {{item[col.field] | date:"dd-MM-yyyy"}}
            </span>
          </ng-template>
          <!-- ********* EDIT DATA   ***-->
          <ng-template pTemplate="input">
            <span *ngIf="col.type == 'std'">
              <input pInputText type="text" [(ngModel)]="item[col.field]" [style.width]="(col.width -7)+'px'">
            </span>
            <span *ngIf="col.type == 'fecha'">
              <p-calendar [defaultDate]="" appendTo="body" [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item[col.field]"
                [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha)" name="fecha"></p-calendar>
            </span>
          </ng-template>
        </p-cellEditor>
      </td>

      <!--*****  ACCIONES  *********-->
      <td>
        <span class="tooltip" matTooltip="{{'eliminar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
          [matTooltipPosition]="'left'">
          <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary"
            (click)="checkBorrar(item.id)" type="button">
            <span class="material-icons">close</span>
          </button>
        </span>
        <span class="tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
          [matTooltipPosition]="'right'">
          <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary"
            [disabled]="!guardar[item.id]" (click)="saveItem(item,i)" type="button">
            <span class="material-icons">check</span>
          </button>
        </span>
      </td>
    </tr>
  </ng-template>



  <!-- ********* EXPANSION-->
  <!-- <ng-template pTemplate="rowexpansion" let-item let-columns="columns">
    <tr>
      <td [attr.colspan]="columns.length + 2">
        <div style="text-align:center">
          <img [attr.alt]="item.foto" src="assets/showcase/images/noimage.png">
        </div>
      </td>
    </tr>
  </ng-template>
 -->

<ng-template let-item  pTemplate="rowexpansion" let-item let-columns="columns" let-rowIndex="rowIndex">
    <tr [ngClass]="{'expandSelected':expanded}">
        <td [attr.colspan]="columns.length + 2">
    <span class="plan_descripcion">
       <div [style]="{'width':'100%','height':'250px','margin':'0 1%', 'float':'left'}" >
          <h4>{{'maquinas.descripcion' | translate}}</h4>
<textarea [rows]="7" [cols]="33" pInputTextarea  placeholder="{{'introducirtexto' | translate}}" [(ngModel)]="item.descripcion" name="descripcion" (keyup)="itemEdited(item.id)"></textarea>
       </div>
</span>


    <span class="plan_descripcion">
       <div [style]="{'width':'100%','height':'250px','margin':'0 1%', 'float':'left'}">
          <h4>{{'planificaciones.causa' | translate}}</h4>
<textarea [rows]="7" [cols]="33" pInputTextarea  placeholder="{{'introducirtexto' | translate}}" [(ngModel)]="item.causas" name="causas" (keyup)="itemEdited(item.id)"></textarea>
</div>
</span>
<!--//************ FOTO     -->
 <div style="width:11%;height:250px;margin:0 1%;float:left">
    <h4>{{'planificaciones.imagen' | translate}}</h4>
<img  [src]="images[item.id]" height="80px" (error)="images[item.id]='assets/images/noimage.png'" (click)="verFoto('plan',item.id,rowIndex)" /> 

<hr>
<span class="cell tooltip" matTooltip="{{'subirFoto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">        
<span  class="but but2">
   <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" class="inputlabelRound" for="{{'imagen'+item.id}}"></label>
   <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" id="{{'imagen'+item.id}}" class="inputfile" type="file" (change)="uploadFunciones($event,item.id,'imagen')" accept=".gif,.jpg,.jpeg,.png"/>
</span>
</span>
 </div>

<!--//************ PDF     -->
   <div style="width:11%;height:250px;margin:0 1%;float:left" >
<h4>{{'planificaciones.doc' | translate}}</h4>
<img  [ngClass]="{'disabled':!item.doc}" [src]="'./assets/images/viewpdf.jpeg'" height="80px" (error)="image='./assets/images/pixel.png'" (click)="verFoto('doc',item.id)" /> 
    <hr>
<span  class="but but2 altPanel">
<span class="cell tooltip" matTooltip="{{'subirArchivo' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">                
   <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' " class="inputlabelRound" for="{{'pdf'+item.id}}"></label>
</span>
   <br>
   <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' " id="{{'pdf'+item.id}}" class="inputfile" type="file" (change)="uploadFunciones($event,item.id,'doc')" accept=".gif,.jpg,.jpeg,.png,.pdf"/>
 
 </span>
   </div>
  </td>
    </tr>
</ng-template>
</p-table>
<!-- ********* FIN TABLA REGISTROS-->


<div class="modal" *ngIf="exportando">
    <app-download-informe [informeData]="informeData" (informeRecibido)="informeRecibido($event)"></app-download-informe>
</div>
<app-ver-docs *ngIf="foto" [doc]="foto" (onBotonCerrar)="foto=null"></app-ver-docs>



<!--<span class="cell tooltip" matTooltip="{{'maquinas.nuevoMantenimientoC' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'above'">            
<div class="table">
    <div class="header-row">
        <span class="header-cell">{{"maquinas.nuevoMantenimientoC" | translate}}</span>
        <span class="header-cell">{{"maquinas.fecha" | translate}}</span>
        <span class="header-cell  medium">{{"maquinas.tipo" | translate}}</span>
        <span class="header-cell">{{"pieza" | translate}}</span>
        <span class="header-cell">{{"maquinas.cantidadPiezas" | translate}}</span>
        <span class="header-cell medium">{{"maquinas.descripcion" | translate}}</span>
        <span class="header-cell  medium">{{"maquinas.responsable" | translate}}</span>
        <span class="header-cell small">{{"add" | translate}}</span>
      </div>
  <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="row addItem" #newItemForm="ngForm" (ngSubmit)="newItem()">
    <input type="hidden" [(ngModel)]="nuevoMantenimiento.id" name="id">
    <span class="cell">
      <input type="text" size="40" [placeholder]="'maquinas.nombre' | translate" required [(ngModel)]="nuevoMantenimiento.mantenimiento" name="mantenimiento">
    </span>
    <span class="cell">
      <p-calendar [inputStyle]="{'width':'120px'}" appendTo="body" placeholder="fecha" [(ngModel)]="nuevoMantenimiento.fecha" [locale]="es" dateFormat="dd/mm/yy"  name="fecha"></p-calendar>
    </span>
    <span class="cell small">
        <select class="white-select  medium" required [(ngModel)]="nuevoMantenimiento.tipo" name="tipo" style="width:90px;min-width: 90px !important;">
        <option value="interno">{{'maquinas.interno' | translate}}</option>
        <option value="externo">{{'maquinas.externo' | translate}}</option>
      </select>
    </span>
    <span class="cell small">
    <p-dropdown [options]="piezas" [(ngModel)]="nuevoMantenimiento.pieza" appendTo="body" [style]="{'width':'120px'}" (onChange)="itemEdited(item.id)"  name="pieza"></p-dropdown>
  </span>
    <span class="cell">
      <input type="text"  size="2" [placeholder]="'maquinas.cantidadPiezas' | translate" [(ngModel)]="nuevoMantenimiento.cantidadPiezas" name="cantidadPiezas">
    </span>
    <span class="cell medium">
      <input type="text" size="12" [placeholder]="'maquinas.descripcion' | translate" [(ngModel)]="nuevoMantenimiento.descripcion" name="descripcion">
    </span>

    <span class="cell medium">
      <input type="text" size="12" [placeholder]="'maquinas.responsable' | translate" [(ngModel)]="nuevoMantenimiento.responsable" name="responsable">
    </span>

    <span class="cell small">
        <span class="cell tooltip" matTooltip="{{'add' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'above'">
      <button mat-mini-fab color="accent" [disabled]="!newItemForm.form.valid" type="submit">
        <span class="material-icons">add</span>
      </button>
        </span>
    </span>
  </form>
</div>
</span>

      <p-dataTable #DT [value]="mantenimientos"  expandableRows="true"  rowExpandMode="single"
      [editable]="true"  [responsive]="true" (onEditInit)="onEdit($event)" sortField="fecha" [sortOrder]="1" 
      [csvSeparator]="';'" [exportFilename]="'Mantenimientos_Correctivos'" [tableStyle]="{'width':'1090px'}"
      [rows]="25" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
      <p-header>
          <div class="ui-helper-clearfix">
              <span class="cell tooltip" matTooltip="{{'exportar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">              
              <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="exportData(DT)" style="float:left"></button>
              </span>
            </div>
      </p-header>
  
      <p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}">
          <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body" >
              <div class="tooltip expander" matTooltip="{{'expandir' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'" (click)="expandir(DT,rowIndex,$event)">
             
             </div>
         </ng-template> 
       </p-column>
  
        <p-column field="mantenimiento" header="{{'Mantenimiento' | translate }}" [editable]="true" [style]="{'width':'280px'}"></p-column>
        <p-column field="fecha" header="{{'fecha' | translate }}" [sortable]="true" [style]="{'width':'125px'}">
          <ng-template let-col let-item="rowData" pTemplate="body">      
          <p-calendar appendTo="body" [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item.fecha"  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha)" name="fecha"></p-calendar>
          </ng-template>
        </p-column>
        <p-column field="tipo" header="{{'tipo' | translate }}" [style]="{'width':'110px'}">
            <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
            <p-dropdown [options]="tipos" [(ngModel)]="item.tipo" appendTo="body" [style]="{'width':'90px'}" (onChange)="itemEdited(item.id)"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column field="pieza" header="{{'pieza' | translate }}" [style]="{'width':'130px'}">
          <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
          <p-dropdown [options]="piezas" [(ngModel)]="item.pieza" appendTo="body" [style]="{'width':'120px'}" (onChange)="itemEdited(item.id)"></p-dropdown>
        </ng-template>
      </p-column>
      <p-column field="cantidadPiezas" header="{{'maquinas.cantidadPiezas' | translate }}" [editable]="true"></p-column>  
       <p-column field="descripcion" header="{{'maquinas.descripcion' | translate }}" [editable]="true" [style]="{'width':'100px'}"></p-column>
        <p-column field="responsable" header="{{'maquinas.responsable' | translate }}" [editable]="true" [style]="{'width':'100px'}" [sortable]="true"></p-column>
    

        <p-column header="{{'acciones' | translate }}">
          <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
              <span class="cell tooltip" matTooltip="{{'eliminar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">
          <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" (click)="checkBorrar(item.id)" type="button">
            <span class="material-icons">close</span>
          </button>
        </span>
        <span class="cell tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'right'">
          <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" [disabled]="!guardar[item.id]" (click)="saveItem(item,i)" type="button">
            <span class="material-icons">check</span>
          </button>
        </span>
          </ng-template>   
        </p-column>
 
 <ng-template let-item  pTemplate="rowexpansion" let-rowIndex="rowIndex">
    
           <span class="plan_descripcion">
              <p-panel [style]="{'width':'100%','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'maquinas.descripcion' | translate}}">
     <textarea [rows]="7" [cols]="33" pInputTextarea  placeholder="{{'introducirtexto' | translate}}" [(ngModel)]="item.descripcion" name="descripcion" (keyup)="itemEdited(item.id)"></textarea>
     </p-panel>
      </span>
   
      
           <span class="plan_descripcion">
              <p-panel [style]="{'width':'100%','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'maquinas.causa' | translate}}">
      <textarea [rows]="7" [cols]="33" pInputTextarea  placeholder="{{'introducirtexto' | translate}}" [(ngModel)]="item.causas" name="causas" (keyup)="itemEdited(item.id)"></textarea>
      </p-panel>
      </span>
        <p-panel [style]="{'width':'11%','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'planificaciones.imagen' | translate}}">
       <img  [src]="images[item.id]" height="80px" (error)="images[item.id]='assets/images/noimage.png'" (click)="verFoto('plan',item.id,rowIndex)" /> 
    
      <hr>
      <span class="cell tooltip" matTooltip="{{'subirFoto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">        
      <span  class="but but2">
          <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" class="inputlabelRound" for="{{'imagen'+item.id}}"></label>
          <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" id="{{'imagen'+item.id}}" class="inputfile" type="file" (change)="uploadFunciones($event,item.id,'imagen')" accept=".gif,.jpg,.jpeg,.png"/>
      </span>
      </span>
        </p-panel>
  
          <p-panel [style]="{'width':'11%','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'planificaciones.doc' | translate}}">

       <img  [ngClass]="{'disabled':!item.doc}" [src]="'./assets/images/viewpdf.jpeg'" height="80px" (error)="image='./assets/images/pixel.png'" (click)="verFoto('doc',item.id)" /> 
           <hr>
      <span  class="but but2 altPanel">
      <span class="cell tooltip" matTooltip="{{'subirArchivo' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">                
          <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' " class="inputlabelRound" for="{{'pdf'+item.id}}"></label>
      </span>
          <br>
          <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' " id="{{'pdf'+item.id}}" class="inputfile" type="file" (change)="uploadFunciones($event,item.id,'doc')" accept=".gif,.jpg,.jpeg,.png,.pdf"/>
        
        </span>
          </p-panel>

    </ng-template>
</p-dataTable>


<div class="iframeDiv" [ngStyle]="{'top': top}" *ngIf="verdoc" (click)="verdoc=!verdoc">
   <div class="tooltip botonCerrar" matTooltip="{{'cerrar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">
<button  color="accent" mat-mini-fab (click)="cerrarFoto()"><mat-icon>close</mat-icon></button>
</div>
<img   class="iframe"  [src]="foto">
</div> -->
