
.ficha1{
  width: 100px;
  height: 100px;
  background-color: #336699;
}


.contenido{
  /* display:block;
  clear:both; */
  margin-left:50px;
  min-height: 1000px;
  /* overflow: auto; */
}


/* .tabs{
  min-height: 1500px;
    display: flex;
    min-width: 1000px;
} */
.tabs{
  /* min-height: 1100px; */
  height: 280vh;
    display: flex;
    min-width: 1050px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}


.tituloMaquina{
  position: absolute;
  left:50%;
}
/* .header{
  background: 
} */

.campo{
  background-color: #fff9c4;
  border: 1px solid #fbc02d;
}

.space{
  display:block;
  height: 30px;
  width: 100%;
}



.w80{
    width:80%;
    float:left;
}
.w20{
    width:20%;
    float:right;
}


.opcionBoton{
  margin-left:6px;
  margin-top:25px;
  display:block;
}




