
.ficha1{
  width: 100px;
  height: 100px;
  background-color: #336699;
}
/* FichasMaquinariaComponent */
maquinaria{
  width: 100%;
}
.contenido{
  display:block;
  clear:both;
}
.header{
  background: 
}