  <mat-card>
    <mat-card-title>
      <mat-toolbar color="accent" class="toolbar-principal">{{'menu.maquinaria' | translate}}
   <listado-maquinas [idSelected]="idmaquinaURL" (maquinaSeleccionada)="seleccionMaquina($event)" (listaMaquinas)="loadMaquinas($event)"></listado-maquinas>      
    </mat-toolbar>
    </mat-card-title>
 <mat-card-subtitle>



   <!-- <div class="calendarios">
  <button color="accent" mat-raised-button (click)="calendarios()">{{'maquinas.calendarios' | translate}}</button>
  <button color="accent" mat-raised-button (click)="lubricantes()">{{'maquinas.lubricantes' | translate}}</button>
  </div> -->
  <div class="botonera">
      
       <div  class="tooltip" matTooltip="{{'maquinas.calendarios' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">
        <button class="opcionBoton" [ngClass]="{'selected': subMenu == 'calendario'}" color="accent" mat-mini-fab (click)="cambioMenu('calendario')"><mat-icon>date_range</mat-icon></button> 
        </div>
     <div class="tooltip" matTooltip="{{'maquinas.lubricantes' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">
    <button class="opcionBoton" [ngClass]="{'selected': subMenu == 'alerta'}" color="accent" mat-mini-fab (click)="cambioMenu('lubricante')"><mat-icon>opacity</mat-icon></button>
    </div>

    <!-- <app-boton-incidencia id="botonIncidencia" class="opcionBoton" [origen]="incidencia"></app-boton-incidencia> -->


     </div>



 </mat-card-subtitle>
 <div class="contenido">
    <mat-sidenav-container class="example-container">
        <mat-sidenav  #sidenavCalendar (closed)="closeSideNav()" class="panel-sidenav" [mode]="'over'">
                <div  class="tooltip botonCerrar" matTooltip="{{'cerrar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">
        <button  top-left color="accent" mat-mini-fab (click)="cerrarSideNav()"><mat-icon>skip_previous</mat-icon></button>
        </div>

   <calendarios *ngIf="calendario" [maquinas]="maquinas" (newMantenimientoRealizadoEmit)="nuevoMantenimientoRealizado($event)"></calendarios>
   <lubricantes *ngIf="lubricante"></lubricantes>
    
  </mat-sidenav> 
  <!--<listado-planificaciones (planSeleccionada)="seleccionPlan($event)" (listaPlanes)="loadPlanes($event)"></listado-planificaciones>-->
<mat-sidenav-content class="sidenav-content">
    <h2 class="cente tituloMaquina" *ngIf="maquina && maquina.id > 0">{{maquina.nombre}}</h2><BR>
      <div  style="margin-top: 60px">
<mat-tab-group [selectedIndex]="selectedTab" *ngIf="maquina && maquina.id > 0">
  <mat-tab label="{{'maquinas.ficha' | translate}}"><span class="space"></span><ficha-maquina [maquina]="maquina" *ngIf="maquina"></ficha-maquina></mat-tab>
  <mat-tab label="{{'maquinas.mantenimientos_preventivos' | translate}}"><span class="space"></span><mantenimientos id="testid" class="tabs"  [maquina]="maquina" *ngIf="maquina"></mantenimientos></mat-tab>  
<mat-tab label="{{'maquinas.mantenimientos_realizados' | translate}}"><span class="space"></span><mantenimientos-realizados class="tabs" [maquina]="maquina" [nuevo]="nuevoMantenimientoR" *ngIf="maquina"></mantenimientos-realizados></mat-tab>  
<mat-tab label="{{'maquinas.mantenimientos correctivos' | translate}}"><span class="space"></span><mantenimientos-correctivos class="tabs" [maquina]="maquina" *ngIf="maquina"></mantenimientos-correctivos></mat-tab>
  <mat-tab label="{{'maquinas.calibraciones' | translate}}"><span class="space"></span><calibraciones id="calibraciones" class="tabs" [maquina]="maquina" *ngIf="maquina"></calibraciones></mat-tab>
  <mat-tab label="{{'maquinas.piezas' | translate}}"><span class="space"></span><piezas class="tabs" [maquina]="maquina" *ngIf="maquina"></piezas></mat-tab>
</mat-tab-group>
      </div>
</mat-sidenav-content><!--   Fin example-sidenav-content  -->
</mat-sidenav-container>
 </div>
  </mat-card>