<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<div class="modal" *ngIf="modal2">
  <div class="foto-window">
      <span class="close material-icons" (click)="cerrarFoto()">close</span>
      <div class="foto">
        <img src="{{fotoSrc}}">
      </div>
  </div>
</div>
<span class="cell tooltip" mdTooltip="{{'maquinas.nuevaCalibracion' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'above'">        
<div class="table">
    <div class="header-row">
        <span class="header-cell">{{'maquinas.pieza' | translate}}</span>
        <span class="header-cell"style="min-width:90px;padding-right: 5px">{{'maquinas.cantidad' | translate}}</span>
        <span class="header-cell">{{'maquinas.material' | translate}}</span>
        <span class="header-cell medium" style="min-width:100px;padding-right: 5px">{{"cantidad" | translate}}</span>                         
        <span class="header-cell">{{"add" | translate}}</span>
      </div>
  <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="row addItem" #creaForm="ngForm" (ngSubmit)="crearItem()">
    <input type="hidden" [(ngModel)]="nuevoPieza.id" name="id">
    <span class="cell">
      <input type="text" [placeholder]="'nombre' | translate" required [(ngModel)]="nuevoPieza.nombre" name="nombre">
    </span>

    <span class="cell tooltip" mdTooltip="{{'cantidadPiezas' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'above'">             
    <span class="cell">
      <input class="small" type="text" placeholder="0" required [(ngModel)]="nuevoPieza.cantidad" name="cantidad">
        </span>
    </span>
    <span class="cell">
      <input type="text" placeholder="material" required [(ngModel)]="nuevoPieza.material" name="material">
    </span>
    <span class="cell tooltip" mdTooltip="{{'numero' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'above'">
        <span class="cell">num.
          <select class="smallselect" required [(ngModel)]="cantidad" [ngModelOptions]="{standalone: true}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          </span>
        </span>
    <span class="cell">
        <span class="cell tooltip" mdTooltip="{{'add' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'above'">            
      <button md-mini-fab color="accent" [disabled]="!creaForm.form.valid" type="submit">
        <span class="material-icons">add</span>
      </button>
        </span>
    </span>
  </form>
</div>
</span>

  <!-- <form class=" row" #actualizaForm="ngForm" (ngSubmit)="actualizarItem(actualizaForm.value)" *ngFor="let pieza of piezas; let i = index">
    <input type="hidden" [(ngModel)]="pieza.id" name="id">
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" type="text" [(ngModel)]="pieza.nombre" name="nombre" (keyup)="modificarItem(pieza.id)">
    </span>
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" class="small" type="text" [(ngModel)]="pieza.cantidad" name="cantidad" (keyup)="modificarItem(pieza.id)">
    </span>
  <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" type="text" [(ngModel)]="pieza.material" name="material" (keyup)="modificarItem(pieza.id)">
    </span>
    <span class="cell">
     <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" [disabled]="!pieza.doc" md-mini-fab color="accent" (click)="photoURL(i)" type="button">
        <span class="material-icons">photo_camera</span>
      </button>
    </span>
    <span class="cell mini-fab">
        <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="inputlabelRound" attr.for="{{'doc'+i}}"></label>                
        <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" id="{{'doc'+i}}" class="inputfile" type="file" (change)="uploadImg($event, pieza.id,i)" accept=".gif,.jpg,.jpeg,.png"/>
    </span>    
    </span>
    <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" md-mini-fab color="primary" (click)="checkBorrar(pieza.id)" type="submit">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" md-mini-fab color="primary" [disabled]="!guardar[pieza.id]" type="submit">
        <span class="material-icons">check</span>
      </button>                
    </span>
  </form> -->

<div style="position:absolute; left:0px; top:140px; min-width:1000px">
<p-dataTable #DT [value]="piezas" 
[editable]="true"  [responsive]="false" (onEditInit)="onEdit($event)" sortField="fecha" [sortOrder]="0" 
[csvSeparator]="';'" [exportFilename]="'PiezasMaquinaria'" [tableStyle]="{'width':'600px'}"
[rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,25,50,100]">
<p-header>
    <div class="ui-helper-clearfix">
        <span class="cell tooltip" mdTooltip="{{'exportar' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'left'">              
        <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="exportData(DT)" style="float:left"></button>
        </span>
      </div>
</p-header>


  <p-column field="nombre" header="{{'Nombre' | translate }}" [editable]="true" [style]="{'width':'100px'}" [sortable]="true"></p-column>
  <p-column field="cantidad" header="{{'maquinas.cantidad' | translate }}" [editable]="true" [style]="{'width':'100px'}" [sortable]="true"></p-column>
  <p-column field="material" header="{{'maquinas.material' | translate }}" [editable]="true" [style]="{'width':'100px'}" [sortable]="true"></p-column>
 
  <!--*****  subir/ver FOTO  *********-->
  <p-column field="doc" header="{{'foto' | translate}}" [style]="{'width':'130px'}">
      <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
    <span class="cell small">
<span class="tooltip" mdTooltip="{{'verFoto' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'above'">      
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" [disabled]="!item.doc" md-mini-fab color="accent" (click)="photoURL(i,'doc',item.doc)" type="button">
        <span class="material-icons">photo_camera</span>
      </button>
</span>
    </span>
    <span class="cell mini-fab">
<span class="cell tooltip" mdTooltip="{{'subirFoto' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'above'">      
        <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="inputlabelRound" attr.for="{{'doc'+i}}"></label>                
        <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" id="{{'doc'+i}}" class="inputfile" type="file" (change)="uploadImg($event, item.id,i,'doc')" accept=".gif,.jpg,.jpeg,.png"/>
</span>
      </span>
      </ng-template>
    </p-column>

  <p-column header="{{'acciones' | translate }}" [style]="{'width':'100px'}">
    <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
        <span class="cell tooltip" mdTooltip="{{'eliminar' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'left'">
    <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" md-mini-fab color="primary" (click)="checkBorrar(item.id)" type="button">
      <span class="material-icons">close</span>
    </button>
  </span>
  <span class="cell tooltip" mdTooltip="{{'guardar' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'right'">
    <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" md-mini-fab color="primary" [disabled]="!guardar[item.id]" (click)="saveItem(item,i)" type="button">
      <span class="material-icons">check</span>
    </button>
  </span>
    </ng-template>   
  </p-column>

</p-dataTable>
</div>



<div class="iframeDiv" *ngIf="verdoc" (click)="verdoc=!verdoc" [ngStyle]="{'top':top}">
    <button md-mini-fab style="position:absolute;right:0px;top:0px"><md-icon>close</md-icon></button>
  <img   class="iframe" [src]="foto">
  </div>
  