<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<div  class="tooltip" matTooltip="{{'protocolo.nuevoProtocolo' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">    
    <button mat-mini-fab color="accent" type="button" (click)="newItem()">
        <span class="material-icons">add</span>
        </button>
    </div>
<div class="listOfProtocolos" >
        <!-- [ngStyle]="{'width': widthLista, 'overflow-x':'auto'}" -->
<div class="protocolo" *ngFor="let protocol of items;let i = index">
<mat-card >
    <mat-card-header>
<div  class="tooltip" matTooltip="{{'protocolo.nombre' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">            
        <input type="text"  [placeholder]="'nombre' | translate" [(ngModel)]="protocol.nombre" (keydown)="itemEdited(i)">
</div>
    </mat-card-header>

<hr>
<div class="table prot">
    <div class="row">
        <span class="cell">
    <input type="text" [(ngModel)]="nuevoProcedimiento[i]" >
    </span>
        <span class="cell small">
<div  class="tooltip" matTooltip="{{'protocolo.anadirElemento' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">                    
      <button mat-mini-fab color="accent" type="button" [disabled]="!nuevoProcedimiento" (click)="addProcedimiento(i)">
        <span class="material-icons">add</span>
        </button>
</div>
        </span>
    </div>
    <div class="divrow yellow">
        <span class="cell">{{"limpieza.descripcion" | translate}}</span>
    </div>
    <div class="row" *ngFor="let procedimiento of protocolo[i];let n = index">
        <span class="cell">
    {{procedimiento.descripcion}}
    </span>
        <span class="cell small">
<div  class="tooltip" matTooltip="{{'protocolo.quitarElemento' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">                            
            <button mat-mini-fab color="primary" type="button" (click)="removeProcedimiento(n,i)">
                <span class="material-icons">remove</span>
            </button>
</div>
        </span>
    </div>
</div>
<mat-card-actions>
<div  class="tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">        
    <span class="cell small">
            <div  class="tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">                                        
        <button mat-mini-fab color="primary" [disabled]="!hayCambios[i]" type="button" (click)="setProtocolo(i)">
          <span class="material-icons">check</span>
          </button>
            </div>
          </span>
</div>
<div  class="tooltip" matTooltip="{{'eliminar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">        
    <span class="cell small">
        <button mat-mini-fab color="primary" type="button" (click)="checkBorrar(protocol.id)">
          <span class="material-icons">delete</span>
          </button>
          </span>
</div>

<!--*****  subir/ver FOTO  *********-->
    <div  class="tooltip" matTooltip="{{'verFoto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">        
        <span class="cell small"> 
   <button [disabled]="!protocol.doc" class="camera" *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'"  mat-mini-fab color="primary" (click)="photoURL(i,'doc')" type="button">
     <span class="material-icons">photo_camera</span>
   </button>
        </span>
    </div>
<div  class="tooltip" matTooltip="{{'subirArchivo' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">        
    <span class="cell small">
     <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="inputlabelRound" attr.for="{{'doc'+i}}"></label>                
     <br><input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" id="{{'doc'+i}}" class="inputfile" type="file" (change)="uploadImg($event, protocol.id,i,'doc')" accept=".gif,.jpg,.jpeg,.png,.pdf,.doc,.docx,.xls,.xlsx"/>
    </span>
    </div>
<!--****** FIN ********************-->
</mat-card-actions>
</mat-card>
</div>

</div>



<div class="iframeDiv" *ngIf="verdoc" (click)="verdoc=!verdoc">
    <button mat-mini-fab style="position:absolute;right:0px;top:0px"><mat-icon>close</mat-icon></button>
  <img class="iframe" [src]="foto">
  </div>