<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<div class="modal" *ngIf="modal2">
  <div class="foto-window">
      <span class="close material-icons" (click)="cerrarFoto()">close</span>
      <div class="foto">
        <img src="{{fotoSrc}}">
      </div>
  </div>
</div>


<h2  class="center">{{'produccion.listaAlmacenes' | translate}}</h2>
<!-- <div class="table">
  <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" class="row" #newItemForm="ngForm" (ngSubmit)="newItem()">
    <input type="hidden" [(ngModel)]="nuevoItem.id" name="id">
    <span class="cell">
      <input type="text" [placeholder]="'produccion.nombre' | translate" required [(ngModel)]="nuevoItem.nombre" name="nombre">
    </span>
    <span class="cell">
      <input type="text" [placeholder]="'produccion.capacidad' | translate" required [(ngModel)]="nuevoItem.capacidad" name="capacidad">
    </span>
    <span *ngIf="permisosService.traspasos" class="cell">
      <input type="text" disabled [placeholder]="'produccion.estado' | translate" required [(ngModel)]="nuevoItem.estado" name="estado">
    </span>
    <span *ngIf="permisosService.traspasos" class="cell">
      <input type="text" disabled [placeholder]="'produccion.idproduccionordenactual' | translate" required [(ngModel)]="nuevoItem.idproduccionordenactual" name="idproduccionordenactual">
    </span>
    <span *ngIf="permisosService.traspasos" class="cell">
      <input type="text" [placeholder]="'produccion.level' | translate" required [(ngModel)]="nuevoItem.level" name="level">
    </span>

    <span class="cell medium">   
      </span>
    <span class="cell">
      <button mat-mini-fab color="accent" [disabled]="!newItemForm.form.valid || empresasService.userName=='joanvaq'" type="submit">
        <span class="material-icons">add</span>
      </button>
    </span>
  </form>

  <div class="header-row">
    <span class="header-cell">{{"almacenes.nombre" | translate}}</span>
    <span class="header-cell">{{"almacenes.capacidad" | translate}}</span>
    <span *ngIf="permisosService.traspasos" class="header-cell">{{"almacenes.estado" | translate}}</span>
    <span *ngIf="permisosService.traspasos" class="header-cell">{{"almacenes.numlote_actual" | translate}}</span>
    <span *ngIf="permisosService.traspasos" class="header-cell">{{"almacenes.level" | translate}}</span>
    <span class="header-cell">
      </span>
    <span class="header-cell"></span>
  </div>
  <div class="divrow"  *ngFor="let item of items; let i = index">
  <form class=" row"  #editItemForm="ngForm" (ngSubmit)="saveItem(editItemForm.value,i)">
    <input type="hidden" [(ngModel)]="item.id" name="id">
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" type="text" [(ngModel)]="item.nombre" name="nombre" (keyup)="itemEdited(item.id)">
    </span>
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" type="number" [(ngModel)]="item.capacidad" name="capacidad" (keyup)="itemEdited(item.id)">
    </span>
    <span *ngIf="permisosService.traspasos" class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" type="number" [(ngModel)]="item.estado" name="estado" (keyup)="itemEdited(item.id)">
    </span>
    <span *ngIf="permisosService.traspasos" class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" type="number" [(ngModel)]="item.idproduccionordenactual" name="idproduccionordenactual" (keyup)="itemEdited(item.id)">
      <span *ngIf="lotes[i]" style="font-size: 7px">{{lotes[i]}}</span>
    </span>
    <span *ngIf="permisosService.traspasos" class="cell">
      <input disabled [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" type="number" [(ngModel)]="item.level" name="level" (keyup)="itemEdited(item.id)">
    </span>




    <span class="cell">
      <button [disabled]="empresasService.userName=='joanvaq'" *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" (click)="checkBorrar(item.id)" type="submit">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell">
      <button [disabled]="empresasService.userName=='joanvaq'" *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" [disabled]="!guardar[item.id]" type="submit">
        <span class="material-icons">check</span>
      </button>                
    </span>
   
  </form>

 </div>
</div> -->



<!-- ********* INICIO TABLA REGISTROS-->
<p-table #DT [columns]="cols" [value]="items" dataKey="id" 
(onEditInit)="onEdit($event)" (onRowExpand)="rowExpanded($event)" (onRowCollapse)="rowCollapsed($event)" 
  [responsive]="true" sortField="orden" [sortOrder]="1"  [rows]="25"
  [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]"
  [style]="{'width':'100%','padding':'0px 25px 0px 25px','text-align':'left'}" [ngStyle]="{'min-height.px': minHeight}">
  <ng-template pTemplate="caption">
    <div style="text-align:left;margin-left:10px">
      <button *ngIf="!newRow" type="button" pButton icon="fa fa-plus" (click)="openNewRow()" label="{{'add' | translate}}"></button>
      <button *ngIf="newRow" type="button" pButton icon="fa fa-minus" (click)="openNewRow()" label="{{'cerrar' | translate}}"></button>
      <button type="button" pButton icon="fa fa-save" iconPos="left" label="{{'guardarTodo' | translate}}" (click)="saveAll()" style="margin-left:10px"></button>
      <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="{{'Download' | translate}}" (click)="exportarTable()" style="margin-left:10px;float:right"></button>

    </div>
  </ng-template>
  <!-- ********* INICIO CABECERA-->
  <ng-template pTemplate="header" let-columns>
    <span style="display:table-row">
      <th style="width: 3em"></th>
       <!--************ ORDEN ***************************-->
       <!-- <th style="width:50px">
                <mat-icon>import_export</mat-icon>
      </th> -->
     <!--************ FIN ORDEN ***************************-->
      <th  *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width+'px'">
          <span *ngIf="col.type=='std'">{{col.header | translate}}</span>
          <span *ngIf="col.type=='std2' && permisosService.traspasos == col.traspasos">{{col.header | translate}}</span>
        
      </th>
      <th [style.width]="'95px'">
        {{'acciones' | translate}}
      </th>
    </span>





        <!-- ********* NUEVOREGISTRO   ***-->
        <span [ngClass]="{'NuevoRegistro':true,'NewRow':true,'NewRowOpen':newRow,'NewRowClose':!newRow}" style="display:table-row">
            <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'"
              class="formNewRegister" #creaForm="ngForm" (ngSubmit)="newItem()">
              <td style="width: 3em"></td>
              <td *ngFor="let col of columns" [ngClass]="{'rowRegistro':true}" [style.width]="col.width+'px'">
                <span *ngIf="col.type == 'std'">
                  <input pInputText type="text" [required]="col.required" [(ngModel)]="nuevoItem[col.field]" style="margin-left:4px"
                    [style.width]="(col.width -7)+'px'" [name]="col.field">
                </span>
                <span *ngIf="col.type == 'std2' && permisosService.traspasos == col.traspasos">
                    <input pInputText type="text" [required]="col.required" [(ngModel)]="nuevoItem[col.field]" style="margin-left:4px"
                      [style.width]="(col.width -7)+'px'" [name]="col.field">
                  </span>
              </td>
      
              <!-- ********* ACCIONES   ***-->
              <td>
                <span class="tooltip" matTooltip="{{'add' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                  [matTooltipPosition]="'above'">
                  <button mat-mini-fab color="accent" [disabled]="!creaForm.form.valid" type="submit">
                    <span class="material-icons">add</span>
                  </button>
                </span>
                <span class="tooltip" matTooltip="{{'cancela' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
                  [matTooltipPosition]="'above'">
                  <button type="button" mat-mini-fab color="primary" (click)="openNewRow()" >
                    <span class="material-icons">close</span>
                  </button>
                </span>
              </td>
            </form>
          </span>
      
          <!-- ********* FIN NUEVOREGISTRO   ***-->
  </ng-template>
  <!-- ********* FIN CABECERA   ***-->


  <div class="tableContent">
  <ng-template pTemplate="body" let-item let-columns="columns" let-i="rowIndex" let-expanded="null">
    <!--let-expanded="expanded" -->
    <tr [pSelectableRow]="item" [ngClass]="{'rowImpar':i%2==0,'rowPar':i%2!=0, 'expandSelected':expanded}">
      <td><span *ngIf="expanded!=null">
          <a disabled href="#" [pRowToggler]="item">
            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
          </a></span>
      </td>

      <td *ngFor="let col of columns" [ngClass]="{'rowRegistro':true}" [pEditableColumn]="item" [pEditableColumnField]="col">
        <p-cellEditor>
          <!-- ********* VER DATA   ***-->
          <ng-template pTemplate="output">
            <span *ngIf="col.type =='std'">
              {{item[col.field]}}
            </span>
            <span *ngIf="col.type == 'std2' && permisosService.traspasos == col.traspasos">
                {{item[col.field]}}
              </span>
          </ng-template>
          <!-- ********* EDIT DATA   ***-->
          <ng-template pTemplate="input">
            <span *ngIf="col.type == 'std'">
              <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" pInputText type="text" [(ngModel)]="item[col.field]" [style.width]="(col.width -7)+'px'">
            </span>
            <span *ngIf="col.type == 'std2' && permisosService.traspasos == col.traspasos">
                <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" pInputText type="text" [(ngModel)]="item[col.field]" [style.width]="(col.width -7)+'px'">
              </span>
            <!--****** FIN ********************-->
          </ng-template>
        </p-cellEditor>
      </td>

      <!--*****  ACCIONES  *********-->
      <td>
        <span class="tooltip" matTooltip="{{'eliminar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
          [matTooltipPosition]="'left'">
          <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary"
            (click)="checkBorrar(item.id)" type="button">
            <span class="material-icons">close</span>
          </button>
        </span>
        <span class="tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
          [matTooltipPosition]="'right'">
          <button [disabled]="!guardar[item.id] || empresasService.userName=='joanvaq'"  *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary"
            (click)="saveItem(item,i)" type="button">
            <span class="material-icons">check</span>
          </button>
        </span>
      </td>
    </tr>
  </ng-template>


</div>

</p-table>

<!-- ********* FIN TABLA REGISTROS-->

<div class="modal" *ngIf="exportando">
    <app-download-informe [informeData]="informeData" (informeRecibido)="informeRecibido($event)"></app-download-informe>
</div>