<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
  
<div class="cabeceraItems">
  <!--{{'clientes.clientes' | translate}}<br>-->

  <!--<mat-slide-toggle (change)="changeEstado()">{{'produccion.lotes_cerrados' | translate}}</mat-slide-toggle>-->
    <button mat-mini-fab color="primary" (click)="filter=!filter" type="button">
        <span class="material-icons">filter_list</span>
      </button>
  <form>
    <mat-select class="cabeceraSelect" placeholder="selecciona" floatPlaceholder="false" #choiceEstat (change)="changeEstado($event)">
      <mat-option  value="abierto" selected>{{'produccion.lotes_abiertos' | translate}}</mat-option>
      <mat-option  value="cerrado">{{'produccion.lotes_cerrados' | translate}}</mat-option>
      <mat-option  value="entregado">{{'produccion.lotes_entregados' | translate}}</mat-option>
    </mat-select>
  </form>
  <form>
    <mat-select class="cabeceraSelect" placeholder="selecciona" floatPlaceholder="false" #choicer (change)="seleccionarItem($event)">
      <mat-option *ngFor="let item of items; let i = index" [value]="i">
        {{item.numlote}}
      </mat-option>
    </mat-select>
  </form>
<!--<button *ngIf="empresasService.administrador && itemActivo > 0" mat-button color="warn" (click)="eliminarItem()" type="submit">Eliminar</button>
<button *ngIf="empresasService.administrador && itemActivo > 0" mat-button color="primary" (click)="modificarItem()" type="button">Modificar</button>-->
        <button mat-mini-fab color="primary" (click)="addItem()" type="button">
          <span class="material-icons">add</span>
        </button>
        <button mat-mini-fab color="primary" (click)="modificarItem()" type="button" [disabled]="!(itemActivo > 0)">
          <span class="material-icons">edit</span>
        </button>
        <button mat-mini-fab color="warn" (click)="eliminarItem()" type="button" [disabled]="!(itemActivo > 0)">
          <span class="material-icons">delete_forever</span>
        </button>
</div>
<!--<div class="nueva">

<div *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="nueva-maquina">
  <h2>{{'produccion.nuevo_lote' | translate}}</h2>
  <div class="table">
    <form class="row" (ngSubmit)="crearItem()" #newItem="ngForm">
      <span class="cell">
        <input [placeholder]="'Lote' | translate" type="text" required [(ngModel)]="nuevoItem.numlote" name="numlote">
      </span>
      <span class="cell">
        <button mat-mini-fab color="accent" [disabled]="!newItem.form.valid" type="submit">
          <span class="material-icons">add</span>
        </button>
      </span>
    </form>
  </div>
</div>
</div>-->
<div class="modal" *ngIf="modificaItem || nuevoItem">
  <div class="modal-window modificar">
  
          <h2 class="center"  *ngIf="modificaItem">{{ 'produccion.modificar' | translate }}</h2>
          <h2 class="center"  *ngIf="nuevoItem">{{ 'produccion.crear' | translate }}</h2>
          <input [placeholder]="'Lote' | translate" type="text" required [(ngModel)]="nuevoNombre">
          <hr>
          <button mat-mini-fab color="accent" [disabled]="!nuevoNombre" (click)="modificar()" *ngIf="modificaItem">
          <span class="material-icons">check</span>
        </button>
          <button mat-mini-fab color="accent" [disabled]="!nuevoNombre" (click)="crearItem(nuevoItem)" *ngIf="nuevoItem">
          <span class="material-icons">add</span>
        </button>
          <button mat-mini-fab color="accent" (click)="modificarItem()">
          <span class="material-icons">close</span>
        </button>
  </div>
</div>

<div class="modal" *ngIf="filter">
<filter-dates (onDates)="setDates($event)"></filter-dates>
</div>
