  <mat-card>
    <mat-card-title>
      <mat-toolbar color="accent" class="toolbar-principal">{{'menu.produccion' | translate}}

   <listado-ordenes-produccion class="listadocabecera" (itemSeleccionado)="seleccionOrden($event)"></listado-ordenes-produccion>
  
      </mat-toolbar>
    </mat-card-title>
 <mat-card-subtitle>

   <div class="cabecerabuttons" *ngIf="permisosService.traspasos">
 <button color="accent" mat-raised-button (click)="traspasar()" *ngIf="permisosService.traspasos">{{'produccion.traspasos' | translate}}</button>
   </div>  

   <div class="botonera">
    
    <div class="tooltip" matTooltip="{{'produccion.productos' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">
        <button class="opcionBoton" color="accent" mat-mini-fab (click)="cambioMenu('productos')" ><mat-icon>fastfood</mat-icon></button>
   </div>
 
      <div class="tooltip" *ngIf="permisosService.traspasos" matTooltip="{{'produccion.almacenes' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">
          <button *ngIf="permisosService.traspasos" class="opcionBoton" color="accent" mat-mini-fab (click)="cambioMenu('almacenes')" ><mat-icon>kitchen</mat-icon></button>
   </div>
   <div class="tooltip" matTooltip="{{'alergenos' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">
      <button class="opcionBoton" color="accent" mat-mini-fab (click)="cambioMenu('alergenos')"><mat-icon>bug_report</mat-icon></button>
       </div>
 </div>
 </mat-card-subtitle>

 <div class="modalPanel" *ngIf="subMenu">
    <div class="modalPopup">
        <div  class="tooltip botonCerrarmodalWindow" matTooltip="{{'cerrar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">        
            <button color="accent" mat-mini-fab (click)="cerrarSideNav()"><mat-icon>cancel</mat-icon></button>
            </div>
        <div  class="tooltip botonCerrar" matTooltip="{{'cerrar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">
            <button  top-left color="accent" mat-mini-fab (click)="cerrarSideNav()"><mat-icon>skip_previous</mat-icon></button>
            </div>


            <productos-propios *ngIf="productos"></productos-propios>
            <almacenes *ngIf="almacenes"></almacenes>
            <app-alergenos-tabla   [parentAlergenos]="'productos'"  *ngIf="alergenos"></app-alergenos-tabla>


  </div>
</div>

 <div class="contenido"  [style.height]="heightTraza">
    <!-- <mat-sidenav-container class="contenedorSidenav"> -->
        <mat-sidenav   #sidenavCalendar  (closed)="closeSideNav()" class="panel-sidenav" [mode]="'over'">
                <!-- <div  class="tooltip botonCerrar" matTooltip="{{'cerrar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">
        <button  top-left color="accent" mat-mini-fab (click)="cerrarSideNav()"><mat-icon>skip_previous</mat-icon></button>
        </div> -->



   <!--<calendarios-limpieza *ngIf="calendario" [maquinas]="maquinas" (newLimpiezaRealizada)="nuevaLimpiezaRealizada($event)"></calendarios-limpieza>-->
   <!-- <productos-propios *ngIf="productos"></productos-propios>
   <almacenes *ngIf="almacenes"></almacenes>
   <app-alergenos-tabla   [parentAlergenos]="'productos'"  *ngIf="alergenos"></app-alergenos-tabla> -->
  </mat-sidenav> 
<!-- 
   <mat-sidenav-content class="sidenav-content"> -->
      <movimiento-produccion *ngIf="traspaso"></movimiento-produccion>
   <h2 class="moduloTitle" *ngIf="orden && orden.id >0">{{'produccion.numlote' | translate}}: {{orden.numlote}}</h2>
<mat-tab-group *ngIf="orden && orden.id > 0" [dynamicHeight]="false">
  <mat-tab label="{{'produccion.ficha_produccion' | translate}}"><span class="space"></span><ficha-produccion id="testid" class="tabs"  [orden]="orden" (onUpdateOrden)="updateOrden($event)"  (onHeightChanged)="heightChanged($event)" *ngIf="orden"></ficha-produccion></mat-tab>
<mat-tab label="{{'produccion.materias_primas' | translate}}"><span class="space"></span><materias-primas class="tabs" [orden]="orden" [trigger]="trigger" *ngIf="orden"></materias-primas></mat-tab>
<mat-tab label="{{'produccion.distribucion' | translate}}"><span class="space"></span><distribucion class="tabs" [orden]="orden" *ngIf="orden"></distribucion></mat-tab>
</mat-tab-group>
<!-- </mat-sidenav-content>
</mat-sidenav-container> -->
 </div>
  </mat-card>