  <md-card>
    <md-card-title>
      <md-toolbar color="accent">{{'produccion.areaproduccion' | translate}}

   <listado-ordenes-produccion class="listadocabecera" (itemSeleccionado)="seleccionOrden($event)"></listado-ordenes-produccion>
  
      </md-toolbar>
    </md-card-title>
 <md-card-subtitle>

   <div class="cabecerabuttons">
 <button md-raised-button (click)="traspasar()" *ngIf="permisosService.traspasos">{{'produccion.traspasos' | translate}}</button>
  <button md-raised-button (click)="editProductos()">{{'produccion.productos' | translate}}</button>
  <button md-raised-button (click)="editAlmacenes()">{{'produccion.almacenes' | translate}}</button>
   </div>  


 </md-card-subtitle>



 <div class="contenido">
   <div class="space"></div>
 <movimiento-produccion *ngIf="traspaso"></movimiento-produccion>
   <!--<calendarios-limpieza *ngIf="calendario" [maquinas]="maquinas" (newLimpiezaRealizada)="nuevaLimpiezaRealizada($event)"></calendarios-limpieza>-->
   <productos-propios *ngIf="productos"></productos-propios>
   <almacenes *ngIf="almacenes"></almacenes>
   <h2 class="center" *ngIf="orden && orden.id >0">{{orden.numlote}}</h2>
<md-tab-group *ngIf="orden && orden.id > 0" [dynamicHeight]="false">
  <md-tab label="{{'produccion.ficha_produccion' | translate}}"><span class="space"></span><ficha-produccion id="testid" class="tabs"  [orden]="orden" *ngIf="orden"></ficha-produccion></md-tab>
<md-tab label="{{'produccion.materias_primas' | translate}}"><span class="space"></span><materias-primas class="tabs" [orden]="orden" *ngIf="orden"></materias-primas></md-tab>
<md-tab label="{{'produccion.distribucion' | translate}}"><span class="space"></span><distribucion class="tabs" [orden]="orden" *ngIf="orden"></distribucion></md-tab>
</md-tab-group>
 </div>
  </md-card>