.selector{
width: 40%;
float:left;
}
.nueva{
width: 50%;
float:right;
margin-right: 50px;
margin-top: 20px;
}

.modificar{
    background-color: #f9f9f9;
    height: 200px;
    padding: 50px;

}


.contenido{
  /* display:block;
  clear:both; */
  margin-left:50px;
  min-height: 1200px;
}
.space{
  display:block;
  height: 50px;
  width: 100%;
}

.tabs{
  min-height: 1830px;
    display: flex;
}

.campo{
  background-color: #fff9c4;
  border: 1px solid #fbc02d;
  /*margin-top: 28px;*/
}
.fullsize{
    width: calc(100% - 0px);
    height: calc(100% - 50px);
    margin-top: 25px;
}
md-grid-tile-header{
    height: 25px;
    color: #000;
    z-index:2;
}
md-grid-tile{
    z-index:1;
}
md-grid-list{
    z-index: 1;
}

#doc{
    width: 0px;
    opacity: 0;
}

.inputfile{
    width: 0.1px;
    opacity: 0;
}

.inputlabel {
    margin-top: 0px;
    display: block;
    width: 140px;
    height: 35px;
    cursor: pointer;
    background-color: #ffd740;
    color: black;
    text-align: center;
    line-height: 35px;
    border-bottom: darkgray;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.medium{
  max-width: 140px;
  min-width: 140px;
}
.camera{
  float:left;
  margin-left: 5px
}
.inputlabelRound {
    margin-top: 0px;
    margin-left: 5px;
    display: block;
    width: 40px;
    height:40px;
    float:left;
    cursor: pointer;
    background-image: url('/assets/images/upload.png');
}
.mini-fab{
    max-width:40px;
}
.iframeDiv{
    position: absolute !important;
    top: 50px;
    left: calc(50% - 200px);
    width: 400px;
    height: 300px;
    z-index: 999 !important;
    background-color: #d2d2d2;
    display: block;
    /* padding-left: 25%; */
    /* padding-right: 25%; */
    opacity: 0.98; 
}
.iframe{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #fff;
    display: block;
    opacity: 1; 
    max-height: 220px;
    max-width: 280px;
}
.fichaProduccion{
    margin-left: 30px;
}

.botones{
    width:900px;
    background-color: #fff;
    height: 55px;
    float:left;
    margin-top: 30px;
}
.but{
    float: left;
}

.but2{
    width:170px;
}

.divrow{
    display: table-row-group;
}

.protocol{
    position: absolute;
    right: 100px;
    z-index: 10;    
    background-color: gainsboro;
    display: table-row;
    border-radius: 5px;
    padding: 10px;
}


.itemproducto:hover{
    cursor: pointer;
    background-color: #ccc !important;
}

.w80{
    width:80%;
    float:left;
}
.w20{
    width:20%;
    float:right;
}

.smallselect{
        min-width: 200px !important;
    background-color: #fff9c4;
}

.traza{
    /*display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index:999;
    width: 100%;
    min-width: 800px;
    background-color: #fff;
    width: 100vw;
    */
    position: fixed;
    top: 0;
    left: 0;
    width:1800px;
    height: 100vh;
    background: #fff;
    z-index: 10;
    overflow-y: scroll;

}
.close-button{
    display:block;
    float: left;
    position: absolute;
    top:65px;
    left:0px;
}
.cabecerabuttons{
    display: inline !important;
    margin-left: 60px;
}
.opcionBoton{
    margin-left:6px;
    margin-top:25px;
  }
  
#select_proveedor{
    margin-top: -30px;
}

#origen{
    display:block;
    float:left;
    width:300px;
    margin-top: 85px;
}
#destino{
    display:block;
    float:right;
    width:300px;
    margin-top: 50px;
}
#traspaso{
    display:block;
    float:left;
    margin-left:30px;
    margin-top: 50px;
    width:200px;
}
#traspasoComponent{
    display:block;
    width:900px;
    height:300px;
    min-height: 300px;
}