      <button mat-raised-button color="accent"  type="button" (click)="setAlergenos('save')">{{'alergenos' | translate}}</button>

      <div class="selalergenos" *ngIf="viewAlergenos">
          <mat-list *ngFor="let alergeno of alergenos;let i = index">
                <mat-list-item [ngClass]="{'yellow': selectedAlergenos.indexOf(alergeno) != -1,'grey': selectedAlergenos.indexOf(alergeno) <0, 'itemproducto':true, 'round':true}" (click)="cambiaEstadoAlergeno(alergeno)" >{{alergeno}}</mat-list-item>
        </mat-list>
    <span class="cell">
      <button mat-mini-fab color="primary" (click)="setAlergenos('save')" type="button">
        <span class="material-icons">check</span>
      </button>                
    </span>
      </div>

      <!-- <div class="modal" *ngIf="procesando">
          <mat-spinner></mat-spinner>
          </div> -->

        <!-- <p-dataTable [value]="tabla" [style]="{'width':ancho,'overflow-y':'hidden','overflow-x':'auto','padding-right':'60px','min-width':'600px'}">
            <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header | translate" [frozen]="col.field == 'producto'">
             <ng-template let-col let-user="rowData" pTemplate="header">
             {{cols[i]["field"] | translate }}
            </ng-template>
                 <ng-template let-col let-producto="rowData" pTemplate="body">
                    <span *ngIf="col.field == 'Producto'">{{producto[col.field]}}</span>
                    <mat-slide-toggle class="options" (change)="setPermiso(user['idproducto'],$event.checked)" *ngIf="col.field == 'Producto'"
                  [checked]="producto['generalSwitch']">
              </mat-slide-toggle>
                    <mat-slide-toggle class="option" (change)="setPermiso(producto['idproducto'],$event.checked,col['header'])" *ngIf="col.field != 'Producto'"
                  [checked]="producto[col.field]">
              </mat-slide-toggle>
                </ng-template> 
            </p-column>
        </p-dataTable> -->