<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<!-- <div class="modal" *ngIf="modal2">
  <div class="foto-window">
      <span class="close material-icons" (click)="cerrarFoto()">close</span>
      <div class="foto">
        <img src="{{fotoSrc}}">
      </div>
  </div>
</div> -->
 <div class="modal" *ngIf="procesando">
<md-spinner></md-spinner>
</div>

<span class="cell tooltip" mdTooltip="{{'limpieza.nuevoElemento' | translate}}" [mdTooltipPosition]="'above'">

<div class="table">
  <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="row" #newItemForm="ngForm" (ngSubmit)="newItem()">
    <input type="hidden" [(ngModel)]="nuevoItem.id" name="id">
    <span class="cell">
      <input type="text" [placeholder]="'limpieza.nombre' | translate" required [(ngModel)]="nuevoItem.nombre" name="nombre">
    </span>
    <span class="medium cell">
      <!--<ng2-datepicker type="date" name="fecha" [(ngModel)]="nuevoMantenimiento.fecha"></ng2-datepicker>-->
      <p-calendar [inputStyle]="{'width':'100px'}" placeholder="fecha" [(ngModel)]="nuevoItem.fecha" [locale]="es" dateFormat="dd/mm/yy"  name="fecha"></p-calendar>
    </span>
    <span class="medium cell small">
        <select class="medium white-select small" required [(ngModel)]="nuevoItem.tipo" name="tipo">
        <option value="interno">{{'interno' | translate}}</option>
        <option value="externo">{{'externo' | translate}}</option>
      </select>
    </span>
    <span class="cell">
      <periodicidad (periodo)="setPeriodicidad($event)" [miperiodo]="false" [fechaPrevista]="nuevoItem.fecha" [origen]="tipo"></periodicidad>
    </span>
     <!-- <span class="cell">
    <select-productos name="productos" [elementoLimpieza]="0" (selectedProductsChange)="setProducts($event)"></select-productos>
 </span> -->
    <span class="medium cell">
      <input class="medium" type="text" [placeholder]="'limpieza.responsable' | translate" [(ngModel)]="nuevoItem.responsable" name="responsable">
    </span>
    <span class="cell small">
        <md-checkbox  class="example-margin" [(ngModel)]="nuevoItem.app" name="app"></md-checkbox>
    </span>
      <span class="cell small">
        <!--<button md-mini-fab class="camera" (click)="verPermisos(-1)" type="button">
        <span class="material-icons">phonelink_lock</span>
      </button>  -->
    </span>
    <!-- <span class="cell medium">
             <button md-mini-fab class="camera" (click)="verProtocolo(-1)" type="button">
        <span class="material-icons">list</span>
      </button>    
      </span> -->
    <span class="cell small">num.
      <select class="smallselect" required [(ngModel)]="cantidad" [ngModelOptions]="{standalone: true}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      </span><!--Borrar-->
    <span class="cell">
<span class="cell tooltip" mdTooltip="{{'limpieza.anadir' | translate}}" [mdTooltipPosition]="'above'">
    
      <button md-mini-fab color="accent" [disabled]="!newItemForm.form.valid" type="submit">
        <span class="material-icons">add</span>
      </button>
</span>
    </span>
  </form>
  </div>
 <div style="height: 15px" ></div>

</span>
<!-- 
  <div class="protocol" *ngIf="newItemprotocolo">
 <protocolo class="cell" (protocolEmitter)="setProtocol($event,-1,0)" [parentProtocol]="" ></protocolo>
  </div>
  <div class="header-row">
    <span class="header-cell">{{"limpieza.nombre" | translate}}</span>
    <span class="medium header-cell">{{"limpieza.fecha" | translate}}</span>
    <span class="medium header-cell">{{"limpieza.tipo" | translate}}</span>
    <span class="header-cell">{{"limpieza.periodicidad" | translate}}</span>
    <span class="header-cell">{{"limpieza.productos" | translate}}</span>
    <span class="medium header-cell">{{"limpieza.responsable" | translate}}</span>
     <span class="header-cell">{{"App" | translate}}</span>
      <span class="header-cell small">{{"Permisos" | translate}}</span>
      <span class="header-cell small">{{"Supervisor" | translate}}</span>
    <span class="header-cell medium">{{"limpieza.protocolo" | translate}}</span>
    <span class="header-cell">
      </span>
    <span class="header-cell"></span>
  </div>
  <div class="divrow"  *ngFor="let item of items; let i = index">
  <form class=" row"  #editItemForm="ngForm" (ngSubmit)="saveItem(editItemForm.value,i)">
    <input type="hidden" [(ngModel)]="item.id" name="id">
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" type="text" [(ngModel)]="item.nombre" name="nombre" (keyup)="itemEdited(item.id)">
    </span>
    <span class="medium cell">
      <p-calendar [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item.fecha"  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha)" name="fecha"></p-calendar>    
    </span>
    <span class="medium cell small">
      <select class="medium small" [disabled]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" class="white-select" [(ngModel)]="item.tipo" name="tipo" (change)="itemEdited(item.id)">
        <option value="interno">{{'interno' | translate}}</option>
        <option value="externo">{{'externo' | translate}}</option>
      </select>
    </span>
    <span class="cell">
      <periodicidad (periodo)="setPeriodicidad($event, item.id, i)" [miperiodo]="item.periodicidad" [fechaPrevista]="item.fecha" [origen]="tipo" name="periodicidad"></periodicidad>
    </span>

 <span class="cell">
    <select-productos name="productos" [elementoLimpieza]="item.id" (selectedProductsChange)="setProducts($event)"></select-productos>
 </span>

    <span class="medium cell">
      <input class="medium" [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" [placeholder]="'responsable' | translate" type="text" [(ngModel)]="item.responsable" name="responsable" (keyup)="itemEdited(item.id)">
    </span>
    <span class="cell small">
        <md-checkbox [disabled]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" class="example-margin" [(ngModel)]="item.app" name="app" (change)="itemEdited(item.id)"></md-checkbox>
    </span>
      <span class="cell small">
        <app-permisos-limpieza [limpieza]="item.id"></app-permisos-limpieza>
    </span>
      <span class="cell small">
        <app-permisos-limpieza [supervisor]="item.supervisor"  (setSupervisor)="setSupervisor($event,item)"></app-permisos-limpieza>
    </span> -->



<!--*****  subir/ver FOTO  *********-->
    <!-- <span class="cell">
       <button md-mini-fab class="camera" (click)="verProtocolo(i)" type="button">
        <span class="material-icons">list</span>
      </button>    
      <button class="camera" *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" [disabled]="!item.protocolo" md-mini-fab color="color" (click)="photoURL(i,'protocolo')" type="button">
        <span class="material-icons">photo_camera</span>
      </button>

        <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="inputlabelRound" attr.for="{{'protocolo'+i}}"></label>                
        <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" id="{{'protocolo'+i}}" class="inputfile" type="file" (change)="uploadImg($event, item.id,i,'protocolo')" accept=".gif,.jpg,.jpeg,.png,.pdf,.doc,.docx,.xls,.xlsx"/>
    </span> -->
<!--****** FIN ********************-->



    <!-- <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" md-mini-fab color="primary" (click)="checkBorrar(item.id)" type="submit">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" md-mini-fab color="primary" [disabled]="!guardar[item.id]" type="submit">
        <span class="material-icons">check</span>
      </button>                
    </span>
   
  </form> -->
  <!-- <div class="protocol"  *ngIf="protocolo[i]">
 <protocolo class="cell" (protocolEmitter)="setProtocol($event,i,item.id)" [parentProtocol]="item.protocol"></protocolo>
  </div> -->
 <!-- </div>
 </div>  -->

<div style="position:absolute; left:0px; top:110px; min-width:1000px">
  <p-dataTable #DT [value]="items"  expandableRows="true"  rowExpandMode="single"
  [editable]="true"  [responsive]="true" (onEditInit)="onEdit($event)" sortField="orden" [sortOrder]="1" 
  [csvSeparator]="';'" [exportFilename]="'Elementos_limpieza'">
  <p-header>
      <div class="ui-helper-clearfix">
          <span class="cell tooltip" mdTooltip="{{'exportar' | translate}}" [mdTooltipPosition]="'left'">              
          <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="exportData(DT)" style="float:left"></button>
          </span>
        </div>
  </p-header>
  <p-column expander="true" styleClass="col-icon">
     <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body" >
         <div class="tooltip expander" mdTooltip="{{'expandir' | translate}}" [mdTooltipPosition]="'after'" (click)="expandir(DT,rowIndex,$event)">
        </div>
    </ng-template> 
  </p-column>
      <p-column field="orden" header="orden" [sortable]="true" [editable]="false">
      <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="header">    
      <md-icon>import_export</md-icon>
      </ng-template>
      <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">    
       <div class="up" (click)="goUp(i,$event,dt)"><md-icon>arrow_drop_up</md-icon></div>
      <div class="down" (click)="goDown(i,$event,dt)"><md-icon>arrow_drop_down</md-icon></div>
      <div class="orden" >{{item.orden}}</div>        
      </ng-template>
    </p-column>    
    <p-column field="nombre" header="nombre" [editable]="true" ></p-column>
    <p-column field="descripcion" header="descripcion"  [editable]="true"></p-column>
    <p-column field="fecha" header="fecha" >
      <ng-template let-col let-item="rowData" pTemplate="body">      
      <p-calendar [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item.fecha"  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha)" name="fecha"></p-calendar>
      </ng-template>
    </p-column>
    <p-column field="tipo" header="tipo" [editable]="true"></p-column>
    <p-column field="periodicidad" header="periodicidad" >
      <ng-template let-col let-item="rowData" pTemplate="body">
      <periodicidad (periodo)="setPeriodicidad($event, item.id, i)" [miperiodo]="item.periodicidad" [fechaPrevista]="item.fecha" [origen]="tipo" name="periodicidad"></periodicidad>
      </ng-template>
    </p-column>
    <p-column field="responsable" header="responsable" [editable]="true"></p-column>

    <p-column field="app" header="app">
      <ng-template  pTemplate="header">
 <span class="cell tooltip" mdTooltip="{{'limpiezas.app' | translate}}" [mdTooltipPosition]="'above'">  
   app   
 </span> 

      </ng-template>
      <ng-template let-col let-item="rowData" pTemplate="body">
        <md-checkbox [disabled]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" class="example-margin" [(ngModel)]="item.app" name="app" (change)="itemEdited(item.id)"></md-checkbox>
      </ng-template>
    </p-column>

    <p-column header="'acciones'">
      <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
          <span class="cell tooltip" mdTooltip="{{'eliminar' | translate}}" [mdTooltipPosition]="'left'">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" md-mini-fab color="primary" (click)="checkBorrar(item.id)" type="button">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell tooltip" mdTooltip="{{'guardar' | translate}}" [mdTooltipPosition]="'right'">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" md-mini-fab color="primary" [disabled]="!guardar[item.id]" (click)="saveItem(item,i)" type="button">
        <span class="material-icons">check</span>
      </button>
    </span>
      </ng-template>   
    </p-column>




  <ng-template let-item  pTemplate="rowexpansion" let-rowIndex="rowIndex">

      <div class="header-row">
    <span class="header-cell medium">{{"limpieza.protocolo" | translate}}</span>
    <span class="header-cell">{{"limpieza.productos" | translate}}</span>
  </div>
   <!--//************    [disabled]="!item.protocolo"--> 


<!--*****  PROTOCOLOS  *********-->

<span class="cell">

      <p-accordion (onOpen)="openTabProtocolo($event,rowIndex)">
          <p-accordionTab header="{{ protocolos[prot].nombre}}"  *ngFor="let prot of protocolo[rowIndex]" onOpen="openTabProtocolo(prot)">
            <div style="float:left" *ngIf="fotoProt" (click)="photoURL(fotoProt)">
                <img [src]="fotoProt" height="60px">
            </div>
            <div style="min-height:65px;margin-left: 15px;display:inline-block">
              <span *ngFor="let elemProt of elemsProtocolo[prot]">
                {{elemProt.descripcion}}<BR>
              </span>
            </div>
          </p-accordionTab>
      </p-accordion>
  </span>

<!--****** FIN ********************-->
    
<!--*****  PRODUCTOS  *********-->
 <span class="cell">
    <!-- <select-productos name="productos" [elementoLimpieza]="item.id" (selectedProductsChange)="setProducts($event)"></select-productos> -->

      <p-accordion (onOpen)="openTabProducto($event,rowIndex)">
          <p-accordionTab header="{{prod.nombre}}"  *ngFor="let prod of productos[rowIndex]" onOpen="openTabProducto(prod.doc,prod.id)">
            <div style="float:left" *ngIf="misproductos[prod.id].doc" (click)="photoURL(fotoProd)">
                <img [src]="fotoProd" height="60px">
                <!-- <img [src]="test" alt="Smiley face" height="60" width="60">    -->
            </div>
            <div style="min-height:65px;margin-left: 55px;">
              {{'limpieza.marca' | translate}}:{{misproductos[prod.id].marca}}<BR>
              {{'limpieza.desinfectante' | translate}}:{{misproductos[prod.id].desinfectante}}<BR>
              {{'limpieza.dosificacion' | translate}}:{{misproductos[prod.id].dosificacion}}<BR>
            </div>
          </p-accordionTab>
      </p-accordion>
  </span>



   <!--//************-->
  </ng-template>




    <!-- <p-column field="orden" header="orden" [sortable]="true"></p-column>     -->
    <!-- <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer> -->
</p-dataTable>
</div>






<div class="iframeDiv" *ngIf="verdoc" (click)="verdoc=!verdoc">
  <button md-mini-fab style="position:absolute;right:0px;top:0px"><md-icon>close</md-icon></button>
<img class="iframe" [src]="foto">
</div>


