<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<div class="modal" *ngIf="modal2">
  <div class="foto-window">
      <span class="close material-icons" (click)="cerrarFoto()">close</span>
      <div class="foto">
        <img src="{{fotoSrc}}">
      </div>
  </div>
</div>



<div class="table">
  <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="row" #newItemForm="ngForm" (ngSubmit)="newItem()">
    <input type="hidden" [(ngModel)]="nuevoItem.id" name="id">
    <span class="cell">
      <input type="text" [placeholder]="'limpieza.nombre' | translate" required [(ngModel)]="nuevoItem.nombre" name="nombre">
    </span>
    <span class="medium cell">
      <!--<ng2-datepicker type="date" name="fecha" [(ngModel)]="nuevoMantenimiento.fecha"></ng2-datepicker>-->
      <p-calendar [inputStyle]="{'width':'100px'}" placeholder="fecha" [(ngModel)]="nuevoItem.fecha" [locale]="es" dateFormat="dd/mm/yy"  name="fecha"></p-calendar>
    </span>
    <span class="medium cell small">
        <select class="medium white-select small" required [(ngModel)]="nuevoItem.tipo" name="tipo">
        <option value="interno">{{'interno' | translate}}</option>
        <option value="externo">{{'externo' | translate}}</option>
      </select>
    </span>
    <span class="cell">
      <periodicidad (periodo)="setPeriodicidad($event)" [miperiodo]="false" [fechaPrevista]="nuevoItem.fecha" [origen]="tipo"></periodicidad>
    </span>
     <span class="cell">
    <!--<p-multiSelect [options]="productos" [(ngModel)]="productosSeleccionados" name="productos"></p-multiSelect>-->
    <select-productos name="productos" [elementoLimpieza]="0" (selectedProductsChange)="setProducts($event)"></select-productos>
 </span>
    <span class="medium cell">
      <input class="medium" type="text" [placeholder]="'limpieza.responsable' | translate" [(ngModel)]="nuevoItem.responsable" name="responsable">
    </span>
    <span class="cell small">
        <md-checkbox  class="example-margin" [(ngModel)]="nuevoItem.app" name="app"></md-checkbox>
    </span>
      <span class="cell small">
        <!--<button md-mini-fab class="camera" (click)="verPermisos(-1)" type="button">
        <span class="material-icons">phonelink_lock</span>
      </button>  -->
    </span>
    <span class="cell medium">
             <button md-mini-fab class="camera" (click)="verProtocolo(-1)" type="button">
        <span class="material-icons">list</span>
      </button>    
      </span><!--protocolo-->
    <span class="cell small">num.
      <select class="smallselect" required [(ngModel)]="cantidad" [ngModelOptions]="{standalone: true}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      </span><!--Borrar-->
    <span class="cell">
      <button md-mini-fab color="accent" [disabled]="!newItemForm.form.valid" type="submit">
        <span class="material-icons">add</span>
      </button>
    </span>
  </form>
  <div class="protocol" *ngIf="newItemprotocolo">
 <protocolo class="cell" (protocolEmitter)="setProtocol($event,-1,0)" [parentProtocol]="" ></protocolo>
  </div>
  <div class="header-row">
    <span class="header-cell">{{"limpieza.nombre" | translate}}</span>
    <span class="medium header-cell">{{"limpieza.fecha" | translate}}</span>
    <span class="medium header-cell">{{"limpieza.tipo" | translate}}</span>
    <span class="header-cell">{{"limpieza.periodicidad" | translate}}</span>
    <span class="header-cell">{{"limpieza.productos" | translate}}</span>
    <span class="medium header-cell">{{"limpieza.responsable" | translate}}</span>
     <span class="header-cell">{{"App" | translate}}</span>
      <span class="header-cell small">{{"permisos" | translate}}</span>
    <span class="header-cell medium">{{"limpieza.protocolo" | translate}}</span>
    <span class="header-cell">
      <!--<button md-button (click)="SETPROCESO()">proceso</button>-->
      </span><!--Borrar-->
    <span class="header-cell"></span><!--Guardar-->
  </div>
  <div class="divrow"  *ngFor="let item of items; let i = index">
  <form class=" row"  #editItemForm="ngForm" (ngSubmit)="saveItem(editItemForm.value,i)">
    <input type="hidden" [(ngModel)]="item.id" name="id">
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" type="text" [(ngModel)]="item.nombre" name="nombre" (keyup)="itemEdited(item.id)">
    </span>
    <span class="medium cell">
      <p-calendar [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item.fecha"  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha)" name="fecha"></p-calendar>    
    </span>
    <span class="medium cell small">
      <select class="medium small" [disabled]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" class="white-select" [(ngModel)]="item.tipo" name="tipo" (change)="itemEdited(item.id)">
        <option value="interno">{{'interno' | translate}}</option>
        <option value="externo">{{'externo' | translate}}</option>
      </select>
    </span>
    <span class="cell">
      <periodicidad (periodo)="setPeriodicidad($event, item.id, i)" [miperiodo]="item.periodicidad" [fechaPrevista]="item.fecha" [origen]="tipo" name="periodicidad"></periodicidad>
    </span>

 <span class="cell">
    <!--<p-multiSelect [options]="productos" [(ngModel)]="productosSeleccionadosItem[i]" name="productos"></p-multiSelect>-->
    <select-productos name="productos" [elementoLimpieza]="item.id" (selectedProductsChange)="setProducts($event)"></select-productos>
 </span>

    <span class="medium cell">
      <input class="medium" [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" [placeholder]="'responsable' | translate" type="text" [(ngModel)]="item.responsable" name="responsable" (keyup)="itemEdited(item.id)">
    </span>
    <span class="cell small">
        <md-checkbox [disabled]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" class="example-margin" [(ngModel)]="item.app" name="app" (change)="itemEdited(item.id)"></md-checkbox>
    </span>
      <span class="cell small">
        <app-permisos-limpieza [limpieza]="item.id"></app-permisos-limpieza>
    </span>
<!--*****  subir/ver FOTO  *********-->
    <span class="cell">
       <button md-mini-fab class="camera" (click)="verProtocolo(i)" type="button">
        <span class="material-icons">list</span>
      </button>    
      <button class="camera" *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" [disabled]="!item.protocolo" md-mini-fab color="color" (click)="photoURL(i,'protocolo')" type="button">
        <span class="material-icons">photo_camera</span>
      </button>

        <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="inputlabelRound" attr.for="{{'protocolo'+i}}"></label>                
        <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" id="{{'protocolo'+i}}" class="inputfile" type="file" (change)="uploadImg($event, item.id,i,'protocolo')" accept=".gif,.jpg,.jpeg,.png,.pdf,.doc,.docx,.xls,.xlsx"/>
    </span>
<!--****** FIN ********************-->

    <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" md-mini-fab color="primary" (click)="checkBorrar(item.id)" type="submit">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" md-mini-fab color="primary" [disabled]="!guardar[item.id]" type="submit">
        <span class="material-icons">check</span>
      </button>                
    </span>
   
  </form>
  <div class="protocol"  *ngIf="protocolo[i]">
 <protocolo class="cell" (protocolEmitter)="setProtocol($event,i,item.id)" [parentProtocol]="item.protocol"></protocolo>
  </div>
 </div>
</div>


<div class="iframeDiv" *ngIf="verdoc" (click)="verdoc=!verdoc">
  <button md-mini-fab style="position:absolute;right:0px;top:0px"><md-icon>close</md-icon></button>
<img class="iframe" [src]="foto">
</div>


