<!-- <modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal> -->
<!-- <div class="table">
  <div class="header-row">
    <span class="header-cell">{{"limpieza.limpieza" | translate}}</span>
    <span class="medium header-cell">{{"limpieza.fecha_prevista" | translate}}</span>
    <span class="medium header-cell">{{"limpieza.fecha_real" | translate}}</span>
    <span class="medium header-cell">{{"limpieza.tipo" | translate}}</span>
    <span class="header-cell">{{"limpieza.descripcion" | translate}}</span>
    <span class="medium header-cell">{{"limpieza.responsable" | translate}}</span>
    <span class="medium header-cell">{{"limpieza.fecha_supervision" | translate}}</span>
    <span class="medium header-cell">{{"limpieza.supervision" | translate}}</span>
    <span class="medium header-cell">{{"limpieza.supervisor" | translate}}</span>
    <span class="header-cell"></span>
    <span class="header-cell"></span>
    <span class="header-cell"></span>
  </div>


  <form class="row"  #editItemForm="ngForm" (ngSubmit)="saveItem(editItemForm.value)" *ngFor="let mantenimiento of items;let i = index">
    <input type="hidden" [(ngModel)]="mantenimiento.id" name="id">
    <span class="cell">
      <input [readonly]="true" type="text" [(ngModel)]="mantenimiento.nombre" name="nombre" (keyup)="itemEdited(mantenimiento.id)">
    </span>
    <span class="medium cell small">
      <p-calendar [inputStyle]="{'width':'100px'}" [(ngModel)]="mantenimiento.fecha_prevista" [locale]="es" dateFormat="dd/mm/yy" name="fecha_prevista" (onSelect)="itemEdited(mantenimiento.id)"></p-calendar>    
    </span>
    <span class="medium cell">
      <p-calendar [inputStyle]="{'width':'100px'}" [(ngModel)]="mantenimiento.fecha"  [locale]="es" dateFormat="dd/mm/yy" name="fecha" (onSelect)="itemEdited(mantenimiento.id)"></p-calendar>    
    </span>
    <span class="medium cell">
     <input class="medium small"  [placeholder]="'tipo' | translate" type="text" [(ngModel)]="mantenimiento.tipo" name="tipo" (keyup)="itemEdited(mantenimiento.id)">
    </span>
    <span class="medium cell">
      <input class="medium small" [placeholder]="'descripcion' | translate" type="text" [(ngModel)]="mantenimiento.descripcion" name="descripcion" (keyup)="itemEdited(mantenimiento.id)">
    </span>
    <span class="medium cell">
      <input  class="medium small" [placeholder]="'responsable' | translate" type="text" [(ngModel)]="mantenimiento.responsable" name="responsable" (keyup)="itemEdited(mantenimiento.id)">
    </span>
    <span class="medium cell small">
      <p-calendar [inputStyle]="{'width':'100px'}" placeholder="Fecha supervision" [(ngModel)]="mantenimiento.fecha_supervision" [locale]="es" dateFormat="dd/mm/yy" name="fecha_supervision" (onSelect)="itemEdited(mantenimiento.id)"></p-calendar>    
    </span>
     <span class="medium cell">
      <p-dropdown (onChange)="itemEdited(mantenimiento.id)" [style]="{'width':'100px'}" [options]="supervisar" [(ngModel)]="mantenimiento.supervision" name="supervision"></p-dropdown>
    </span>   
    <span class="medium cell">
      <input disabled class="medium" [placeholder]="'supervisor' | translate" type="text" [(ngModel)]="mantenimiento.supervisor" [ngModelOptions]="{standalone: true}" (keyup)="itemEdited(mantenimiento.id)">
    </span>
    <span class="cell detalle" [ngClass]="{'supervisionOk': mantenimiento.supervision==1, 'supervisionFail': mantenimiento.supervision==2}">
      <span class="reason" *ngIf="motivo[i]">
        <input   [placeholder]="'detalles_supervision' | translate" type="text" [(ngModel)]="mantenimiento.detalles_supervision" name="detalles_supervision" (keyup)="itemEdited(mantenimiento.id)">
        </span>
      <button [disabled]="mantenimiento.supervision==1" mat-mini-fab  (click)="detalleSupervision(mantenimiento.id,i)" type="button">
        <span class="material-icons">info</span>
      </button>
    </span>
    <span class="cell">
      <button *ngIf="empresasService.administrador" mat-mini-fab color="primary" (click)="checkBorrar(mantenimiento.id)" type="button">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell">
      <button *ngIf="empresasService.administrador" mat-mini-fab color="primary" [disabled]="!guardar[mantenimiento.id]" type="submit">
        <span class="material-icons">check</span>
      </button>                
    </span>

  </form>

</div> -->

<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>

  <div>

<p-dataTable #DT [value]="items" [editable]="true" expandableRows="true" 
(onEditComplete)="onEdit($event)" (onEditInit)="onEdit($event)" 
[rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,25,50,100]"
[csvSeparator]="';'" [exportFilename]="'Limpiezas_Realizadas'" [tableStyle]="{'width':'1050px'}" 
[(selection)]="selectedItem"  [(first)]="tablaPosition">
<p-header>
    <div class="ui-helper-clearfix">
        <span class="cell tooltip" matTooltip="{{'exportar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">              
        <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="exportData(DT)" style="float:left"></button>
        </span>
      </div>
</p-header>

  <!-- <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['familia']}}</ng-template> -->
  <p-column expander="true" styleClass="col-icon"  [style]="{'width':'40px'}">
     <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body" >
         <div class="tooltip expander" matTooltip="{{'expandir' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'" (click)="expandir(DT,rowIndex,$event)">
        
        </div>
    </ng-template> 
  </p-column>
  <p-column field="nombre" header="{{'Nombre' | translate}}" [editable]="true" [sortable]="true"></p-column>
  <p-column field="fecha_prevista" header="{{'limpieza.fecha_prevista' | translate}}" [editable]="true" [style]="{'width':'120px'}" [sortable]="true">
     <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body" >
      <p-calendar appendTo="body" [inputStyle]="{'width':'100px'}" placeholder="Fecha prevista" [(ngModel)]="item[col.field]" [locale]="es" dateFormat="dd/mm/yy" name="fecha_prevista"></p-calendar>          
</ng-template>
  </p-column>
  <p-column field="fecha" header="{{'limpieza.fecha_real' | translate}}" [editable]="true" [style]="{'width':'110px'}" [sortable]="true">
     <ng-template let-col let-item="rowData" pTemplate="body">
      <p-calendar  appendTo="body" [inputStyle]="{'width':'90px'}" placeholder="Fecha real" [(ngModel)]="item[col.field]" [locale]="es" dateFormat="dd/mm/yy" name="fecha"></p-calendar>          
</ng-template>
  </p-column>

  <p-column field="tipo" header="{{'limpieza.tipo' | translate}}" [editable]="false" [sortable]="true"></p-column>

  <p-column field="responsable" header="{{'limpieza.responsable' | translate}}" [editable]="true" [sortable]="true"></p-column>

  <p-column [style]="{'width':'190px','position':'relative'}" field="supervision" header="{{'limpieza.supervision' | translate}}"  [sortable]="true">
     <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body" >
       <div style="width:130px;position:relative;float:left">
         <mat-select  [(ngModel)]="item[col.field]" name="item[col.header]">
  <mat-option value="0">{{'planificaciones.porSupervisar' | translate}}</mat-option>
   <mat-option value="1">{{'planificaciones.correcta' | translate}}</mat-option>
    <mat-option value="2">{{'planificaciones.incorrecta' | translate}}</mat-option>
</mat-select>
    <!-- <p-dropdown [options]="usuarios" [(ngModel)]="item[col.field]" appendTo="body" [style]="{'width':'100%'}" (onChange)="doSomething(item[col.field],col.header,col,col.field)"></p-dropdown> -->
       </div>
  <div style="width:30px;position:relative;float:right">
        <figure *ngIf="item.supervision==1" style="display: block;background: #33cc33;border-radius: 50%;height: 25px;width: 25px; margin: 0;" ></figure>
        <figure *ngIf="item.supervision==2" style="display: block;background: #E65A58;border-radius: 50%;height: 25px;width: 25px; margin: 0;" ></figure>
  </div>
  </ng-template>

  </p-column>
  <p-column field="idsupervisor" header="{{'limpieza.supervisor' | translate}}"   [style]="{'width':'130px','overflow':'visible'}" [sortable]="true">
     <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body" >
       <div style="position:relative">
    <!-- <p-dropdown [options]="usuarios" [(ngModel)]="item[col.field]" appendTo="body" [style]="{'width':'100%'}" (onChange)="doSomething(item[col.field],col.header,col,col.field)"></p-dropdown> -->
          <mat-select  [(ngModel)]="item[col.field]" name="item[col.header]">
  <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.usuario}}</mat-option>
</mat-select>      

  </div>
  </ng-template>
  </p-column>
    <p-column field="fecha_supervision" header="{{'planificaciones.fecha_supervision' | translate}}" [editable]="true" [style]="{'width':'110px'}" [sortable]="true">
     <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
      <p-calendar  appendTo="body" [inputStyle]="{'width':'90px'}" placeholder="{{'planificaciones.fecha_supervision' | translate}}" [(ngModel)]="item[col.field]" [locale]="es" dateFormat="dd/mm/yy" name="fecha"></p-calendar>          
</ng-template>
  </p-column>

  <ng-template let-item  pTemplate="rowexpansion" let-rowIndex="rowIndex">
   <!--//************--> 
         <span class="plan_descripcion">
            <p-panel [style]="{'width':'100%','height':'225px','margin':'0 1%', 'float':'left'}" header="{{'limpieza.descripcion' | translate}}">
            <textarea [rows]="6" [cols]="44" pInputTextarea  placeholder="{{'introducirtexto' | translate}}" [(ngModel)]="item.descripcion" name="descripcion" (keyup)="itemEdited(item.id)"></textarea>
    </p-panel>
    </span>
    <span class="plan_descripcion">
      <p-panel [style]="{'width':'100%','height':'225px','margin':'0 1%', 'float':'left'}" header="{{'limpieza.detalles_supervision' | translate}}">
    <textarea [rows]="6" [cols]="44" pInputTextarea  placeholder="{{'introducirtexto' | translate}}" [(ngModel)]="item.detalles_supervision" name="detalles_supervision" (keyup)="itemEdited(item.id)"></textarea>
    </p-panel>
    </span>

  <!--//************ FOTO     --> 
  <p-panel [style]="{'width':'11%','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'planificaciones.imagen' | translate}}">
      <img  [src]="images[item.id]" height="80px" (error)="images[item.id]='assets/images/noimage.png'" (click)="verFoto('plan',item.id,rowIndex)" /> 
   
     <hr>
     <span class="cell tooltip" matTooltip="{{'subirFoto' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">        
     <span  class="but but2">
         <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" class="inputlabelRound" for="{{'imagen'+item.id}}"></label>
         <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" id="{{'imagen'+item.id}}" class="inputfile" type="file" (change)="uploadFunciones($event,item.id,'imagen')" accept=".gif,.jpg,.jpeg,.png"/>
     </span>
     </span>
       </p-panel>
 
       <!--//************ PDF     --> 
         <p-panel [style]="{'width':'11%','height':'250px','margin':'0 1%', 'float':'left'}" header="{{'planificaciones.doc' | translate}}">

      <img  [ngClass]="{'disabled':!item.doc}" [src]="'./assets/images/viewpdf.jpeg'" height="80px" (error)="image='./assets/images/pixel.png'" (click)="verFoto('doc',item.id)" /> 
          <hr>
     <span  class="but but2 altPanel">
     <span class="cell tooltip" matTooltip="{{'subirArchivo' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">                
         <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' " class="inputlabelRound" for="{{'pdf'+item.id}}"></label>
     </span>
         <br>
         <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' " id="{{'pdf'+item.id}}" class="inputfile" type="file" (change)="uploadFunciones($event,item.id,'doc')" accept=".gif,.jpg,.jpeg,.png,.pdf"/>
       
       </span>
         </p-panel>



   <!--//************-->
  </ng-template>
  <p-column styleClass="col-icon" header="{{'planificaciones.actions' | translate}}" [style]="{'width':'150px'}">
       <ng-template let-col let-item="rowData" pTemplate="body">
               <span class="cell tooltip" matTooltip="{{'eliminar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" (click)="checkBorrar(item.id)" type="button">
        <span class="material-icons">close</span>
      </button>
    </span>
     <span class="cell tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'right'">
      
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" [disabled]="!guardar[item.id]" (click)="saveItem(item)" type="submit">
        <span class="material-icons">check</span>
      </button>                
    </span>

  <app-boton-incidencia class="incidenciaItem" id="botonIncidencia" [origen]="incidencia[item.id]"></app-boton-incidencia>
    
</ng-template>  
  </p-column>  
</p-dataTable>
  </div>


  <div class="iframeDiv" [ngStyle]="{'top': top}" *ngIf="verdoc" (click)="verdoc=!verdoc">
      <div class="tooltip botonCerrar" matTooltip="{{'cerrar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">
   <button  color="accent" mat-mini-fab (click)="cerrarSideNav()"><mat-icon>close</mat-icon></button>
   </div>
   <img   class="iframe"  [src]="foto">
   </div>
  
   
   