  <md-card>
    <md-card-title>
      <md-toolbar color="accent" class="toolbar-principal">{{'menu.limpieza' | translate}}

        <listado-limpieza (zonaSeleccionada)="seleccionZona($event)" (listaZonas)="loadZonas($event)" (migrando)="migrando($event)"></listado-limpieza>
      </md-toolbar>
    </md-card-title>
 <md-card-subtitle>

   <!-- <div class="calendarios" *ngIf="!migrandoEstat">
  <button color="accent" md-raised-button (click)="calendarios()">{{'limpieza.calendarios' | translate}}</button>
  <button color="accent" md-raised-button (click)="verProductosLimpieza()">{{'limpieza.productos' | translate}}</button>
   </div> -->


  <div class="botonera"  *ngIf="!migrandoEstat">
    
     <div  class="tooltip" mdTooltip="{{'limpieza.calendarios' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'after'">
      <button class="opcionBoton" [ngClass]="{'selected': subMenu == 'calendario'}" color="accent" md-mini-fab (click)="cambioMenu('calendario')"><md-icon>date_range</md-icon></button> 
      </div>

   <div class="tooltip" mdTooltip="{{'planificaciones.permisos' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'after'">
  <button class="opcionBoton" [ngClass]="{'selected': subMenu == 'permiso'}" color="accent" md-mini-fab (click)="cambioMenu('permiso')"><md-icon>vpn_key</md-icon></button>
  </div>

     <div class="tooltip" mdTooltip="{{'limpieza.productos' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'after'">
  <button class="opcionBoton" [ngClass]="{'selected': subMenu == 'productos'}" color="accent" md-mini-fab (click)="cambioMenu('productos')"><md-icon>widgets</md-icon></button>
  </div>
  <div class="tooltip" mdTooltip="{{'limpieza.protocolos' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'after'">
      <button class="opcionBoton" [ngClass]="{'selected': subMenu == 'protocolos'}" color="accent" md-mini-fab (click)="cambioMenu('protocolos')"><md-icon>description</md-icon></button>
      </div>
   <!-- <div class="tooltip" mdTooltip="{{'alertas.avisos' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'after'">
  <button class="opcionBoton" [ngClass]="{'selected': subMenu == 'alerta'}" color="accent" md-mini-fab (click)="cambioMenu('alerta')"><md-icon>notifications_active</md-icon></button>
  </div> -->
   </div>
 </md-card-subtitle>




 <div class="contenido">
 <md-sidenav-container class="example-container">
  <md-sidenav  #sidenavCalendar (close)="closeSideNav()" class="panel-sidenav" [mode]="'over'">
          <div  class="tooltip botonCerrar" mdTooltip="{{'cerrar' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'before'">
  <button  top-left color="accent" md-mini-fab (click)="cerrarSideNav()"><md-icon>skip_previous</md-icon></button>
  </div>
 <calendarios-limpieza *ngIf="calendario" [maquinas]="maquinas" (newLimpiezaRealizada)="nuevaLimpiezaRealizada($event)"></calendarios-limpieza>

   <!-- <calendarios-planificaciones *ngIf="calendario"  (nuevoPlanRealizado)="nuevoPlanRealizado($event)"></calendarios-planificaciones> -->
<!-- 
   <app-familias-planificaciones *ngIf="familia"  (onFamilias)="actulizaFamilias($event)"></app-familias-planificaciones>
    -->
   <app-permisos *ngIf="permiso" [tipoControl]="'limpiezas'" [items]="elementosLimpieza"  (onPermisos)="actulizaPermisos($event)"></app-permisos>
   <div  *ngIf="permiso" style="height:35px" ></div>
    <app-supervisores *ngIf="permiso" [tipoControl]="'limpiezas'"  [items]="elementosLimpieza"  (onPermisos)="actulizaPermisos($event)"></app-supervisores> 
   <div  *ngIf="permiso" style="height:35px" ></div>
   <!-- <app-alertas *ngIf="alerta"   (onAlertas)="actulizaAlertas($event)"></app-alertas> -->
   <productos-limpieza *ngIf="productos" (onProductosReady)="setProductos($event)"></productos-limpieza>
   <div  *ngIf="productos" style="height:35px" ></div>
   <app-productos-cuadro *ngIf="productos" [items]="elementosLimpieza" [productos]="misProdusctosLimpieza"></app-productos-cuadro>
   <div  *ngIf="productos" style="height:35px" ></div>

   <app-protocolos *ngIf="protocolos" (onProtocolosReady)="setProtocolos($event)"></app-protocolos>
   <div  *ngIf="protocolos" style="height:35px" ></div>
   <app-protocolos-cuadro *ngIf="protocolos" [items]="elementosLimpieza" [protocolos]="misProtocolosLimpieza"></app-protocolos-cuadro>
   <div  *ngIf="protocolos" style="height:35px" ></div>
  </md-sidenav> 



   <!-- <calendarios-limpieza *ngIf="calendario" [maquinas]="maquinas" (newLimpiezaRealizada)="nuevaLimpiezaRealizada($event)"></calendarios-limpieza>
   <productos-limpieza *ngIf="productosLimpieza"></productos-limpieza>
    -->

  <div class="sidenav-content">
   <h2 class="center tituloLimpieza" *ngIf="limpieza && limpieza.id >0">{{limpieza.nombre}}</h2><BR>
<md-tab-group *ngIf="limpieza && limpieza.id > 0" [dynamicHeight]="false">
  <md-tab label="{{'limpieza.limpiezas' | translate}}"><span class="space"></span><elementos-limpieza id="testid" class="tabs"  [limpieza]="limpieza" (onElementosLimpieza)="setElementosLimpieza($event)" *ngIf="limpieza"></elementos-limpieza></md-tab>
<md-tab label="{{'limpieza.limpiezas_realizadas' | translate}}"><span class="space"></span><limpiezas-realizadas class="tabs" [nueva]="nuevaLimpiezaR" [limpieza]="limpieza" *ngIf="limpieza"></limpiezas-realizadas></md-tab>  
  <!--<md-tab label="{{'limpiezas.limpiezascorrectivas' | translate}}"><span class="space"></span><mantenimientos-correctivos class="tabs" [limpieza]="limpieza" *ngIf="limpieza"></mantenimientos-correctivos></md-tab>-->
</md-tab-group>
  </div>
 </md-sidenav-container>
 </div>
  </md-card>