
<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<div class="cabeceraItems">
  <form>
      <span class="tooltip" mdTooltip="{{'anterior' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'above'">    
          <button [disabled]="myItem <= 1 || limpiezaActiva == 0" md-mini-fab color="primary" (click)="seleccionaAnterior()" type="button">
                    <span class="material-icons">chevron_left</span>
                  </button>
          </span>
  
    <md-select class="cabeceraSelect" placeholder="selecciona"  #choicer  (change)="seleccionarZona($event)">
      <md-option *ngFor="let limpieza of limpiezas; let i = index" [value]="i">
        {{limpieza.nombre}}
      </md-option>
    </md-select>
  </form>
  <span class="cell tooltip" mdTooltip="{{'siguiente' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'above'">    
      <button  [disabled]="myItem>=limpiezas.length-1  || limpiezaActiva == 0" md-mini-fab color="primary" (click)="seleccionaSiguiente()" type="button">
                <span class="material-icons">chevron_right</span>
              </button>
      </span>

  <span class="cell tooltip" mdTooltip="{{'add' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'above'">          
        <button *ngIf="(empresasService.administrador || empresasService.userTipo == 'Gerente')" md-mini-fab color="primary" (click)="addItem()" type="button">
          <span class="material-icons">add</span>
        </button>
      </span>
        <span class="cell tooltip" mdTooltip="{{'modificar' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'above'">    
        <button *ngIf="(empresasService.administrador || empresasService.userTipo == 'Gerente')" md-mini-fab color="primary" (click)="modificarItem()" type="button" [disabled]="!(limpiezaActiva > 0)">
          <span class="material-icons">edit</span>
        </button>
      </span>
      <span class="tooltip" mdTooltip="{{'eliminar' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'above'">              
        <button *ngIf="(empresasService.administrador || empresasService.userTipo == 'Gerente')" md-mini-fab color="warn" (click)="eliminaZona()" type="button" [disabled]="!(limpiezaActiva > 0)">
          <span class="material-icons">delete_forever</span>
        </button>
      </span>
<!--**************** IMPOORTAR CHECKLISTS -->
        <button *ngIf="(empresasService.administrador)" md-mini-fab color="primary" (click)="importChecklists('abrir')" type="button">
            <span class="material-icons">get_app</span>
          </button> 
<!--**************** FIN IMPOORTAR CHECKLISTS -->
</div>

<!--**************** POP UP OPCIONES -->
<div class="modal" *ngIf="modificaZona || novaLimpieza">
  <div class="modal-window modificar">
  
          <h2 class="center"  *ngIf="modificaZona">{{ 'modificar' | translate }}</h2>
          <h2 class="center"  *ngIf="novaLimpieza">{{ 'limpieza.nueva'  | translate }}</h2>
          <input [placeholder]="'Nombre' | translate" type="text" required [(ngModel)]="nuevoNombre">
          <hr>
          <button md-mini-fab color="accent" [disabled]="!nuevoNombre" (click)="modificar()" *ngIf="modificaZona">
          <span class="material-icons">check</span>
        </button>
          <button md-mini-fab color="accent" [disabled]="!nuevoNombre" (click)="nuevaZona(novaLimpieza)" *ngIf="novaLimpieza">
          <span class="material-icons">add</span>
        </button>
          <button md-mini-fab color="accent" (click)="modificarItem()">
          <span class="material-icons">close</span>
        </button>
  </div>
</div>

<!--**************** POP UP IMPORT CHECK LISTS -->
<!--<div class="modal" *ngIf="import">-->
  <div class="modal-window-import" *ngIf="import">
    <app-migra-check-list (finMigracion)="importChecklists($event)"></app-migra-check-list>
  </div>
<!--</div>-->