<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<div class="modal" *ngIf="modal2">
  <div class="foto-window">
      <span class="close material-icons" (click)="cerrarFoto()">close</span>
      <div class="foto">
        <img src="{{fotoSrc}}">
      </div>
  </div>
</div>
<h2 class="center">{{"limpieza.productoslimpieza" | translate}}</h2>
<div class="table">
    <span class="tooltip row" mdTooltip="{{'limpieza.nuevoProd' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'above'">
        
    <div class="header-row">
        <span class="header-cell">{{"limpieza.nombre" | translate}}</span>
        <span class="header-cell">{{"limpieza.marca" | translate}}</span>
        <span class="header-cell" style="min-width:100px !important">{{"limpieza.desinfectante" | translate}}</span>
        <span class="header-cell">{{"limpieza.dosificacion" | translate}}</span>
        <span class="header-cell"></span>
      </div><div class="row"></div>
  
  <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="row addItem" #newItemForm="ngForm" (ngSubmit)="newItem()">
    <input type="hidden" [(ngModel)]="nuevoItem.id" name="id">
    <span class="cell">
      <input type="text" [placeholder]="'limpieza.nombre' | translate" required [(ngModel)]="nuevoItem.nombre" name="nombre">
    </span>

    <span class="cell">
      <input type="text" [placeholder]="'limpieza.marca' | translate" required [(ngModel)]="nuevoItem.marca" name="marca">
    </span>
    <span class="cell">
        <select style="min-width:60px !important" class="small" class="white-select" [(ngModel)]="nuevoItem.desinfectante" name="desinfectante">
        <option value="si">{{'si' | translate}}</option>
        <option value="no">{{'no' | translate}}</option>
      </select>
    </span>
        <span class="cell">
      <input type="text" [placeholder]="'limpieza.dosificacion' | translate" [(ngModel)]="nuevoItem.dosificacion" name="dosificacion">
    </span>

    <span class="cell">
      <button md-mini-fab color="accent" [disabled]="!newItemForm.form.valid" type="submit">
        <span class="material-icons">add</span>
      </button>
    </span>
  </form>
</span>
</div>

<div class="space"></div>
  <!-- 

  <form class=" row" #editItemForm="ngForm" (ngSubmit)="saveItem(editItemForm.value)" *ngFor="let item of items; let i = index">
    <input type="hidden" [(ngModel)]="item.id" name="id">
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" type="text" [(ngModel)]="item.nombre" name="nombre" (keyup)="itemEdited(item.id)">
    </span>
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" type="text" [(ngModel)]="item.marca" name="marca" (keyup)="itemEdited(item.id)">
    </span>
  <span class="cell">
       <select class="small" [disabled]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" class="white-select" [(ngModel)]="item.desinfectante" name="desinfectante" (change)="itemEdited(item.id)">
        <option value="si">{{'si' | translate}}</option>
        <option value="no">{{'no' | translate}}</option>
      </select>
    </span>
        <span class="cell">
      <input type="text" [placeholder]="'limpieza.dosificacion' | translate" [(ngModel)]="item.dosificacion" name="dosificacion" (keyup)="itemEdited(item.id)">
    </span>
*****  subir/ver FOTO  *********
    <span class="cell small">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" [disabled]="!item.doc" md-mini-fab color="accent" (click)="photoURL(i,'doc',item.doc)" type="button">
        <span class="material-icons">photo_camera</span>
      </button>
    </span>
    <span class="cell mini-fab">
        <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="inputlabelRound" attr.for="{{'doc'+i}}"></label>                
        <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" id="{{'doc'+i}}" class="inputfile" type="file" (change)="uploadImg($event, item.id,i,'doc')" accept=".gif,.jpg,.jpeg,.png"/>
    </span>
****** FIN ********************
*****  subir/ver Ficha  *********
    <span class="cell small">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" [disabled]="!item.ficha" md-mini-fab color="accent" (click)="photoURL(i,'ficha',item.ficha)" type="button">
        <span class="material-icons">photo_camera</span>
      </button>
    </span>
    <span class="cell mini-fab">
        <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="inputlabelRound" attr.for="{{'ficha'+i}}"></label>                
        <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" id="{{'ficha'+i}}" class="inputfile" type="file" (change)="uploadImg($event, item.id,i,'ficha')" accept=".gif,.jpg,.jpeg,.png,.pdf"/>
    </span>
****** FIN ********************
    <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" md-mini-fab color="primary" (click)="checkBorrar(item.id)" type="submit">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" md-mini-fab color="primary" [disabled]="!guardar[item.id]" type="submit">
        <span class="material-icons">check</span>
      </button>                
    </span>
  </form>

</div> -->

<div class="iframeDiv" *ngIf="verdoc" (click)="verdoc=!verdoc">
  <button md-mini-fab style="position:absolute;right:0px;top:0px"><md-icon>close</md-icon></button>
<img   class="iframe" [src]="foto">
</div>


<div>
  <p-dataTable #dt [value]="items" 
  [editable]="true"  [responsive]="false" (onEditInit)="onEdit($event)">
   
    <p-column field="nombre" header="{{'Nombre' | translate}}" [editable]="true" ></p-column>
    <p-column field="marca" header="{{'limpieza.marca' | translate}}"  [editable]="true"></p-column>
   
    <p-column field="desinfectante" header="{{'limpieza.desinfectante' | translate}}" [editable]="true" [style]="{'width':'180px'}">
       <ng-template let-col let-item="rowData" pTemplate="body">
          <span class="cell">
       <select class="small" [disabled]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" class="white-select" [(ngModel)]="item.desinfectante" name="desinfectante" (change)="itemEdited(item.id)">
        <option value="si">{{'si' | translate}}</option>
        <option value="no">{{'no' | translate}}</option>
      </select>
    </span>
       </ng-template>
    </p-column>


    <p-column field="dosificcion" header="{{'limpieza.dosificacion' | translate}}" [style]="{'width':'180px'}">
      <ng-template let-col let-item="rowData" pTemplate="body">
        <span class="cell">
      <input type="text" [placeholder]="dosificcion" [(ngModel)]="item.dosificacion" name="dosificacion" (keyup)="itemEdited(item.id)">
    </span>
      </ng-template>
    </p-column>

    <p-column field="doc" header="{{'foto' | translate}}" [style]="{'width':'130px'}">
      <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
<!--*****  subir/ver FOTO  *********-->
    <span class="cell small">
<span class="cell tooltip" mdTooltip="{{'verFoto' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'above'">      
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" [disabled]="!item.doc" md-mini-fab color="accent" (click)="photoURL(i,'doc',item.doc)" type="button">
        <span class="material-icons">photo_camera</span>
      </button>
</span>
    </span>
    <span class="cell mini-fab">
<span class="cell tooltip" mdTooltip="{{'subirArchivo' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'above'">      
        <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="inputlabelRound" attr.for="{{'doc'+i}}"></label>                
        <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" id="{{'doc'+i}}" class="inputfile" type="file" (change)="uploadImg($event, item.id,i,'doc')" accept=".gif,.jpg,.jpeg,.png"/>
</span>
      </span>
      </ng-template>
    </p-column>
    <p-column field="ficha" header="{{'limpieza.ficha' | translate}}" [style]="{'width':'130px'}">
      <ng-template let-col let-item="rowData" let-i="rowIndex"  pTemplate="body">
<!-- *****  subir/ver Ficha  ********* -->
    <span class="cell small">
<span class="cell tooltip" mdTooltip="{{'verFoto' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'above'">      
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" [disabled]="!item.ficha" md-mini-fab color="accent" (click)="photoURL(i,'ficha',item.ficha)" type="button">
        <span class="material-icons">photo_camera</span>
      </button>
</span>
    </span>
    <span class="cell mini-fab">
<span class="cell tooltip" mdTooltip="{{'subirArchivo' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'above'">            
        <label *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" class="inputlabelRound" attr.for="{{'ficha'+i}}"></label>                
        <input *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'" id="{{'ficha'+i}}" class="inputfile" type="file" (change)="uploadImg($event, item.id,i,'ficha')" accept=".gif,.jpg,.jpeg,.png,.pdf"/>
</span>
      </span>
<!--****** FIN ********************-->
      </ng-template>
    </p-column>



    <p-column header="{{'acciones' | translate}}">
      <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
          <span class="cell tooltip" mdTooltip="{{'eliminar' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'left'">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" md-mini-fab color="primary" (click)="checkBorrar(item.id)" type="button">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell tooltip" mdTooltip="{{'guardar' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'right'">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" md-mini-fab color="primary" [disabled]="!guardar[item.id]" (click)="saveItem(item,i)" type="button">
        <span class="material-icons">check</span>
      </button>
    </span>
      </ng-template>   
    </p-column>





    <!-- <p-column field="orden" header="orden" [sortable]="true"></p-column>     -->
    <!-- <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer> -->
</p-dataTable>
