      <button md-raised-button color="accent"  type="button" (click)="setProductos('close')">{{'limpieza.productos' | translate}}</button>

      <div class="selproducts" *ngIf="viewProducts">
          <md-list *ngFor="let producto of productos;let i = index">
                <md-list-item [ngClass]="{'yellow': misproductos.indexOf(producto)!=-1,'grey': misproductos.indexOf(producto)<0, 'itemproducto':true, 'round':true}" (click)="addProducto(producto)" >{{producto}}</md-list-item>
        </md-list>
      <span class="cell">
      <button md-mini-fab color="primary" (click)="setProductos('close')" type="button">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell">
      <button md-mini-fab color="primary" (click)="setProductos('save')" type="button">
        <span class="material-icons">check</span>
      </button>                
    </span>
      </div>