      <button mat-raised-button color="accent"  type="button" (click)="setProductos('save')">{{'limpieza.productos' | translate}}</button>

      <div class="selproducts" *ngIf="viewProducts">
          <mat-list *ngFor="let producto of productos;let i = index">
                <mat-list-item [ngClass]="{'yellow': producto.estado != -1,'grey': producto.estado <0, 'itemproducto':true, 'round':true}" (click)="cambiaEstadoProducto(producto)" >{{producto.nombre}}</mat-list-item>
        </mat-list>
    <span class="cell">
      <button mat-mini-fab color="primary" (click)="setProductos('save')" type="button">
        <span class="material-icons">check</span>
      </button>                
    </span>
      </div>