<!-- <div class="modal" *ngIf="ayuda">
  <span [ngStyle]="setStyles()" ><-Crear incidencia nueva</span>
</div> -->

<mat-card>
    <mat-card-title>
      <mat-toolbar color="accent" class="toolbar-principal">{{'menu.incidencias' | translate}}
        <!-- <app-boton-incidencia style="margin-left:30px;" (nuevaIncidenciaCreada)="nuevaIncidenciaCreada($event)"></app-boton-incidencia> -->
      </mat-toolbar>
    </mat-card-title>
 <mat-card-subtitle>




  <div class="botonera" >
    
     <div  class="tooltip" matTooltip="{{'incidencia.calendario' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">
      <button class="opcionBoton" [ngClass]="{'selected': subMenu == 'calendario'}" color="accent" mat-mini-fab (click)="cambioMenu('calendario')"><mat-icon>date_range</mat-icon></button> 
      </div>

      <app-boton-incidencia id="botonIncidencia" class="opcionBoton" (nuevaIncidenciaCreada)="nuevaIncidenciaCreada($event)"></app-boton-incidencia>
<!-- 
   <div class="tooltip" matTooltip="{{'planificaciones.permisos' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">
  <button class="opcionBoton" [ngClass]="{'selected': subMenu == 'permiso'}" color="accent" mat-mini-fab (click)="cambioMenu('permiso')"><mat-icon>vpn_key</mat-icon></button>
  </div>

     <div class="tooltip" matTooltip="{{'limpieza.productos' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">
  <button class="opcionBoton" [ngClass]="{'selected': subMenu == 'productos'}" color="accent" mat-mini-fab (click)="cambioMenu('productos')"><mat-icon>widgets</mat-icon></button>
  </div>
  <div class="tooltip" matTooltip="{{'limpieza.protocolos' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'after'">
      <button class="opcionBoton" [ngClass]="{'selected': subMenu == 'protocolos'}" color="accent" mat-mini-fab (click)="cambioMenu('protocolos')"><mat-icon>description</mat-icon></button>
      </div>-->
   </div> 
 </mat-card-subtitle>




 <div class="contenido">
 <mat-sidenav-container class="example-container">
  <mat-sidenav  #sidenavCalendar (closed)="closeSideNav()" class="panel-sidenav" [mode]="'over'">
          <div  class="tooltip botonCerrar" matTooltip="{{'cerrar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">
  <button  top-left color="accent" mat-mini-fab (click)="cerrarSideNav()"><mat-icon>skip_previous</mat-icon></button>
  </div>
 <app-calendarios-incidencias *ngIf="calendario" [incidencias]="incidencias" (incidenciaActualizada)="actualizarIncidenciaFromCalendar($event)"></app-calendarios-incidencias>

<!-- 
   <app-permisos *ngIf="permiso" [tipoControl]="'limpiezas'" [items]="elementosLimpieza"  (onPermisos)="actulizaPermisos($event)"></app-permisos>
   <div  *ngIf="permiso" style="height:35px" ></div>
    <app-supervisores *ngIf="permiso" [tipoControl]="'limpiezas'"  [items]="elementosLimpieza"  (onPermisos)="actulizaPermisos($event)"></app-supervisores> 
   <div  *ngIf="permiso" style="height:35px" ></div>
   <productos-limpieza *ngIf="productos" (onProductosReady)="setProductos($event)"></productos-limpieza>
   <div  *ngIf="productos" style="height:35px" ></div>
   <app-productos-cuadro *ngIf="productos" [items]="elementosLimpieza" [productos]="misProdusctosLimpieza"></app-productos-cuadro>
   <div  *ngIf="productos" style="height:35px" ></div>

   <app-protocolos *ngIf="protocolos" (onProtocolosReady)="setProtocolos($event)"></app-protocolos>
   <div  *ngIf="protocolos" style="height:35px" ></div>
   <app-protocolos-cuadro *ngIf="protocolos" [items]="elementosLimpieza" [protocolos]="misProtocolosLimpieza"></app-protocolos-cuadro>
   <div  *ngIf="protocolos" style="height:35px" ></div> -->
  </mat-sidenav> 


  <div class="sidenav-content">
   <!-- <h2 class="center tituloLimpieza" *ngIf="limpieza && limpieza.id >0">{{limpieza.nombre}}</h2><BR> -->
<mat-tab-group [dynamicHeight]="false">
  <mat-tab label="{{'incidencia.listadoincidencia' | translate}}"><span class="space"></span><app-tabla-incidencias id="testid" class="tabs" (incidenciasCargargadas)="cargaIncidencias($event)" [nuevaIncidenciaFromIncidencias]="nuevaIncidenciaFromIncidencias" [IncidenciaModificadaFromCalendar]="IncidenciaModificada"></app-tabla-incidencias></mat-tab>

<!-- <mat-tab label="{{'limpieza.limpiezas_realizadas' | translate}}"><span class="space"></span><limpiezas-realizadas class="tabs" [nueva]="nuevaLimpiezaR" [limpieza]="limpieza" *ngIf="limpieza"></limpiezas-realizadas></mat-tab>   -->
</mat-tab-group>
  </div>
 </mat-sidenav-container>
 </div>
  </mat-card>


