.options{
    /* float: right; */
}
.option{
    /* margin-left:40%; */
}
.cabecera{
    height: 95px;
    font-size: 12px;
}
.cabTitle:hover{
    overflow: visible;
    max-width: fit-content;
}
.cabTitleTH:hover{
    overflow: visible;
    width:52px !important;
}
.usuario{
    height: 15px;
    padding-top: 40px;
    text-align: center;
}
.border-right{
    border-right:lightgray solid 1px;
}
.padleft{
    padding-left: 0px !important;
}
.widthUsuario{
    width:100px;
}
.widthNoUsuario{
    width:37px;
    padding-left: 3px !important;
}

.grupos{
    width:20%;
    float:left;
    display: block;
    margin-top:90px;
    border: 1 solid yellow;
    border-radius: 5%;
}

.permisos{
    width:calc(80% - 35px);
    float:left;
    display: block;
    margin-top:90px;
    margin-left:30px;
    border: 1 solid yellow;
    border-radius: 5%;
}