<p>
  zoho works!
</p>

<div *ngIf="!hayPermiso">
  <button type="button" mat-raised-button (click)="zohoAuth(1)">{{'zoho1' | translate}}</button>
  <button type="button" mat-raised-button (click)="zohoAuth(2)">{{'zoho2' | translate}}</button>
  <button type="button" mat-raised-button (click)="zohoAuth(3)">{{'zoho3' | translate}}</button>
  <button type="button" mat-raised-button (click)="zohoAuth(4)">{{'zoho4' | translate}}</button>
</div>
<!-- <button type="button" mat-raised-button (click)="zohoAuthgetToken('')">{{'zoho Token' | translate}}</button> -->
<button type="button" mat-raised-button (click)="testZoho()">{{'zoho Test' | translate}}</button>
