<div class="table">
<div class="header-row">
    <span class="header-cell">Opción</span>
    <span class="header-cell">Estado</span>
  </div>
        <form class="row" *ngFor="let opcion of opciones"
        #actualizarCCLf="ngForm" (ngSubmit)="actualizarOpcion(opcion.id)">
          <span class="cell">
         {{opcion.nombre}}
        </span>
        <span class="cell">
         <md-checkbox [disabled]="!empresasService.administrador"  [checked]="opcionesempresa[opcion.id]" (change)="actualizarOpcion(opcion.id)">
        </md-checkbox>
        </span>
        </form>

</div>