  <!--<alertas></alertas>-->
  <menu (selectedMenu)="setMenu($event)"></menu>
  <!--<div #scrollMe style="overflow: scroll; height: xyz;" style="width:95%">-->





    <!--</div>-->
    <div class="empresas" *ngIf="permiso">
      <seleccionar-empresa *ngIf="empresasService.administrador && selectedMenu=='empresas'"></seleccionar-empresa>
      <nueva-empresa *ngIf="empresasService.administrador && selectedMenu=='empresas'"></nueva-empresa>
    
      <gestion-tablas *ngIf="selectedMenu=='settings'"></gestion-tablas>
      <gestion-informes *ngIf="selectedMenu=='informes'"></gestion-informes>
      <maquinaria class="full-width" *ngIf="selectedMenu=='maquinaria'"></maquinaria>
      <limpieza class="full-width" *ngIf="selectedMenu=='limpieza'"></limpieza>
      <proveedores class="full-width" *ngIf="selectedMenu=='proveedores'"></proveedores>
      <!--<fichas-personal *ngIf="selectedMenu=='personal'"></fichas-personal>-->
    </div>
    <!--</div>-->