<!-- Modal foto -->
<div class="modal" *ngIf="modal">
  <div class="foto-window">
      <span class="close material-icons" (click)="cerrarFoto()">close</span>
      <div class="foto">
        <img src="{{fotoSrc}}">
      </div>
  </div>
</div>


<div class="checklist">
  
  <form>
    <select #listaChecklist (change)="cambioChecklist($event.target.value)">
      <option *ngFor="let checklist of checklists" [value]="checklist.id">
        {{checklist.nombrechecklist}}
      </option>
    </select>
  </form>
</div>


<div class="fechas">
  <form #filtrarFechasForm="ngForm" (ngSubmit)="filtrarFechas(filtrarFechasForm.value)">
   <!--<ng2-datepicker  type="date" name="inicio" [(ngModel)]="fecha['inicio']" (click)="scroll()"></ng2-datepicker>
   <ng2-datepicker  type="date" name="fin" [(ngModel)]="fecha['fin']" (click)="scroll()"></ng2-datepicker>-->
    <div class="filtro-dates">
    <div  class="filtro">
    <p-calendar name="inicio" [(ngModel)]="fecha['inicio']" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <div class="filtro">
    <p-calendar name="fin" [(ngModel)]="fecha['fin']" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
    </div>
    </div>
    <button mat-mini-fab color="primary" [disabled]="!filtrarFechasForm.form.valid" type="submit">
      <span class="material-icons">check</span>
    </button>
    <!-- <button mat-mini-fab color="primary" [disabled]="!filtrarFechasForm.form.valid" *ngIf="permisos.exportar" (click)="excel(filtrarFechasForm.value)">
      <span class="material-icons">cloud_download</span>
    </button>    
                  -->
  <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="{{'Download' | translate}}" (click)="excel(filtrarFechasForm.value)"  style="margin-left:10px;float:right"></button>

  </form>

</div>

<div class="table">
  <div class="header-row">
    <span class="header-cell">{{'Fecha' | translate}}</span>
    <span class="header-cell center">{{'Imagen' | translate}}</span>
    <span class="header-cell right" *ngFor="let columna of columnas">{{columna.nombre}}</span>
  </div>
  <div class="row" [ngClass]="{'yellow':selectedId==resultado['id'] && selectedItem!=undefined}" *ngFor="let resultado of tabla; let fila = index" [ngClass]="{'rowImpar':fila%2==0,'rowPar':fila%2!=0}">
    <!--<span class="cell">{{resultado.fecha | date: "dd/MM/yyyy - HH:mm"}}</span>-->
    <span class="cell">
      <span id="user-link" class="material-icons">perm_identity</span> {{resultado.usuario}} 
      <div id="usuario"><span>{{resultado.usuario}}</span></div>
      {{resultado.fecha}}
      </span>
    <span class="cell center" *ngIf="resultado.foto">
      <span class="foto-link material-icons" (click)="ventanaFoto(resultado.id,'checklist')">photo_camera</span>
    </span>
    <span class="cell center" *ngIf="!resultado.foto">
      <span class="material-icons">do_not_disturb_alt</span>
    </span>
    <span [ngClass]="{'yellow':selectedItem==resultado[columna.idrc] && selectedItem!=undefined}" class="cell right" *ngFor="let columna of columnas; let i = index">
      <span class="foto-link material-icons" *ngIf="resultado[columna.fotocontrol]" (click)="ventanaFoto(resultado[columna.fotocontrol],'checklistcontrol')">photo_camera</span>
      <span class="descrip-link material-icons" *ngIf="resultado[columna.id2]">comments</span>

      <div class="descripcion"><span *ngIf="resultado[columna.id2]">{{resultado[columna.id2]}}</span></div>
      <!-- {{resultado[columna.idrc]}} -->
      <span id="{{fila}}-{{i}}" class="material-icons green" *ngIf="resultado[columna.id]=='true'">check</span>
      <span id="{{fila}}-{{i}}" class="material-icons red" *ngIf="resultado[columna.id]=='false'">close</span>
      <span id="{{fila}}-{{i}}" class="" *ngIf="resultado[columna.id]=='na'">n.a.</span>
      <span id="{{fila}}-{{i}}" *ngIf="resultado[columna.id]!='false' && resultado[columna.id]!='true' && resultado[columna.id]!='na'">{{resultado[columna.id]}}</span>
    </span>
  </div>


</div>

<div class="modal" *ngIf="exportando">
    <app-download-informe [informeData]="informeData" (informeRecibido)="informeRecibido($event)"></app-download-informe>
</div>
