<!-- <form>
  <select #choicer (change)="selecciona($event.target.value)">
    <option *ngFor="let empresa of empresas" [value]="empresa.id">
      {{empresa.nombre}}
    </option>
  </select>
</form> -->

 <!-- (onMoveAllToSource)="setNoActiva('todos')" (onMoveAllToTarget)="setActiva('todos')" -->

<p-pickList [source]="empresas" [target]="empresasNoActivas" sourceHeader="Activas {{empresas.length}}" targetHeader="No Activas {{empresasNoActivas.length}}" [responsive]="true"
        dragdrop="true" dragdropScope="empresas" sourceFilterPlaceholder="Busca" targetFilterPlaceholder="Busca" 
        [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}" filterBy="nombre"
        [showSourceControls]="false" [showTargetControls]="false"
        (onSourceSelect)="selecciona($event)" (onTargetSelect)="selecciona($event)"      
        (onMoveToTarget)="setNoActiva($event)"  (onMoveToSource)="setActiva($event)">
    <ng-template let-empresa pTemplate="item">
        <div class="ui-helper-clearfix">
            <!-- <div *ngIf="empresa.logo!=0"><img  src="https://tfc.proacciona.es/logos/{{empresa.id}}/logo.jpg" style="display:inline-block;margin:2px 0 2px 2px" width="48"></div> -->
            <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{empresa.nombre}}</div>
        </div>
    </ng-template>
</p-pickList>