  <div class="panel">
        <!--<button (click)="setSeleccion('home')" class="opcion" md-mini-fab color="accent" >
        <span class="material-icons">home</span>
      </button>-->
        <button [disabled]="!empresasService.administrador" (click)="setSeleccion('empresas')" class="opcion" md-mini-fab color="accent" >
        <span class="material-icons">business</span>
      </button>
        <button [disabled]="!empresasService.empresaActiva || empresasService.userTipo =='Mantenimiento' || !permisos.proveedores" (click)="setSeleccion('proveedores')" class="opcion" md-mini-fab color="accent" >
        <span  class="material-icons">work</span>
      </button>  
        <button [disabled]="!empresasService.empresaActiva || empresasService.userTipo =='Mantenimiento' || !permisos.clientes" (click)="setSeleccion('clientes')" class="opcion" md-mini-fab color="accent" >
        <span  class="material-icons">store</span>
      </button>   
        <button  [disabled]="!empresasService.empresaActiva || empresasService.userTipo =='Mantenimiento' || !permisos.produccion" (click)="setSeleccion('produccion')" class="opcion" md-mini-fab color="accent" >
        <span class="material-icons">developer_board</span>
      </button>   
        <button  [disabled]="!empresasService.empresaActiva || empresasService.userTipo =='Mantenimiento'" (click)="setSeleccion('settings')" class="opcion" md-mini-fab color="accent" >
        <span  class="material-icons">settings</span>
      </button>
        <button  [disabled]="!empresasService.empresaActiva || empresasService.userTipo =='Mantenimiento'" (click)="setSeleccion('informes')" class="opcion" md-mini-fab color="accent" >
        <span  class="material-icons">show_chart</span>
      </button>
        <button  [disabled]="!empresasService.empresaActiva || !permisos.fichas_maquinaria" (click)="setSeleccion('maquinaria')" class="opcion" md-mini-fab color="accent" >
        <span class="material-icons">build</span>
      </button>
        <button  [disabled]="!empresasService.empresaActiva || empresasService.userTipo =='Mantenimiento' || !permisos.limpieza" (click)="setSeleccion('limpieza')" class="opcion" md-mini-fab color="accent" >
 
        <span class="material-icons">brush</span>
 
      </button>
        <button  [disabled]="!empresasService.empresaActiva || !permisos.personal || empresasService.userTipo =='Mantenimiento'" (click)="setSeleccion('personal')" class="opcion" md-mini-fab color="accent" >
        <span class="material-icons">supervisor_account</span>
      </button>
  </div>