  <div class="panel">

      <div *ngIf="empresasService.administrador" class="tooltip" matTooltip="{{'menu.empresas' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">
        <button [ngClass]="{'selected': subMenu == 'empresas'}" [disabled]="!empresasService.administrador" (click)="setSeleccion('empresas')" class="opcion" mat-mini-fab color="accent" >
        <span class="material-icons">business</span>
      </button>
      </div>
      <!-- <div class="tooltip" matTooltip="{{'menu.dashboard' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">
          <button [ngClass]="{'selected': subMenu == 'dashboard'}" [disabled]="!empresasService.empresaActiva" (click)="setSeleccion('dashboard')" class="opcion" mat-mini-fab color="accent" >
          <span class="material-icons">slow_motion_video</span>
        </button>
        </div> -->
      <div class="tooltip" matTooltip="{{'menu.config' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">      
        <button [ngClass]="{'selected': subMenu == 'settings'}" [disabled]="!empresasService.empresaActiva || empresasService.userTipo =='Mantenimiento'" (click)="setSeleccion('settings')" class="opcion" mat-mini-fab color="accent" >
        <span  class="material-icons">settings</span>
      </button>
      </div>

      <div class="tooltip" matTooltip="{{'menu.informes' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">
        <button [ngClass]="{'selected': subMenu == 'informes'}" [disabled]="!empresasService.empresaActiva || empresasService.userTipo =='Mantenimiento'" (click)="setSeleccion('informes')" class="opcion" mat-mini-fab color="accent" >
        <span  class="material-icons">show_chart</span>
      </button>
      </div>
      <div *ngFor="let opcion of menu" class="tooltip" matTooltip="{{'menu.'+opcion.nombre | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">
          <button [ngClass]="{'selected': subMenu == opcion.nombre}" [disabled]="!empresasService.empresaActiva || !opcion.activo" (click)="setSeleccion(opcion.selector)" class="opcion" mat-mini-fab color="accent" >
          <span class="material-icons">{{opcion.icono}}</span>
        </button>
        </div>

      <!-- <div class="tooltip" matTooltip="{{'menu.incidencias' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">
          <button [ngClass]="{'selected': subMenu == 'incidencias'}"  [disabled]="!empresasService.empresaActiva" (click)="setSeleccion('incidencias')" class="opcion" mat-mini-fab color="accent" >
          <span class="material-icons">error</span>
        </button>
        </div>  -->





     <!--  <div class="tooltip" matTooltip="{{'menu.personal' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">
        <button [ngClass]="{'selected': subMenu == 'personal'}"  [disabled]="!empresasService.empresaActiva || !permisos.personal || empresasService.userTipo =='Mantenimiento'" (click)="setSeleccion('personal')" class="opcion" mat-mini-fab color="accent" >
        <span class="material-icons">supervisor_account</span>
      </button>
      </div> -->
      <!-- <div class="tooltip" matTooltip="{{'menu.soporte' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">
        <button [ngClass]="{'selected': subMenu == 'incidencias'}"  [disabled]="!empresasService.empresaActiva" (click)="setSeleccion('incidencias')" class="opcion" mat-mini-fab color="accent" >
        <span class="material-icons">report</span>
      </button>
      </div>  -->
  </div>