<nav>
  <div class="logo">
    <img src="./assets/images/logo.jpg" alt="Logo">
  </div>
  
  <div class="logo-empresa">
  <div class="userlogged" *ngIf="empresasService.userId"> 
  <div class="tooltip" mdTooltip="{{'menu.login' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'before'">    
    <button class="profile" md-mini-fab color="accent" (click)="closeSession()">
        <span class="material-icons">account_circle</span>
  </button>
  </div>
  </div>
  <!--<md-menu positionX="after" positionY="below" #menu="mdMenu">
  <button md-menu-item (click)="closeSession()">
    <md-icon>account_circle</md-icon>
    <span>Cerrar Session</span>
  </button>
</md-menu>-->
    <img [src]="logoEmpresa" alt="Logo empresa" (error)="logoEmpresa='./assets/images/pixel.png'" *ngIf="logoEmpresa">
  </div>

</nav>
<p-growl *ngIf="empresasService.showAlerts" [life]="5000" [style]="{'position':'fixed','top':'0px','right':'400px','Z-Index':'99999'}" (onHover)="showAlertOptions()"></p-growl>
<div *ngIf="alertOptions"  style="position:fixed;top:0px;right:770px;height:60px;background-color:#ffd740;width: 120px;padding-top: 7px;padding-left: 7px;Z-Index:99999">
    <md-checkbox [(ngModel)]="empresasService.noTooltips" (change)="alertOptionsChanged()">{{'alertas.noTooltips' | translate}}</md-checkbox>
</div>