<nav>
  <div class="logo">
    <a routerLink="/empresas"><img src="./assets/images/logo.jpg" alt="Logo"></a>
  </div>
  
  <div class="logo-empresa">
  <div class="userlogged" *ngIf="empresasService.userId"> 
  <div class="tooltip" matTooltip="{{'menu.login' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'before'">    
    <button class="profile" mat-mini-fab color="accent" (click)="closeSession()">
        <span class="material-icons">account_circle</span>
  </button>
  </div>
  </div>
  <!--<md-menu positionX="after" positionY="below" #menu="mdMenu">
  <button md-menu-item (click)="closeSession()">
    <mat-icon>account_circle</mat-icon>
    <span>Cerrar Session</span>
  </button>
</md-menu>-->

    <img [src]="logoEmpresa" alt="Logo empresa" (error)="logoEmpresa='./assets/images/pixel.png'" *ngIf="logoEmpresa">
    <span class="cabeceraNavEmpresa" *ngIf="empresasService.administrador && empresasService.seleccionada">{{empresasService.nombreEmpresa}} </span>
    <span class="cabeceraNavEmpresa" *ngIf="empresasService.seleccionada">codigo: 24{{empresasService.seleccionada}}53</span>
  </div>

</nav>
<p-growl *ngIf="empresasService.showAlerts" [life]="5000" [style]="{'position':'fixed','top':'0px','right':'400px','Z-Index':'99999'}" (onHover)="showAlertOptions()"></p-growl>
<div *ngIf="alertOptions"  style="position:fixed;top:0px;right:770px;height:60px;background-color:#ffd740;width: 120px;padding-top: 7px;padding-left: 7px;Z-Index:99999">
    <mat-checkbox [(ngModel)]="empresasService.showAlerts" (change)="alertOptionsChanged()">{{'alertas.showAlerts' | translate}}</mat-checkbox>
</div>