<mat-card>
  <mat-card-title>
    <mat-toolbar color="accent">{{'Nueva' | translate}} empresa</mat-toolbar>
  </mat-card-title>
  <form #nuevaEmpresaForm="ngForm" (ngSubmit)="nuevaEmpresa(nuevaEmpresaForm.value)">
    <mat-card-content>
      <mat-form-field  >
      <input matInput class="cabeceraSelect full-width" [placeholder]="'Nombre' | translate" type="text" required [(ngModel)]="empresa.nombre" name="nombre">
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
      <button mat-raised-button color="accent" [disabled]="!nuevaEmpresaForm.form.valid" type="submit">Crear</button>
    </mat-card-footer>
  </form>
</mat-card>
