<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<mat-card>
  <mat-card-title>
    <mat-toolbar color="accent">
      Empresa
      <span class="id-empresa" *ngIf="empresasService.seleccionada != 0">
        24{{empresasService.seleccionada}}53
      </span>
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content>
    <!-- <div style="width: 44%;float: left;margin-right: 10px;" >Activas -->
      <listado-empresas (empresaseleccionada)="selecciona($event)"></listado-empresas>
    <!-- </div> -->
    <!-- <div style="width: 44%;float: left;margin-right: 10px;">No activas 
      <listado-empresas (empresaseleccionada)="selecciona($event)"></listado-empresas>
    </div> -->
    <button mat-button color="warn" (click)="checkBorrar()" type="submit">Eliminar</button>
    <!--<button mat-button color="primary" (click)="premium()">Premium</button>-->
      <label class="inputlabel full-width" for="logo">{{'le' | translate}}</label>
      <input id="logo" class="inputfile" type="file" (change)="uploadLogo($event)"/>
      <!--<opciones-premium class="tab" [class.active]="Premium"></opciones-premium>-->
  </mat-card-content>
</mat-card>
