<!-- <modal [modal]="modal" (onCerrar)="cerrarModal()"></modal> -->

    <div class="homeimg">
      <img  [src]="gallery" (error)="logoEmpresa='./assets/images/pixel.png'">
      <div class="presentacion">{{'bienvenido' | translate}}</div>
      <!--<div>
        <informe-periodicidad></informe-periodicidad>
      </div>-->
      <div class="introduccion"><div class="intro">
        <mat-card>
          <mat-card-title>
            TFC BACKOFFICE
          </mat-card-title>
          <mat-list>
          <mat-list-item><span  class="material-icons">restaurant</span>{{'tfc1' | translate}}</mat-list-item>
          <mat-list-item><span  class="material-icons">smartphone</span>{{'tfc2' | translate}}</mat-list-item>
          <mat-list-item><span  class="material-icons">settings</span>{{'settings' | translate}}</mat-list-item>
          <mat-list-item><span  class="material-icons">show_chart</span>{{'informes' | translate}}</mat-list-item>
          <mat-list-item><span class="material-icons">settings_applications</span>{{"maquinaria" | translate}}</mat-list-item>
          <mat-list-item><span class="material-icons">supervisor_account</span>{{"personal" | translate}}</mat-list-item>
         <mat-list-item><span  class="material-icons">trending_up</span>{{"tfc3" | translate}}</mat-list-item>
         <mat-list-item><span  class="material-icons">settings_remote</span>{{"tfc5" | translate}}</mat-list-item>
         <mat-list-item><span  class="material-icons">call_merge</span>{{"tfc6" | translate}}</mat-list-item>
          </mat-list>
        </mat-card>
        </div>
        <div class="qr"><mat-card><mat-card-title>
            TFC MOBILE/TABLET
          </mat-card-title>
          <mat-list>
          <mat-list-item><span  class="material-icons">smartphone</span> {{"tfcm1" | translate}}</mat-list-item>
          <mat-list-item><span  class="material-icons">add_a_photo</span> {{"tfcm2" | translate}}</mat-list-item>
          <mat-list-item><span  class="material-icons">vpn_key</span> {{"tfcm3" | translate}}</mat-list-item>
          <mat-list-item><span  class="material-icons">supervisor_account</span> {{"tfcm4" | translate}}</mat-list-item>
         <mat-list-item><span  class="material-icons">delete_forever</span>{{"tfcm5" | translate}}</mat-list-item>
          </mat-list>
          <img src="./assets/images/qr_tfc_android.jpg" width="200px"></mat-card>
          </div>
      </div>

      </div>

<app-login></app-login>



