
 <modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
 <div class="modal" *ngIf="procesando">
<mat-spinner></mat-spinner>
</div>
<span class="cell tooltip" matTooltip="{{'planificaciones.nueva' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'above'">
<div class="table planes">
    <div class="header-row">
        <span class="header-cell">{{"planificaciones.nombre" | translate}}</span>
        <span class="medium header-cell">{{"planificaciones.descripcion" | translate}}</span>
        <span class="header-cell">{{"planificaciones.fecha" | translate}}</span>
        <span class="header-cell" style="padding-right: 10px">{{"planificaciones.periodicidad" | translate}}</span>
         <span class="medium header-cell">{{"planificaciones.responsable" | translate}}</span>
         <span class="header-cell medium" style="min-width:100px;padding-right: 5px">{{"cantidad" | translate}}</span>         
         <span class="medium header-cell">{{"add" | translate}}</span>
      </div>
  <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" class="row addItem" #newItemForm="ngForm" (ngSubmit)="newItem()">
    <input type="hidden" [(ngModel)]="plan.id" name="id">
    <span class="cell">
      <input type="text" [placeholder]="'planificaciones.nombre' | translate" required [(ngModel)]="plan.nombre" name="nombre">
    </span>
    <span class="cell">
      <input type="text" [placeholder]="'planificaciones.descripcion' | translate" required [(ngModel)]="plan.descripcion" name="descripcion">
    </span>

    <span class="medium cell">
      <p-calendar [inputStyle]="{'width':'100px'}" placeholder="fecha" [(ngModel)]="plan.fecha" [locale]="es" dateFormat="dd/mm/yy"  name="fecha"></p-calendar>
    </span>

    <span class="cell center">
       <input type="hidden" [(ngModel)]="plan.periodicidad" name="periodicidad" required>
      <periodicidad (periodo)="setPeriodicidad($event)" [miperiodo]="false" [fechaPrevista]="plan.fecha" [origen]="tipo"></periodicidad>
    </span>
      <span class="cell small">
      <input type="text" [placeholder]="'planificaciones.responsable' | translate" required [(ngModel)]="plan.responsable" name="responsable">
    </span>
    <span class="cell tooltip" matTooltip="{{'numero' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'above'">
        <span class="cell">num.
          <select class="smallselect" required [(ngModel)]="cantidad" [ngModelOptions]="{standalone: true}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          </span>
        </span>
    <span class="cell tooltip" matTooltip="{{'add' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'above'">
      <button mat-mini-fab color="accent" [disabled]="!newItemForm.form.valid" type="submit">
        <span class="material-icons">add</span>
      </button>
    </span>
  </form>
  <div style="height: 15px" ></div>
</div>
</span>
<!--
  <div class="header-row">
    <span class="header-cell">{{"planificaciones.nombre" | translate}}</span>
    <span class="medium header-cell">{{"planificaciones.descripcion" | translate}}</span>
    <span class="header-cell">{{"planificaciones.fecha" | translate}}</span>
    <span class="header-cell">{{"planificaciones.periodicidad" | translate}}</span>
     <span class="medium header-cell">{{"planificaciones.responsable" | translate}}</span>
    <span class="header-cell"></span>
    <span class="header-cell"></span>
  </div>

<div class="divrow"  *ngFor="let item of planes; let i = index">
  <form class=" row"  #editItemForm="ngForm" (ngSubmit)="saveItem(editItemForm.value,i)">
    <input type="hidden" [(ngModel)]="item.id" name="id">
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" type="text" [(ngModel)]="item.nombre" name="nombre" (keyup)="itemEdited(item.id)">
    </span>
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" type="text" [(ngModel)]="item.descripcion" name="descripcion" (keyup)="itemEdited(item.id)">
    </span>

    <span class="medium cell">
      <p-calendar [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item.fecha"  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha)" name="fecha"></p-calendar>
    </span>
    <span class="cell">
      <periodicidad (periodo)="setPeriodicidad($event, item.id, i)" [miperiodo]="item.periodicidad" [fechaPrevista]="item.fecha" [origen]="tipo" name="periodicidad"></periodicidad>
    </span>
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" type="text" [(ngModel)]="item.responsable" name="responsable" (keyup)="itemEdited(item.id)">
    </span>

    <span class="cell tooltip" matTooltip="{{'eliminar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" (click)="checkBorrar(item.id)" type="submit">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'right'">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" [disabled]="!guardar[item.id]" type="submit">
        <span class="material-icons">check</span>
      </button>
    </span>

  </form>
</div>
 </div>  -->
 <!-- <div style="position:absolute; left:0px; top:140px; min-width: 900px"> -->
    
 <p-dataTable #dt [value]="planes"   [editable]="true"  [responsive]="true" (onEditInit)="onEdit($event)" 
 sortField="orden" [sortOrder]="1"
 [csvSeparator]="';'" [exportFilename]="'Elementos_limpieza'" [style]="{'width':'936px'}">
 <p-header>
     <div class="ui-helper-clearfix">
         <span class="cell tooltip" matTooltip="{{'exportar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">              
         <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="exportData(dt)" style="float:left"></button>
         </span>
         <span class="cell tooltip" matTooltip="{{'guardarOrden' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">              
            <button type="button" pButton icon="fa-floppy-o" iconPos="left" label="{{'guardarTodo'|translate}}" (click)="ordenar()"  style="float:left"></button>
            </span>
       </div>
 </p-header>
    <!-- <p-header>{{'planificaciones.planificaciones_progrmadas' | translate}}</p-header> -->
    <!-- <p-column field="orden" header="orden" [sortable]="true" [editable]="false" >
      <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">    
       <div class="drop" [ngClass]="{'ui-state-highlight':ordenPosInicio}" dropEffect="move" pDroppable="dd" (onDrop)="drop(i,dt,$event)">
      <div class="drag" dragEffect="move" pDraggable="dd" (onDragStart)="dragStart(i)" (onDragEnd)="dragEnd()" (mouseUp)="mouseUo()">{{item.orden}}</div>        
        </div> 
      </ng-template>
    </p-column> -->
     <p-column field="orden" header="orden" [sortable]="true" [editable]="false" >
      <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="header">    
      <mat-icon>import_export</mat-icon>
      </ng-template>
      <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">    
       <div class="up" (click)="goUp(i,$event,dt)"><mat-icon>arrow_drop_up</mat-icon></div>
      <div class="down" (click)="goDown(i,$event,dt)"><mat-icon>arrow_drop_down</mat-icon></div>
      <!-- <div class="orden" >{{item.orden}}</div>         -->
      <div class="orden" >
          <p-spinner size="5" [(ngModel)]="item.orden" [min]="1" [max]="planes.length" (onChange)="editOrden()"></p-spinner> 
      </div>  

      </ng-template>
    </p-column>   
    <p-column field="nombre" header="{{'Nombre' | translate}}" [editable]="true" ></p-column>
    <p-column field="descripcion" header="{{'descripcion' | translate}}"  [editable]="true"></p-column>
    <p-column field="fecha" header="{{'fecha' | translate}}" >
      <ng-template let-col let-item="rowData" pTemplate="body">      
      <p-calendar  appendTo="body" [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item.fecha"  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha)" name="fecha"></p-calendar>
      </ng-template>
    </p-column>
    <p-column field="periodicidad" header="{{'periodicidad' | translate}}" [style]="{'width':'100px','text-align': 'center'}">
      <ng-template let-col let-item="rowData" pTemplate="body">
      <periodicidad (periodo)="setPeriodicidad($event, item.id, i)" [miperiodo]="item.periodicidad" [fechaPrevista]="item.fecha" [origen]="tipo" name="periodicidad"></periodicidad>
      </ng-template>
    </p-column>
    <p-column field="responsable" header="{{'responsable' | translate}}" [editable]="true"></p-column>

    <p-column header="{{'acciones' | translate}}">
      <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
          <span class="cell tooltip" matTooltip="{{'eliminar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" (click)="checkBorrar(item.id)" type="button">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span #saveTT="matTooltip" class="cell tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'right'">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" [disabled]="!guardar[item.id]" (click)="saveItem(item,i)" type="button">
        <span class="material-icons">check</span>
      </button>
    </span>
  <!-- <app-boton-incidencia class="incidenciaItem" id="botonIncidencia" [origen]="incidencia[item.id]"></app-boton-incidencia> -->
    
      </ng-template>   
    </p-column>
    <!-- <p-column field="orden" header="orden" [sortable]="true"></p-column>     -->
    <!-- <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer> -->
</p-dataTable>
 <!-- </div> -->

