
<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<!--<div class="cabeceraItems">-->
<!-- <div class="bocadilloarriba">
Probando otro bocadillo con el triangulo arriba.
</div> -->
<div class="table planes">
  <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" class="row addItem" #newItemForm="ngForm" (ngSubmit)="newItem()">
    <input type="hidden" [(ngModel)]="plan.id" name="id">
    <span class="cell">
      <input type="text" [placeholder]="'planificaciones.nombre' | translate" required [(ngModel)]="plan.nombre" name="nombre">
    </span>
    <span class="cell">
      <input type="text" [placeholder]="'planificaciones.descripcion' | translate" required [(ngModel)]="plan.descripcion" name="descripcion">
    </span>
    <!-- <span *ngIf="familias"  class="medium cell small">
        <select class="medium white-select small" required [(ngModel)]="plan.familia" name="familia">
          <option [disabled] value="null">{{'planificaciones.familia' | translate}}</option>
        <option *ngFor="let familia of familias" value="familia.id">{{familia.nombre}}</option>
      </select>
    </span> -->
    <span class="medium cell">
      <p-calendar [inputStyle]="{'width':'100px'}" placeholder="fecha" [(ngModel)]="plan.fecha" [locale]="es" dateFormat="dd/mm/yy"  name="fecha"></p-calendar>
    </span>

    <span class="cell">
      <periodicidad (periodo)="setPeriodicidad($event)" [miperiodo]="false" [fechaPrevista]="plan.fecha" [origen]="tipo"></periodicidad>
    </span>
      <span class="cell small">
      <input type="text" [placeholder]="'planificaciones.responsable' | translate" required [(ngModel)]="plan.responsable" name="responsable">
    </span>
      <!-- <span class="cell small">
        <app-permisos-limpieza [supervisor]="plan.supervisor"  (setSupervisor)="setSupervisor($event,plan)"></app-permisos-limpieza>
    </span> -->

     <span  class="cell"></span><!--Borrar-->
    <span class="cell tooltip" mdTooltip="{{'add' | translate}}" [mdTooltipPosition]="'above'">
      <button md-mini-fab color="accent" [disabled]="!newItemForm.form.valid" type="submit">
        <span class="material-icons">add</span>
      </button>
    </span>
  </form>
  <div style="height: 15px" ></div>
  <div class="header-row">
    <span class="header-cell">{{"planificaciones.nombre" | translate}}</span>
    <span class="medium header-cell">{{"planificaciones.descripcion" | translate}}</span>
    <!-- <span *ngIf="familias" class="medium header-cell">{{"planificaciones.familia" | translate}}</span> -->
    <span class="header-cell">{{"planificaciones.fecha" | translate}}</span>
    <span class="header-cell">{{"planificaciones.periodicidad" | translate}}</span>
     <span class="medium header-cell">{{"planificaciones.responsable" | translate}}</span>
    <!-- <span class="medium header-cell">{{"planificaciones.supervisor" | translate}}</span> -->
    <span class="header-cell"></span><!--Borrar-->
    <span class="header-cell"></span><!--Guardar-->
  </div>

<div class="divrow"  *ngFor="let item of planes; let i = index">
  <form class=" row"  #editItemForm="ngForm" (ngSubmit)="saveItem(editItemForm.value,i)">
    <input type="hidden" [(ngModel)]="item.id" name="id">
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" type="text" [(ngModel)]="item.nombre" name="nombre" (keyup)="itemEdited(item.id)">
    </span>
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" type="text" [(ngModel)]="item.descripcion" name="descripcion" (keyup)="itemEdited(item.id)">
    </span>
    <!-- <span *ngIf="familias" class="medium cell small">
        <select class="medium white-select small" required [(ngModel)]="item.familia" name="familia">
        <option  *ngFor="let familia of familias" value="familia.id">{{familia.nombre}}</option>
      </select>
    </span> -->
    <span class="medium cell">
      <p-calendar [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item.fecha"  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha)" name="fecha"></p-calendar>
    </span>
    <span class="cell">
      <periodicidad (periodo)="setPeriodicidad($event, item.id, i)" [miperiodo]="item.periodicidad" [fechaPrevista]="item.fecha" [origen]="tipo" name="periodicidad"></periodicidad>
    </span>
    <span class="cell">
      <input [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'  && empresasService.userTipo !== 'Mantenimiento'" type="text" [(ngModel)]="item.responsable" name="responsable" (keyup)="itemEdited(item.id)">
    </span>
      <!-- <span class="cell small">
        <app-permisos-limpieza [supervisor]="item.supervisor"  (setSupervisor)="setSupervisor($event,item)"></app-permisos-limpieza>
    </span> -->
    <span class="cell tooltip" mdTooltip="{{'eliminar' | translate}}" [mdTooltipPosition]="'left'">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" md-mini-fab color="primary" (click)="checkBorrar(item.id)" type="submit">
        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell tooltip" mdTooltip="{{'guardar' | translate}}" [mdTooltipPosition]="'right'">
      <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" md-mini-fab color="primary" [disabled]="!guardar[item.id]" type="submit">
        <span class="material-icons">check</span>
      </button>
    </span>

  </form>
</div>
</div>