<modal [modal]="modal" (onCerrar)="cerrarModal()"></modal>
<div class="login-form">
  <mat-card>
    <mat-card-title>
      <mat-toolbar color="accent">Login</mat-toolbar>
    </mat-card-title>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
      <mat-card-content>
        <input matInput class="full-width" type="text" required [placeholder]="'Usuario' | translate" 
          [(ngModel)]="usuario.user" name="user">
        <input matInput class="full-width" type="password" required [placeholder]="'Contraseña' | translate"
          [(ngModel)]="usuario.password" name="password">
        <label for="idioma">Seleccionar idioma</label>
        <select class="white-select" required [(ngModel)]="usuario.idioma" name="idioma">
          <option value="cat">Català</option>
          <option value="es">Castellano</option>
        </select>
      </mat-card-content>
      <mat-card-footer>
        <button mat-raised-button color="accent" type="submit" [disabled]="!loginForm.form.valid">
          Enviar
        </button>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
