.supervisionOk{
   /* background-color: #99cc99;*/
    background-color: lightgreen;
}
.supervisionFail{
    /*background-color: #ff7777;*/
    background-color: red;
}

.detalle{
    position: relative;
    padding-right: 7px;
}


.detalle:hover + .reason{
 /*   z-index: 10;
    display: flex;*/
}

.reason{
    display: flex;
    position: absolute;
    z-index: 100;
    background-color: #ddd;
    border: 1px double #000;
    height: 50px;
    width: 210px;
    left: -210px;
}

.ficha{
    position: absolute;
    margin: 10%;
    width: 90%;
    min-height: 90%;
    background-color: #fff
}

.iframeDiv{
    position: absolute !important;
    top: 50px;
    left: calc(50% - 200px);
    width: 400px;
    height: 300px;
    z-index: 999 !important;
    background-color: #d2d2d2;
    display: block;
    /* padding-left: 25%; */
    /* padding-right: 25%; */
    opacity: 0.98; 
}
.iframe{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #fff;
    display: block;
    opacity: 1; 
    max-height: 220px;
    max-width: 280px;
}
.botonCerrar{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 9999;
}
.plan_descripcion{
    width:38%;
    float:left;
    height: 80px;
}
.imagePanel{
    margin: 10%;
    width:30%;
}

.altPanel{
    height: 80px;
}

.inputlabel {
    margin-top: 0px;
    display: block;
    width: 140px;
    height: 35px;
    cursor: pointer;
    background-color: #ffd740;
    color: black;
    text-align: center;
    line-height: 35px;
    border-bottom: darkgray;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.inputlabelRound {
    margin-top: 20px;
    margin-left: 5px;
    display: block;
    width: 40px;
    height:40px;
    cursor: pointer;
    background-image: url('/assets/images/upload.png');
}
.disabled{
    opacity: 0.2;
}

.textareacontainer{
    height:170px;
}

.expander{
    width: 35px;
    min-height: 45px;
    position:absolute;
    left: 25px;
    margin-top: -15px;
    background-color: rgba(255, 255, 255, 0.1);
}

