<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<div class="modal" *ngIf="procesando">
  <mat-spinner></mat-spinner>
  </div>
<!-- <div class="table" style="width: 800px;">
<span class="tooltip" style="display:table-row-group " matTooltip="{{'configuracion.nuevoControl' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'above'">                         
  <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" class="row" #crearControlForm="ngForm" (ngSubmit)="crearControl(crearControlForm.value)">
    <input type="hidden" [(ngModel)]="nuevoControl.id" name="id">
    <span class="cell">
      <input type="text" [placeholder]="'Nombre' | translate" required [(ngModel)]="nuevoControl.nombre" name="nombre">
    </span>
    <span class="cell">
      <input type="text" placeholder="Pla" required [(ngModel)]="nuevoControl.pla" name="pla">
    </span>
    <span class="cell">
      <input class="small" type="text" [(ngModel)]="nuevoControl.valorminimo" name="valorminimo">
    </span>
    <span class="cell">
      <input class="small" type="text" [(ngModel)]="nuevoControl.valormaximo" name="valormaximo">
    </span>

    <span class="cell">
      <input class="small" type="text" [(ngModel)]="nuevoControl.critico" name="critico">
    </span>
    <span class="medium cell">
        <p-calendar [inputStyle]="{'width':'100px'}" placeholder="fecha" required [(ngModel)]="nuevoControl.fecha_" [locale]="es" dateFormat="dd/mm/yy"  name="fecha_"></p-calendar>
      </span>
    <span class="cell center">
        <periodicidad name="periodicidad" (periodo)="setPeriodicidad($event)" [miperiodo]="false" [fechaPrevista]="nuevoControl.fecha_" [origen]="tipo"></periodicidad>
      </span>
    <span class="cell"></span>
    <span class="cell">
      <button mat-mini-fab color="accent" [disabled]="!crearControlForm.form.valid || !nuevoControl.periodicidad2" type="submit">
        <span class="material-icons">add</span>
      </button>
    </span>
  </form>
</span>
  <div class="header-row">
    <span class="header-cell">Control</span>
    <span class="header-cell">Pla</span>
    <span class="header-cell right">min</span>
    <span class="header-cell right">max</span>

    <span class="header-cell right">crit</span>
    <span class="header-cell right">per</span>
    <span class="header-cell">{{'Periodo' | translate}}</span>
    <span class="header-cell"></span>
    <span class="header-cell"></span>
  </div>
</div>

<div style="margin-top:40px">
    
<p-dataTable #dt [value]="controles"  [csvSeparator]="';'" [exportFilename]="'Controles'"
[editable]="true"  [responsive]="false" (onEditInit)="onEdit($event)"
 sortField="orden" [sortOrder]="1" [tableStyle]="{'width':'800px'}">
 

<p-header>
  <div class="ui-helper-clearfix">
      <span class="cell tooltip" matTooltip="{{'exportar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">              
      <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
      </span>
      <span class="cell tooltip" matTooltip="{{'guardarOrden' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">              
          <button type="button" pButton [disabled]="!this.alertaGuardar['ordenar'] &&  !this.alertaGuardar['guardar']" icon="fa-floppy-o" iconPos="left" label="{{'guardarTodo'|translate}}" (click)="ordenar()"  style="float:left"></button>
          </span>
    </div>
</p-header>

<p-column field="orden" header="{{'orden' | translate}}" [sortable]="true" [style]="{'width':'70px'}">
  <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="header">    
  <mat-icon>import_export</mat-icon>
  </ng-template>
  <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">    

  <div class="orden" >
      <p-spinner size="5" [(ngModel)]="item.orden" [min]="1" [max]="controles.length"  (onChange)="editOrden()"></p-spinner> 
  </div>  
  </ng-template>
</p-column>


  <p-column field="nombre" header="{{'Control' | translate}}" [editable]="true"  [style]="{'width':'100px'}"></p-column>
  <p-column field="pla" header="{{'Pla' | translate}}"  [editable]="true" [style]="{'width':'100px'}"></p-column>
  <p-column field="valorminimo" header="{{'min' | translate}}"  [editable]="true"  [style]="{'width':'50px'}"></p-column>
  <p-column field="valormaximo" header="{{'max' | translate}}" [editable]="true"  [style]="{'width':'50px'}"></p-column>
  <p-column field="critico" header="{{'crit' | translate}}" [editable]="true"  [style]="{'width':'50px'}"></p-column>
  <p-column  field="fecha" header="{{'fecha' | translate}}" [sortable]="true" [style]="{'width':'110px'}">
      <ng-template let-col let-item="rowData" pTemplate="body" >      
      <p-calendar appendTo="body" [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item.fecha_"  [locale]="es" dateFormat="dd/mm/yy" (onSelect)="modificarControl(item.id)" name="fecha_"></p-calendar>
      </ng-template>
    </p-column>
 
  <p-column field="periodicidad" header="{{'periodicidad' | translate}}" [style]="{'width':'100px','text-align': 'center'}">
      <ng-template let-col let-item="rowData" pTemplate="body">
      <periodicidad (periodo)="setPeriodicidad($event, item.id, i)" [miperiodo]="item.periodicidad2" [fechaPrevista]="item.fecha_" [origen]="tipo" name="periodicidad"></periodicidad>
      </ng-template>
    </p-column>



  <p-column header="{{'acciones' | translate}}" [style]="{'width':'120px'}">
    <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
        <span class="cell tooltip" matTooltip="{{'eliminar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">
    <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" (click)="checkBorrar(item.id)" type="button">
      <span class="material-icons">close</span>
    </button>
  </span>
  <span class="cell tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'right'">
    <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" [disabled]="!guardar[item.id]" (click)="actualizarControl(item)" type="button">
      <span class="material-icons">check</span>
    </button>
  </span>
    </ng-template>   
  </p-column>

</p-dataTable>
  </div> -->



<periodicidadNew *ngIf="viewPeriodicidad" appendTo="body" (periodo)="setPeriodicidad($event, nuevoControl.id, i)" (activo)="closePeriodicidad($event)" [miperiodo]="viewPeriodicidad" [fechaPrevista]="nuevoControl.fecha_" [origen]="tipo" name="periodicidad"></periodicidadNew>
<!-- ********* INICIO TABLA REGISTROS-->
<p-table #DT [columns]="cols" [value]="controles" dataKey="id" (onEditInit)="onEdit($event)"
  [responsive]="true" sortField="orden" [sortOrder]="1"  [rows]="25"
  [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]"
  [style]="{'width':'100%','padding':'0px 25px 0px 25px','text-align':'left'}">
  <ng-template pTemplate="caption">
    <div style="text-align:left;margin-left:10px">
      <button *ngIf="!newRow" type="button" pButton icon="fa fa-plus" (click)="openNewRow()" label="{{'add' | translate}}"></button>
      <button *ngIf="newRow" type="button" pButton icon="fa fa-minus" (click)="openNewRow()" label="{{'cerrar' | translate}}"></button>
      <button type="button" pButton icon="fa fa-save" iconPos="left" label="{{'guardarTodo' | translate}}" (click)="saveAll()" style="margin-left:10px"></button>
      <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="{{'Download' | translate}}" (click)="exportarTable()" style="margin-left:10px;float:right"></button>

    </div>
  </ng-template>
  <!-- ********* INICIO CABECERA-->
  <ng-template pTemplate="header" let-columns>
    <span style="display:table-row">
      <th style="width: 3em"></th>
       <!--************ ORDEN ***************************-->
       <th style="width:50px">
                <mat-icon>import_export</mat-icon>
      </th>
     <!--************ FIN ORDEN ***************************-->
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width+'px'">
        {{col.header | translate}}
        <p-sortIcon *ngIf="col.orden" [field]="col.field"></p-sortIcon>
      </th>
      <th [style.width]="'95px'">
        {{'acciones' | translate}}
      </th>
    </span>
    <!-- ********* NUEVOREGISTRO   ***-->
    <span [ngClass]="{'NuevoRegistro':true,'NewRow':true,'NewRowOpen':newRow,'NewRowClose':!newRow}" style="display:table-row">
      <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente' || empresasService.userTipo == 'Mantenimiento'"
        class="formNewRegister" #creaForm="ngForm" (ngSubmit)="crearControl(creaForm.value)">
        <td style="width: 3em"></td>
<!--************ ORDEN/NUM REGS A CREAR ***************************-->
        <td  style="width:50px">
            <span class="tooltip" style="display:table-row-group " matTooltip="{{'configuracion.numControles' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'above'">                         
            <p-spinner size="5" [(ngModel)]="numNuevosItems" [min]="1" [max]="9"  (onChange)="nuevosItemsChange($event)" [ngModelOptions]="{standalone: true}"></p-spinner> 
            </span>
        </td>
<!--************ FIN ORDEN ***************************-->
        <td *ngFor="let col of columns" [ngClass]="{'rowRegistro':true}" [style.width]="col.width+'px'">
          <span *ngIf="col.type == 'std'">
            <input pInputText type="text" [required]="col.required" [(ngModel)]="nuevoControl[col.field]" style="margin-left:4px"
              [style.width]="(col.width -7)+'px'" [name]="col.field">
          </span>
          <span *ngIf="col.type == 'fecha'">
            <p-calendar [defaultDate]="" [required]="col.required" appendTo="body" [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="nuevoControl[col.field]"
              [locale]="es" dateFormat="dd/mm/yy" [name]="col.field"></p-calendar>
          </span>
            <span *ngIf="col.type == 'dropdown'">
              <p-dropdown [options]="getOptions([col.field])" [(ngModel)]="nuevoControl[col.field]" appendTo="body" [style]="{'width':'110px'}"
                (onChange)="itemEdited(item.id)" [name]="col.field"></p-dropdown>
            </span>
          <span *ngIf="col.type == 'periodicidad'">          
            <span class="tooltip" matTooltip="{{'maquinas.periodicidad' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
              [matTooltipPosition]="'right'">
              <input type="hidden" [required]="true" [(ngModel)]="nuevoControl['periodicidad2']" name="periodicidad2">              
              <button [disabled]="!nuevoControl['fecha_']" color="accent" type="button" [ngClass]="{'alert': alert }" mat-mini-fab (click)="openPeriodicidad(nuevoControl)">
                <span class="material-icons">event</span>
              </button>
            </span>
          </span>

        </td>

        <!-- ********* ACCIONES   ***-->
        <td>
          <span class="tooltip" matTooltip="{{'add' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
            [matTooltipPosition]="'above'">
            <button mat-mini-fab color="accent" [disabled]="!creaForm.form.valid" type="submit">
              <span class="material-icons">add</span>
            </button>
          </span>
          <span class="tooltip" matTooltip="{{'cancela' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
            [matTooltipPosition]="'above'">
            <button type="button" mat-mini-fab color="primary" (click)="openNewRow()" >
              <span class="material-icons">close</span>
            </button>
          </span>
        </td>
      </form>
    </span>

    <!-- ********* FIN NUEVOREGISTRO   ***-->
  </ng-template>
  <!-- ********* FIN CABECERA   ***-->


  <div class="tableContent">
  <ng-template pTemplate="body" let-item let-columns="columns" let-i="rowIndex" let-expanded="false">
    <!--let-expanded="expanded" -->
    <tr [pSelectableRow]="item" [ngClass]="{'rowImpar':i%2==0,'rowPar':i%2!=0}">
      <td><span *ngIf="expanded!=null">
          <a disabled href="#" [pRowToggler]="item">
            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
          </a></span>
      </td>
      <!--************ ORDEN ***************************-->
      <td>    
       <!-- <div class="up" (click)="goUp(i,$event,dt)"><mat-icon>arrow_drop_up</mat-icon></div>
      <div class="down" (click)="goDown(i,$event,dt)"><mat-icon>arrow_drop_down</mat-icon></div>  -->
      <div class="orden" >
          <p-spinner size="5" [(ngModel)]="item.orden" [min]="1" [max]="controles.length"  (onChange)="itemEdited(item.id) "></p-spinner> 
      </div>  
    </td>   
  <!--************ FIN ORDEN ***************************-->
      <td *ngFor="let col of columns" [ngClass]="{'rowRegistro':true}" [pEditableColumn]="item" [pEditableColumnField]="col">
          <span *ngIf="col.type == 'dropdown'">
              <p-dropdown  [options]="getOptions([col.field])" [(ngModel)]="item[col.field]" appendTo="body" [style]="{'width':'110px'}"
                (onChange)="itemEdited(item.id)"></p-dropdown>
            </span>
            <span *ngIf="col.type == 'periodicidad'">
              <span class="tooltip" matTooltip="{{'maquinas.periodicidad' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
              [matTooltipPosition]="'right'">
              <button [disabled]="!item['fecha_']" color="accent" type="button"  [ngClass]="{'red':item['periodicidad2']=='true'}" mat-mini-fab (click)="openPeriodicidad(item)">
                <span class="material-icons">event</span>
              </button>
            </span>
          </span>

        <p-cellEditor>
          <!-- ********* VER DATA   ***-->
          <ng-template pTemplate="output">
            <span *ngIf="col.type =='std'">
              {{item[col.field]}}
            </span>
              <span *ngIf="col.type == 'fecha'">
                  {{item[col.field] | date:"dd-MM-yyyy"}}
            </span>
          </ng-template>
          <!-- ********* EDIT DATA   ***-->
          <ng-template pTemplate="input">
            <span *ngIf="col.type == 'std'">
              <input pInputText type="text" [(ngModel)]="item[col.field]" [style.width]="(col.width -7)+'px'">
            </span>
            <span *ngIf="col.type == 'fecha'">
              <p-calendar [defaultDate]="" appendTo="body" [inputStyle]="{'width':'100px'}" class="medium" [(ngModel)]="item[col.field]"
                [locale]="es" dateFormat="dd/mm/yy" (onSelect)="itemEdited(item.id,item.fecha)" name="fecha"></p-calendar>
            </span>
            <!--****** FIN ********************-->
          </ng-template>
        </p-cellEditor>
      </td>

      <!--*****  ACCIONES  *********-->
      <td>
        <span class="tooltip" matTooltip="{{'eliminar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
          [matTooltipPosition]="'left'">
          <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary"
            (click)="checkBorrar(item.id)" type="button">
            <span class="material-icons">close</span>
          </button>
        </span>
        <span class="tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips"
          [matTooltipPosition]="'right'">
          <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary"
            [disabled]="!guardar[item.id]" (click)="actualizarControl(item)" type="button">
            <span class="material-icons">check</span>
          </button>
        </span>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary" let-item>
  </ng-template>
</div>

  <!-- ********* EXPANSION-->
  <!-- <ng-template pTemplate="rowexpansion" let-item let-columns="columns">
    <tr>
      <td [attr.colspan]="columns.length + 2">
        <div style="text-align:center">
          <img [attr.alt]="item.foto" src="assets/showcase/images/noimage.png">
        </div>
      </td>
    </tr>
  </ng-template> -->
</p-table>

<!-- ********* FIN TABLA REGISTROS-->

<div class="modal" *ngIf="exportando">
    <app-download-informe [informeData]="informeData" (informeRecibido)="informeRecibido($event)"></app-download-informe>
</div>

<div class="leyenda" [innerHTML]="'pieControles' | translate"></div>
