<div class="table">
<div class="header-row">
    <span class="header-cell" style="width:70%">{{'Modulos' | translate}}</span>
    <span class="header-cell">{{'Estado' | translate}}</span>
  </div>
        <form class="row" *ngFor="let opcion of opciones; let i = index"
        #actualizarCCLf="ngForm" (ngSubmit)="actualizarOpcion(opcion.id,i)">
          <span class="cell">
         {{'premium.'+opcion.nombre | translate}}
        </span>
        <span class="cell">
         <mat-checkbox [disabled]="!empresasService.administrador"  [checked]="opcionesempresa[opcion.id]" (change)="actualizarOpcion(opcion.id, i)">
        </mat-checkbox>
        </span>
        </form>
</div>

