<div class="table">
        <div class="header-row">
            <span class="header-cell" style="width:70%">{{'Opcion' | translate}}</span>
            <span class="header-cell">{{'Estado' | translate}}</span>
          </div>
          <div class="row">
                  <span class="cell">
                 {{'alertas.showTooltips' | translate}}
                </span>
               
                <span class="cell">
                 <mat-checkbox [(ngModel)]="empresasService.showTooltips" (change)="actualizarOpcion('tooltips')">
                </mat-checkbox>
                </span>
                </div>
                <div class="row">
                  <span class="cell">
                 {{'alertas.showAlerts' | translate}}
                </span>
                <span class="cell">
                 <mat-checkbox [(ngModel)]="empresasService.showAlerts" (change)="actualizarOpcion('alertas')">
                </mat-checkbox>
                </span>
                </div>
        </div>