<div class="table">
        <div class="header-row">
            <span class="header-cell">{{'Opcion' | translate}}</span>
            <span class="header-cell">{{'Estado' | translate}}</span>
          </div>
          <div class="row">
                  <span class="cell">
                 {{'alertas.noTooltips' | translate}}
                </span>
               
                <span class="cell">
                 <md-checkbox [(ngModel)]="empresasService.noTooltips" (change)="actualizarOpcion('tooltips')">
                </md-checkbox>
                </span>
                </div>
                <div class="row">
                  <span class="cell">
                 {{'alertas.showAlerts' | translate}}
                </span>
                <span class="cell">
                 <md-checkbox [(ngModel)]="empresasService.showAlerts" (change)="actualizarOpcion('alertas')">
                </md-checkbox>
                </span>
                </div>
        </div>