<!-- <div class="seleccionar-usuario">
  <h2>{{'Usuario' | translate}}</h2>
  <form>
    <select #listUsuarios (change)="seleccionarUsuario($event.target.value)">
      <option *ngFor="let usuario of usuarios" [value]="usuario.id">
        {{usuario.usuario}}
      </option>
    </select>
  </form>
</div> -->
<div class="seleccionar-usuario">
  <h2>{{'Usuario' | translate}}</h2>
<div style="margin-top:40px">  
  <p-dataTable #dt [value]="usuarios" 
   [responsive]="false"
  [tableStyle]="{'width':'300px'}"
   (onRowSelect)="onUserSelect($event)"
  [rows]="25" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,25,50]">
  <p-column [style]="{'width':'38px'}" selectionMode="single" >
      <ng-template  pTemplate="header">
          <span class="tooltip" mdTooltip="{{'configuracion.selecciona' | translate}}" [mdTooltipDisabled]="!empresasService.showTooltips" [mdTooltipPosition]="'above'">                           
            Sel.
          </span>   
      </ng-template>
  </p-column>
  <p-column field="usuario" header="{{'Usuario' | translate}}" [editable]="true"  [style]="{'width':'262px'}"></p-column>
  </p-dataTable>
  </div>
</div>
  <div class="marcar-controles" *ngIf="usuarioSeleccionado != 0">
    <h2>{{'Controles' | translate}}</h2>
  <div style="margin-top:40px">  
    <p-dataTable #dt [value]="controles" 
    [tableStyle]="{'width':'320px'}"
    [rows]="25" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,25,50]">
    <p-column field="nombre" header="{{'Control' | translate}}" [editable]="true"  [style]="{'width':'220px'}"></p-column>
    <p-column header="{{'Permiso' | translate}}" [style]="{'width':'100px'}">
      <ng-template let-col let-control="rowData" let-i="rowIndex" pTemplate="body">
        <md-checkbox [disabled]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'"  [checked]="checkControl[control.id]" (change)="changeControl(control.id)">
          {{'Permitido' | translate}}
        </md-checkbox>
      </ng-template>
  </p-column>
    </p-dataTable>
    </div>
  </div>
<!-- 
<div class="marcar-controles" *ngIf="usuarioSeleccionado != 0">
  <h2>{{'Controles' | translate}}</h2>
  <div class="table">
    <div class="header-row">
      <span class="header-cell">Control</span>
      <span class="header-cell">{{'Permiso' | translate}}</span>
    </div>
    <div class="row" *ngFor="let control of controles">
      <span class="cell">
        {{control.nombre}}
      </span>
      <span class="cell">
        <md-checkbox [disabled]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'"  [checked]="checkControl[control.id]" (change)="changeControl(control.id)">
          {{'Permitido' | translate}}
        </md-checkbox>
      </span>
    </div>
  </div>
</div> -->

<!-- <div class="marcar-checklists" *ngIf="usuarioSeleccionado != 0">
  <h2>Checklists</h2>
  <div class="table">
    <div class="header-row">
      <span class="header-cell">Control</span>
      <span class="header-cell">{{'Permiso' | translate}}</span>
    </div>
    <div class="row" *ngFor="let checklist of checklists">
      <span class="cell">
        {{checklist.nombrechecklist}}
      </span>
      <span class="cell">
        <md-checkbox [disabled]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" [checked]="checkChecklist[checklist.id]" (change)="changeChecklist(checklist.id)">
          {{'Permitido' | translate}}
        </md-checkbox>
      </span>
    </div>
  </div>
</div> -->
<div class="marcar-checklists" *ngIf="usuarioSeleccionado != 0">
  <h2>Checklists</h2>
<div style="margin-top:40px">  
  <p-dataTable #dt [value]="checklists" 
  [tableStyle]="{'width':'320px'}"
  [rows]="25" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,25,50]">
  <p-column field="nombrechecklist" header="{{'Checklist' | translate}}" [editable]="true"  [style]="{'width':'220px'}"></p-column>
  <p-column header="{{'Permiso' | translate}}" [style]="{'width':'100px'}">
    <ng-template let-col let-checklist="rowData" let-i="rowIndex" pTemplate="body">
      <md-checkbox [disabled]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" [checked]="checkChecklist[checklist.id]" (change)="changeChecklist(checklist.id)">
        {{'Permitido' | translate}}
      </md-checkbox>
    </ng-template>
</p-column>
  </p-dataTable>
  </div>
</div>