<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>
<div class="modal" *ngIf="procesando">
  <mat-spinner></mat-spinner>
  </div>

<span class="tooltip" matTooltip="{{'configuracion.nuevoUsuario' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'above'">         
<div class="table">
    <div class="header-row">
        <span class="header-cell">{{'Usuario' | translate}}</span>
        <span class="header-cell">{{'Contraseña' | translate}}</span>
        <span class="header-cell">{{'Tipo' | translate}}</span>
        <span class="header-cell">{{'Mantenimiento' | translate}}</span>
        <span class="header-cell">email</span>
        <span class="header-cell">{{'add' | translate}}</span>
      </div>
  <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" class="row addItem" #crearUsuarioForm="ngForm" (ngSubmit)="crearUsuario(crearUsuarioForm.value)">
    <span class="cell">
      <input type="text" [placeholder]="'Usuario' | translate" required [(ngModel)]="nuevoUsuario.usuario" name="usuario">
    </span>
    <span class="cell">
      <input type="text" [placeholder]="'Contraseña' | translate" required [(ngModel)]="nuevoUsuario.password" name="password">                
    </span>
    <span class="cell">
      <select class="white-select" required [(ngModel)]="nuevoUsuario.tipouser" name="tipouser">
        <option value="Operario">{{'Operario' | translate}}</option>
        <option value="Gerente">{{'Gerente' | translate}}</option>
        <option value="Mantenimiento">{{'Mantenimiento' | translate}}</option>
        <option *ngIf="empresasService.administrador" value="Administrador">Administrador</option>
      </select>
    </span>
    <span class="cell">
      <select class="white-select" required [(ngModel)]="nuevoUsuario.superuser" name="superuser">
        <option value="0">{{'Desactivado' | translate}}</option>
        <option value="1">{{'Activado' | translate}}</option>
      </select>
    </span>   
    <span class="cell">
      <input type="text" [placeholder]="'email' | translate" required [(ngModel)]="nuevoUsuario.email" name="email">
    </span>
    <span class="cell">
        <span class="tooltip" matTooltip="{{'add' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">                        
      <button mat-mini-fab color="accent" [disabled]="!crearUsuarioForm.form.valid" type="submit">
        <span class="material-icons">add</span>
      </button>
        </span>
    </span>
  </form>
</div>
</span>



  <div style="margin-top:40px;width:900px">
      
<p-dataTable #dt [value]="usuarios" [csvSeparator]="';'" [exportFilename]="'Usuarios'"
[editable]="true"  [responsive]="false" (onEditInit)="onEdit($event)" 
sortField="orden" [sortOrder]="1"  [tableStyle]="{'width':'900px'}">
<!-- ********** HEADER  ORDEN    -->
<p-header [style]="{'width':'900px'}">
  <div class="ui-helper-clearfix">
      <span class="cell tooltip" matTooltip="{{'exportar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">              
      <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
      </span>
      <span class="cell tooltip" matTooltip="{{'guardarOrden' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">              
          <button type="button" pButton [disabled]="!this.alertaGuardar['ordenar'] &&  !this.alertaGuardar['guardar']" icon="fa-floppy-o" iconPos="left" label="{{'guardarTodo'|translate}}" (click)="ordenar()"  style="float:left"></button>
          </span>
    </div>
</p-header>
<!-- **********  FIN HEADER ORDEN    -->
<!-- **********  ORDEN    -->
<p-column field="orden" header="{{'orden' | translate}}" [sortable]="true" [style]="{'width':'70px'}">
  <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="header">    
  <mat-icon>import_export</mat-icon>
  </ng-template>
  <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">    
   <!-- <div class="up" (click)="goUp(i,$event,dt)"><mat-icon>arrow_drop_up</mat-icon></div>
  <div class="down" (click)="goDown(i,$event,dt)"><mat-icon>arrow_drop_down</mat-icon></div> -->
  <!-- <div class="orden" >{{item.orden}}</div>         -->
  <div class="orden" >
      <p-spinner size="5" [(ngModel)]="item.orden" [min]="1" [max]="usuarios.length"  (onChange)="editOrden()"></p-spinner> 
  </div>  
  </ng-template>
</p-column>
<!-- **********  FIN ORDEN    -->

  <p-column field="usuario" header="{{'Usuario' | translate}}" [editable]="true"  [style]="{'width':'100px'}"></p-column>
  <p-column field="password" header="{{'Contraseña' | translate}}"  [editable]="true" [style]="{'width':'100px'}"></p-column>
  <p-column field="tipouser" header="{{'Tipo' | translate}}">
          <ng-template  let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
              <p-dropdown *ngIf="item.tipouser != 'Administrador'" [panelStyleClass]="clase"  appendTo="body" [options]="tipos" [(ngModel)]="item.tipouser" [style]="{'width':'130px'}" (onChange)="itemEdited(item.id)">

              </p-dropdown>
            </ng-template>
    
      <!-- <select class="white-select" required [(ngModel)]="item.tipouser" name="tipouser">
          <option value="Operario">{{'Operario' | translate}}</option>
          <option value="Gerente">{{'Gerente' | translate}}</option>
          <option value="Mantenimiento">{{'Mantenimiento' | translate}}</option>
          <option *ngIf="empresasService.administrador" value="Administrador">Administrador</option>
        </select> -->
  </p-column>
  <p-column field="email" header="{{'email' | translate}}"  [editable]="true"  [style]="{'width':'190px'}"></p-column>
  <p-column field="superuser" header="{{'Mantenimiento' | translate}}"  [style]="{'width':'150px'}">
    <ng-template  let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
      <p-dropdown  [panelStyleClass]="clase"  appendTo="body" [options]="superusers" [(ngModel)]="item.superuser" [style]="{'width':'140px'}" (onChange)="itemEdited(item.id)">

      </p-dropdown>
    </ng-template>
  </p-column>




  <p-column header="{{'acciones' | translate}}">
    <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
        <span class="cell tooltip" matTooltip="{{'eliminar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'left'">
    <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" (click)="checkBorrar(item.id)" type="button">
      <span class="material-icons">close</span>
    </button>
  </span>
  <span class="cell tooltip" matTooltip="{{'guardar' | translate}}" [matTooltipDisabled]="!empresasService.showTooltips" [matTooltipPosition]="'right'">
    <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" mat-mini-fab color="primary" [disabled]="!guardar[item.id]" (click)="saveItem(item.id)" type="button">
      <span class="material-icons">check</span>
    </button>
  </span>
    </ng-template>   
  </p-column>

</p-dataTable>
  </div>