<modal [modal]="modal" (onCerrar)="cerrarModal($event)"></modal>

<span class="tooltip" mdTooltip="{{'maquinas.nuevoLubricante' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'above'">         
<div class="table">
    <div class="header-row">
        <span class="header-cell">{{'Usuario' | translate}}</span>
        <span class="header-cell">{{'Contraseña' | translate}}</span>
        <span class="header-cell">{{'Tipo' | translate}}</span>
        <span class="header-cell">email</span>
      </div>
  <form *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" class="row addItem" #crearUsuarioForm="ngForm" (ngSubmit)="crearUsuario(crearUsuarioForm.value)">
    <span class="cell">
      <input type="text" [placeholder]="'Usuario' | translate" required [(ngModel)]="nuevoUsuario.usuario" name="usuario">
    </span>
    <span class="cell">
      <input type="text" [placeholder]="'Contraseña' | translate" required [(ngModel)]="nuevoUsuario.password" name="password">                
    </span>
    <span class="cell">
      <select class="white-select" required [(ngModel)]="nuevoUsuario.tipouser" name="tipouser">
        <option value="Operario">{{'Operario' | translate}}</option>
        <option value="Gerente">{{'Gerente' | translate}}</option>
        <option value="Mantenimiento">{{'Mantenimiento' | translate}}</option>
        <option *ngIf="empresasService.administrador" value="Administrador">Administrador</option>
      </select>
    </span>
    <span class="cell">
        <span class="tooltip" mdTooltip="{{'add' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'left'">                        
      <button md-mini-fab color="accent" [disabled]="!crearUsuarioForm.form.valid" type="submit">
        <span class="material-icons">add</span>
      </button>
        </span>
    </span>
  </form>
</div>
</span>
  <!-- <form class="row" #actualizarUsuarioForm="ngForm" (ngSubmit)="actualizarUsuario(usuario.id)" *ngFor="let usuario of usuarios">
    <span class="cell">

      <input type="text" [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" [(ngModel)]="usuario.usuario" name="modUsuario" (keyup)="modificarUsuario(usuario.id)">
    </span>
    <span class="cell">
      <input type="text" [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" [(ngModel)]="usuario.password" name="modPassword" (keyup)="modificarUsuario(usuario.id)">
    </span>
    <span class="cell">
      <select class="white-select" [disabled]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" [(ngModel)]="usuario.tipouser" name="modTipo" (change)="modificarUsuario(usuario.id)">

        <option value="Operario">{{'Operario' | translate}}</option>
        <option value="Gerente">{{'Gerente' | translate}}</option>
        <option value="Mantenimiento">{{'Mantenimiento' | translate}}</option>
        <option *ngIf="empresasService.administrador" value="Administrador">Administrador</option>
      </select>
    </span>
        <span class="cell">

      <input type="text" [readonly]="!empresasService.administrador && empresasService.userTipo !== 'Gerente'" [(ngModel)]="usuario.email" name="modEmail" (keyup)="modificarUsuario(usuario.id)">
    </span>
    <span class="cell">

      <button md-mini-fab *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" color="primary" (click)="checkBorrar(usuario.id)" type="submit">

        <span class="material-icons">close</span>
      </button>
    </span>
    <span class="cell">

      <button md-mini-fab *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" color="primary" [disabled]="!guardar[usuario.id]" type="submit">

        <span class="material-icons">check</span>
      </button>                
    </span>
  </form> -->




  <div style="margin-top:40px">
      
<p-dataTable #dt [value]="usuarios" 
[editable]="true"  [responsive]="false" (onEditInit)="onEdit($event)"
[tableStyle]="{'width':'700px'}">
 
  <p-column field="usuario" header="{{'Usuario' | translate}}" [editable]="true"  [style]="{'width':'100px'}"></p-column>
  <p-column field="password" header="{{'Contraseña' | translate}}"  [editable]="true" [style]="{'width':'100px'}"></p-column>
  <p-column field="tipouser" header="{{'Tipo' | translate}}"  [editable]="true">
          <ng-template  let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
              <p-dropdown [panelStyleClass]="clase"  appendTo="body" [options]="tipos" [(ngModel)]="item.tipouser" [style]="{'width':'130px'}" (onChange)="itemEdited(item.id)">

              </p-dropdown>
            </ng-template>
    
      <!-- <select class="white-select" required [(ngModel)]="item.tipouser" name="tipouser">
          <option value="Operario">{{'Operario' | translate}}</option>
          <option value="Gerente">{{'Gerente' | translate}}</option>
          <option value="Mantenimiento">{{'Mantenimiento' | translate}}</option>
          <option *ngIf="empresasService.administrador" value="Administrador">Administrador</option>
        </select> -->
  </p-column>
  <p-column field="email" header="{{'email' | translate}}"  [editable]="true"  [style]="{'width':'190px'}"></p-column>
  



  <p-column header="{{'acciones' | translate}}">
    <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
        <span class="cell tooltip" mdTooltip="{{'eliminar' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'left'">
    <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" md-mini-fab color="primary" (click)="checkBorrar(item.id)" type="button">
      <span class="material-icons">close</span>
    </button>
  </span>
  <span class="cell tooltip" mdTooltip="{{'guardar' | translate}}" [mdTooltipDisabled]="empresasService.noTooltips" [mdTooltipPosition]="'right'">
    <button *ngIf="empresasService.administrador || empresasService.userTipo == 'Gerente'" md-mini-fab color="primary" [disabled]="!guardar[item.id]" (click)="saveItem(item,i)" type="button">
      <span class="material-icons">check</span>
    </button>
  </span>
    </ng-template>   
  </p-column>

</p-dataTable>
  </div>