<mat-card class="cardAdmin" [ngStyle]="{'height':altura}">
    <mat-card-header >
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title class="dashTitle">{{'Dashboard.incidenciasST' | translate}}</mat-card-title>
      <!-- <mat-card-subtitle>{{'Dashboard.incidenciasST' | translate}}</mat-card-subtitle> -->
      
    </mat-card-header>
    <!-- <img mat-card-image src="" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <mat-accordion class="example-headers-align">
        <mat-expansion-panel (closed)="closePanel(0)" (opened)="openPanel(0)" *ngFor="let empresa of empresas">
            <mat-expansion-panel-header> 
                  <mat-panel-title >         
                    {{empresa["nombre"]}} <mat-chip-list class="chip"> <mat-chip  color="primary" selected>{{empresa['incidencias'].length}}</mat-chip></mat-chip-list>
                  </mat-panel-title> 
                
                   <!-- <mat-panel-description>
                    {{'para realizar'|translate}}
                  </mat-panel-description> -->
                </mat-expansion-panel-header> 

      <mat-list class="sombraListado">
        
        <mat-list-item *ngFor="let incidencia of empresa['incidencias']" (click)="gotoOrigen(incidencia,empresa['nombre'])" class="elem"  [ngClass]="{'sinDefinir':incidencia.estado==-1,'noAplica':incidencia.estado==0,'abierto':incidencia.estado==1,'cerrado':incidencia.estado==2}">
            <!-- <span>  -->
              {{incidencia.incidencia}} 
          <!-- {{incidencia.origen}} -->
            <!-- </span> -->
        </mat-list-item>
       
      </mat-list>
    </mat-expansion-panel>
        </mat-accordion>
      <mat-spinner *ngIf="calculando"></mat-spinner>  
      <!-- <p-chart type="line" [data]="data"  *ngIf="!calculando"></p-chart> -->
  
    </mat-card-content>
    
    <mat-card-actions     style="position: absolute !important;bottom: 15px;">
        <button [ngClass]="{'selected2':dias==1}" mat-button (click)="loadResultados(1)">1 {{'dia' | translate}}</button>
        <button [ngClass]="{'selected2':dias==7}" mat-button (click)="loadResultados(7)">7 {{'dias' | translate}}</button>
        <button [ngClass]="{'selected2':dias==14}" mat-button (click)="loadResultados(14)">30 {{'dias' | translate}}</button>
      </mat-card-actions>
  </mat-card>